[2015-02-10 20:58] ibuildthecloud opened #1 "Hitting CTRL+P, CTRL+Q freezes up the kernel"

[2015-02-17 15:39] ibuildthecloud opened #4 "Rollback of container doesn't work (rename issue)"

[2015-02-17 15:40] ibuildthecloud opened #5 "Can't update a container that has restart=always"

[2015-02-17 15:40] ibuildthecloud opened #6 "Specifiy custom docker version in `docker version`"

[2015-02-18 20:46] ibuildthecloud opened #9 "base image /var paths are all wrong and symlinked to /tmp"

[2015-02-19 06:26] ibuildthecloud opened #12 "upgrade utility"

[2015-02-19 06:26] ibuildthecloud opened #13 "ubuntu console"

[2015-02-19 06:26] ibuildthecloud opened #14 "centos console"

[2015-02-19 06:27] ibuildthecloud opened #15 "fedora console"

[2015-02-19 06:27] ibuildthecloud opened #16 "debian console"

[2015-02-19 06:27] ibuildthecloud opened #17 "feature support"

[2015-02-19 06:27] ibuildthecloud opened #18 "deploy on aws"

[2015-02-19 06:29] ibuildthecloud opened #19 "rancher user"

[2015-02-19 06:29] ibuildthecloud opened #20 "enable ssh"

[2015-02-19 06:30] ibuildthecloud opened #21 "console-tools"

[2015-02-19 14:30] ibuildthecloud opened #22 "updater"

[2015-02-19 14:33] #1 closed, assigned to nobody

[2015-02-19 15:35] ibuildthecloud opened #23 "why doesn't rancherctl config export --full have id for systemContainers"

[2015-02-19 15:35] ibuildthecloud opened #24 "add user contianers support"

[2015-02-19 18:13] ibuildthecloud opened #25 "weird mounts show up in the console container"
Why???

[code]

[2015-02-19 20:41] ibuildthecloud opened #26 "switch tlsconf to codegansta cli"

[2015-02-20 19:31] ibuildthecloud opened #28 "power functions should check for root user"
Example of running poweroff as user on ubuntu

[code]

[2015-02-20 23:46] cloudnautique opened #30 "Support the shutdown command"
Its something people do.

Vagrant runs:
shutdown -h now

when a user does a vagrant halt

[2015-02-21 16:25] sheng-liang opened #32 "Cannot see /dev/sda under VMware Workstation"
Booted the 0.0.3 iso under VMware Workstation. I have a 20G disk setup in VMware with default SCSI 0:0

[2015-02-21 16:26] sheng-liang opened #33 "Got a go panic when run poweroff"
In the latest 0.0.3 release, if I run poweroff as rancher user, I get a go panic.

sudo poweroff works

[2015-02-23 19:04] cloudnautique opened #38 "Kill SSH connections off during reboot"
When rebooting the SSH connections aren't closed. The client is left hanging until the timeout or you kill the ssh process.

[2015-02-24 09:41] sheng-liang opened #39 "Bad output in "top" command"
There seems to be a bug in busybox top command:

Mem: 449532K used, 159356K free, 0K shrd, 0K buff, 139914323006485K cached
CPU:   0% usr   0% sys   0% nic  99% idle   0% io   0% irq   0% sirq
Load average: 0.00 0.01 0.05 1/111 598
  PID  PPID USER     STAT   VSZ %VSZ %CPU COMMAND
    1     0 root     S     700m 118%   0% docker -d -s overlay -b none --restart
  208     1 root     S     485m  81%

[2015-02-24 23:44] ibuildthecloud opened #43 "Userdocker keeps restarting"
Looking at /var/log/userdocker.log you see

[code]

[2015-02-25 09:40] arthurbarr opened #44 "Segmentation fault for "ip addr show""
Running the command `ip addr show` results in a segmentation fault.  Running `ifconfig` works OK.

[code]

[2015-02-25 13:05] sammcj opened #45 "SELinux Support"
SELinux and / or GRSecurity would greatly improve the potential for rancher to be used in production environments.

[2015-02-25 13:16] gschukin opened #46 "EC2 compatible image in addition to AMI"
Please publish EC2 compatible image in addtion to AMI.

[2015-02-25 16:50] cloudnautique commented on #46
Just to clarify, do you mean just a raw disk image that you can lay down?

[2015-02-25 17:34] gschukin commented on #46
Yes, we have our own private EC2 compatible cloud, that can understand qcow2 format.

[2015-02-25 18:26] ibuildthecloud commented on #20
@cloudnautique I keep meaning to update the sshd_config.  Can you send a link for amazon's recommended settings.

[2015-02-25 18:28] ibuildthecloud commented on #45
It's important that we do stick with a stock Linux kernel, but I think the idea of a GRSec flavor in addition to the stock kernel is interesting.  I'm general I'd like people to be able to build their own custom kernel.  I'll keep that in mind and hopefully come up with a simple way to swap out the kernel to one of your choosing.

SELinux is definitely on our roadmap.

[2015-02-25 18:33] ibuildthecloud commented on #44
This is all busybox stuff.  I've noticed this one too.  If you run dmesg or look at /var/log/messages it will show the actual segfault address.  Since we strip the binaries of all debug symbols it's difficult to debug.  I think I need to produce the debug symbols to we can more easily troubleshoot issue like this.

[2015-02-25 18:34] defunctzombie opened #49 "What file system is used?"
I can't seem to find details on what file system is being used by default. Apologies if I did not look hard enough.

[2015-02-25 19:08] cloudnautique commented on #49
The AMIs and Vagrant box are all using ext4 for the state drive. If you boot from the ISO your running in memory. The docker storage driver is using OverlayFS.

[2015-02-25 19:10] defunctzombie commented on #49
Thanks! Maybe this can find a place somewhere in the docs. For now it will be in issues incase anyone searches for it.

[2015-02-25 19:10] #49 closed

[2015-02-26 02:26] runseb opened #50 "how do I create a second network interface ?"
I did not look deep into it, but it seems to be missing some network drivers/device.

[2015-02-26 02:34] ibuildthecloud commented on #50
It's basically hard coded to one nic right now.  We will add proper multinic management.  In the time being since it's just docker you can run "docker run --privileged --net=host debian dhclient eth1" or something similar to that.  I haven't actually ran that command and don't know if dhclient is in that image by default.

[2015-02-26 02:55] ailispaw commented on #50
I put another config for eth1 into /etc/network/interface like debian.

[code]

It may need `ifdown` and `ifup` before and after modification.

[2015-03-02 16:06] ibuildthecloud opened #59 "127.0.0.1 is not assigned to lo in system-docker"
The networking does not initialize lo with 127.0.0.1 in the host namespace.  For a temporary work around just run

    sudo system-docker --net=host --privileged debian ip addr add 127.0.0.1/8 dev lo

[2015-03-02 17:48] #59 closed

[2015-03-02 21:48] dudymas opened #61 "device out of space error when running iso on openstack/qemu"
Given a virtual machine with the following stats:

  4 VCPUs
  8 GB RAM
  80 GB HDD

Running the latest rancheros.iso on qemu on openstack juno.

I expect that pulling two images, sameersbn/gitlab:7.8.1 and sameersbn/redis:latest , will succeed (assume the rancher-agent image already ran successfully).

Instead, the pull fails with 'no space remaining'. If I install docker on a trusty-taur vm of s

[2015-03-02 21:57] ibuildthecloud commented on #61
If you run from the ISO, RancherOS looks for a partition labels with RANCHER_STATE.  You can look at the readme for the exact command to create that.  If RancherOS can't find that filesystem it will just run out of memory.  I suspect you are running out of memory.

We have a to disk installer coming soon that would hopefully make it easier to run in Openstack.

@cloudnautique what's the easiest wa

[2015-03-03 01:50] ricardsonwilliams opened #63 "The vagrant feature “Synced folders” is not working on RancherOS… missed rsync?"

[2015-03-03 02:06] ibuildthecloud commented on #63
Is that all that is needed?  Just SSH+rsync?   We don't have rsync today, but we could add it.

[2015-03-03 02:12] ricardsonwilliams commented on #63
yes :) I think based the below error that only "rsync" should be add into rancherOS

==> default: Machine booted and ready!
"rsync" was not detected as installed in your guest machine. This
is required for rsync synced folders to work. In addition to this,
Vagrant doesn't know how to automatically install rsync for your
machine, so you must do this manually.

[2015-03-03 04:20] ibuildthecloud commented on #63
No problem.  We should do a smaller release within the next release and we'll include rsync.

[2015-03-03 08:40] runseb opened #65 "Add AMI in European and APAC zones"
Hi, it seems that there are only AMI in US zones.
Could you add some for the european and APAC zones ?
thanks

[2015-03-03 10:31] runseb opened #66 "userdata on EC2"
It seems that if we pass some user-data to start a rancheros instance on EC2, a #cloud-config file will conflict with the keypair being used. Hence using the keypair to ssh into the instance fails.

I have not checked logs, but without specifying #cloud-config user data, ssh using the keypair works.

[2015-03-03 12:20] dudymas commented on #61
Awesome! Could I possibly fashion a metadata piece for this?

I'm sorta new to editing iso's, but I was looking at the scripts... I bet I could use the CoreOs libs for reading cloud-init's if you guys would allow it.

[2015-03-03 14:05] ibuildthecloud commented on #65
We'll try to get more images out there.  We definitely want to support all of the regions.  Our procedure for the first was release was a bit manual so if was just too time consuming to upload all the images.  It is being automated now.

@cloudnautique is there anything that @runseb could look at to try to create his own image for a different region?  Granted it will be beta-ish quality.

[2015-03-03 14:06] ibuildthecloud commented on #66
@sidharthamani Can you look into this?

[2015-03-03 14:10] ibuildthecloud commented on #61
@dudymas If you are running qemu w/ OpenStack I would assume that it is using virtio so the device would /dev/vda that you would want to format.

We only turn on 169.254.169.254 for the EC2 images, I believe if we turned it on for ISO then the boot maybe hang indefinitly waiting for 169.254.  We could make it a kernel command line option, but then that wouldn't be useful to OpenStack.

We want to

[2015-03-04 14:13] dudymas commented on #61
Since this has a lot of good workarounds, AND there's going to be an installer, I'm considering this closed. Feel free to reopen if you'd rather use the issue to track the installer fellow.

Also, I'm going to be making a packer for rancher internally... but I'm pretty sure I could make it a PR if you guys like packer... thoughts?

[2015-03-04 14:13] #61 closed

[2015-03-04 14:41] ibuildthecloud commented on #61
I believe packer is going to be our official approach to building images.  It's a WIP but you can see what @cloudnautique has been working on here https://github.com/cloudnautique/rancher-packer.  We'd love contributions.  I personally don't know much about Packer so I'm not sure what work needs to be done there.

[2015-03-04 19:19] wlan0 commented on #66
@runseb I'm not able to reproduce this issue. Could you please specify steps to reproduce this issue?

[2015-03-04 19:21] runseb commented on #66
@wlan0 I will try again, but that was using my playbook https://github.com/runseb/ansible-rancher
if you check the roles/rancher/tasks/create_vm.yml file I have had to uncomment the user_data line to get the keypair working.

[2015-03-04 19:44] sheng-liang opened #69 "RancherOS stuck on startup when there's no network connection"
It gets stuck at "Running [5/10] network"

[2015-03-04 20:06] wlan0 commented on #69
@ibuildthecloud  -- The subsequent containers (cloud-init, userdocker) may depend on networking. Is the present behavior, of waiting to obtain a dhcp lease and consequently freezing bootup the right behavior?

[2015-03-04 23:10] wlan0 opened #71 "Add GCE metadata service support for cloud-init"

[2015-03-05 01:57] smw355 opened #72 "Support adding and configuring new third party system services in RancherOS"
User should be able to create new system services as containers within RancherOS.

[2015-03-05 17:25] imikushin opened #73 "Local IP's inaccessible"
Try to connect to any local IP, say the one on the `eth0` interface. That'll take forever, so you just can't.

From my terminal:
[code]

[2015-03-05 23:14] sheng-liang opened #75 "Reboot required after setting custom console container"
No reboot should be required.

[2015-03-06 01:22] #73 closed

[2015-03-07 05:24] ibuildthecloud commented on #69
We will now hang for 1 minute waiting for DHCP per NIC and then give up.

[2015-03-08 05:32] ibuildthecloud commented on #65
We now have AMIs in

ap-northeast-1
ap-southeast-1
ap-southeast-2
eu-west-1
sa-east-1

Please refer to the README.md for the AMI IDs.  eu-central-1 will come shortly.  There was some issues in that region that made the automation difficult.

[2015-03-08 05:32] #65 closed

[2015-03-08 05:46] ibuildthecloud commented on #66
@runseb I see what your issue is now.  Looking at your playbook I realize that your setting the user-data to a script and not a '#cloud-config'.  So there definitely is an issue there if the user data is a script we do not read the EC2 meta data.  Our previous attempts to reproduce this we were setting the user-data to a cloud-config.

ping @wlan0

[2015-03-08 05:47] ibuildthecloud commented on #63
@ricardsonwilliams v0.1.2 was just release and it now includes rsync.  Could you please try and see if the vagrant synced folders works now?

ping @cloudnautique

[2015-03-08 09:05] imikushin commented on #50
I guess this one is fixed in v0.1.2:
I've just added another (virtio) NIC to my RancherOS VM in VirtualBox GUI, turned the VM on and it was working, configured with DHCP as expected.

[2015-03-08 16:18] ibuildthecloud commented on #50
Yes this was fixed.  We programmed a new component to handle NIC IP configuration.  I'd like to keep this issue open until we document the configuration of it.  The default configuration is that any eth* automatically gets DHCP applied.

@wlan0 Can you update the README with instructions for the netconf configuration in rancher.yml

[2015-03-08 18:31] runseb commented on #66
@ibuildthecloud I was trying to run docker run rancher/server on start. and it did not seem that your cloudinit supported run_cmd, so I switched to bash for cloudinit.

[2015-03-08 22:42] ricardsonwilliams commented on #63
@ibuildthecloud did you update the Vagrant Box Image? ( http://cdn.rancher.io/vagrant/x86_64/prod/rancheros_virtualbox.box )

[2015-03-09 00:47] cloudnautique commented on #63
We did update. Need to do the merge, but url is "http://cdn.rancher.io/vagrant/x86_64/prod/rancheros_v0.1.2_virtualbox.box"

[2015-03-09 18:27] ricardsonwilliams commented on #63
Good! I update mine Vagrant's file but the rsync option still show a error:

Error message:

==> default: Rsyncing folder: /Users/ricardsonwilliams/GitHub/Vagrant2/rancherOS/ => /vagrant
There was an error when attempting to rsync a synced folder.
Please inspect the error message below for more info.

Host path: /Users/XXXX/GitHub/Vagrant2/rancherOS/
Guest path: /vagrant
Command: rsync --verbose -

[2015-03-09 18:30] ricardsonwilliams commented on #63
I try to disable the option "vb.functional_vboxsf     = false"

==> default: Mounting shared folders...
    default: /vagrant => /Users/XXXXX/GitHub/Vagrant2/rancherOS
Failed to mount folders in Linux guest. This is usually because
the "vboxsf" file system is not available. Please verify that
the guest additions are properly installed in the guest and
can work properly. The command attempted was:

[2015-03-09 18:50] ibuildthecloud commented on #63
We definitely don't have the guest additions yet.  We are working on that one.

[2015-03-09 18:51] cloudnautique commented on #63
@ricardsonwilliams The latest os-vagrant/Vagrantfile has the vboxsf disabled. It ends up looking like

[code]

We should have something up soon that will setup an rsync folder to /opt/rancher from the current directory.

[2015-03-09 19:42] cloudnautique commented on #63
@ricardsonwilliams [rancherio/os-vagrant](https://github.com/rancherio/os-vagrant) Vagrantfile now has configuration to enable an rsync folder. It looks like the error we are seeing with the --compress flag, at least with OS X Yosemite, is that the version of rsync is really old (version 2.6.9). The RancherOS version is 3.1.1 which is the latest release.

[2015-03-10 20:00] ricardsonwilliams commented on #63
@cloudnautique Thank you! Works pretty well. Nice you already update the os-vagrant readme file.

[2015-03-10 20:00] #63 closed

[2015-03-10 21:09] sheng-liang opened #80 "Cannot find RANCHER_STATE partition on Hyper-V"
It started just fine. I can also get on to the network and see /dev/sda. I was able to format the /dev/sda partition and give it the RANCHER_STATE label.

The problem is it fails to detect RANCHER_STATE partition after reboot.

[2015-03-10 23:31] ibuildthecloud commented on #80
This problem is going to be the same as VMware SCSI I'm guessing.  HyperV needs a kernel model loaded but we run udev to late.  RancherOS is supposed reorder this so that we launch udev before mounting state.  This sound be released this week.

[2015-03-12 16:56] haswalt opened #82 "RancherOS should contain an optional container for Rancher"
Rancher should be packaged together with RancherOS so that an install of RancherOS allows management of self and linked docker instances from boot

[2015-03-12 17:50] smw355 commented on #82
+1

[2015-03-12 22:24] sheng-liang opened #84 "Make RancherOS work on Azure"
Perhaps we need to create a system container for running the Azure python agent?

[2015-03-13 16:50] cloudnautique commented on #44
This issue has been addressed in rancherio/os-base#4 should be coming to the OS soon.

[2015-03-14 13:33] dalu opened #85 "user/pass booting from iso?"
What's the user and password booting from the iso image to start the install process?
I'm trying to install on proxmox, so it boots from the iso and then I'm stuck at login.

[2015-03-14 13:35] imikushin commented on #85
rancher/rancher ?

[2015-03-14 13:37] dalu commented on #85
right, thanks :)

[2015-03-14 13:37] #85 closed

[2015-03-15 01:40] ibuildthecloud commented on #82
+1 :smile:

[2015-03-15 05:50] imikushin commented on #82
Totally

[2015-03-18 02:23] ifeiteng opened #88 "failed to install rancheros on VirtualBox"
first, the `rancheros-install` is not exist, i pull it from `/scripts/dockerimages/scripts/rancheros-install`
then, i use `sudo rancheros-install -d /dev/sda -c ./cloud_data.yml -v v0.1.2 -t generic`
it show me `The file /dev/sda1 is not exist and no size was specified`

[2015-03-18 05:58] ibuildthecloud commented on #88
Sorry about that.  We just about to cut a release of RancherOS that includes this script but we merged the README to master.  So the docs are not in sync with the latest release.

[2015-03-18 13:41] wblankenship commented on #88
Good to know! I thought I was loosing my mind. :smile:

[2015-03-18 15:37] cloudnautique commented on #88
@ifeiteng do you have any more of the output you'd be willing to share via a gist or something?

[2015-03-18 16:59] fernando-cloudster commented on #88
Any ETA on the new release? Or any other way to install on vbox/vmware?

[2015-03-18 17:05] cloudnautique commented on #88
@fernando-cloudster Soon!

If you are feeling adventurous: [rancherio/os-installer](https://github.com/rancherio/os-installer) outlines the processes.

[2015-03-18 17:07] fernando-cloudster commented on #88
Hah! here I go :D thanks!

[2015-03-18 19:14] fernando-cloudster commented on #88
Guess I'll join the OP on waiting, unless anybody got some ideas for me.

The steps to install on the disk were actually really easy, I was expecting a lot of pain :dancers:

[code]
and boom its installed, so I guess the issue is in my cloud-init file.

[code]
any ideas on what I did wrong?

[2015-03-18 20:04] cloudnautique commented on #88
@fernando-cloudster We support a limited subset of cloud-init at the moment:
https://github.com/rancherio/os#cloud-init

Glad the raw container worked for you. The wrapper script adds some safety guards... like warning you its going to format/partition your disk :)

[2015-03-18 20:10] fernando-cloudster commented on #88
@cloudnautique I tried using only

[code]

but what do I ssh into the box as?
ssh myuser@rancherip?
(tried root/rancher, no luck)

I have the feeling I should be going to sleep cause I might be missing something really stupid :)

[2015-03-18 20:50] cloudnautique commented on #88
No, the process isn't documented all that well... and the guts are even less so :)

It is very particular about where the file needs to be. The wrapper will make this easier, the file needs to called: `user_config.yml`
It needs to be in an /opt or /home path because those are sharable between the user volumes and system volumes. So, to emulate the wrapper behavior, create `-c /opt/user_config.yml`

[2015-03-19 12:35] fernando-cloudster commented on #88
Yup, did all that, no luck for me :) I'll wait for the installer I guess. Thanks for trying @cloudnautique

[2015-03-19 16:01] zoobab opened #89 "qemu-system-x86_64 -enable-kvm -cdrom rancheros.iso gives a kernel panic"
qemu-system-x86_64 -enable-kvm -cdrom rancheros.iso gives:

Kernel panic - not syncing: Unable to mount rootfs on unknown block(2,0)

This is with the latest ISOs, including the released and unreleased ones.

[2015-03-19 22:37] ibuildthecloud commented on #89
Please add `-m 1024`.  Needs more memory.

[2015-03-19 22:41] ibuildthecloud commented on #88
Release ETA is "very soon."  You can try the rc build here https://github.com/rancherio/os/releases/download/v0.2.0-rc2/rancheros.iso

[2015-03-20 01:15] sheng-liang opened #92 "rancherctl os upgrade should check first if upgraded is necessary"
I'm already running 0.2.0-rc3, yet it still upgraded me to 0.2.0-rc3.

The system rebooted automatically after the upgrade. It should prompt me for reboot, at least put in a count down delay.

[2015-03-20 18:09] sheng-liang opened #93 "option to enable console login during rancheros-install"
I've run into a few situations where the server somehow gets a new IP after reboot and I had to discover IP through arp and DHCP server.

A console login would be handy, especially for bare metal installs.

[2015-03-20 18:29] sheng-liang opened #94 "rancherctl tool lacks necessary error messages"
When I mistype the name of an addon it should have told me the addon does not exist:

[rancher@rancher ~]$ sudo rancherctl addon enable ubunut-console
[rancher@rancher ~]$ sudo rancherctl addon list
ubuntu-console disabled

[2015-03-21 20:07] ibuildthecloud commented on #93
This ability will be added in cloud-init by supporting the users key.

[2015-03-22 04:24] henrysher opened #97 "option to enable "user_docker.args" during rancheros-install"
I have a private docker registry and need to pass "--insecure-registry xx.xx.xx.xx:5000" during rancheros-install.

[2015-03-22 19:23] ibuildthecloud commented on #97
Through the cloud config you can modify the arguments of user and system docker.  Refer to https://github.com/rancherio/os/blob/master/docs/config.md

[2015-03-22 19:24] ibuildthecloud commented on #97
Oh I just noticed that you referenced user_docker.args in the title of this issue.  Did you try setting it in the cloud config and it didn't work?

[2015-03-23 10:06] arthurbarr commented on #44
Verified in V0.2.1 as fixed.

[2015-03-23 10:06] #44 closed

[2015-03-23 11:47] fatihusta opened #98 "Trying to get an IP address automatically for all interfaces at boot time."
This process extends the startup process.
Automatic IP undistributed a network in this process is even longer.
Network settings must be set by the user. or to get an IP address automatically is only open for the first interface will be more accurate.

System: VirtualBox

[2015-03-23 14:13] henrysher commented on #97
@ibuildthecloud it did not work. Finally i got a solution, to configure this parameter into **/var/lib/rancher/conf/rancher.yml** after **rancheros-install and reboot**. Thus, if the parameter "user_docker.args" can be supported in **rancheros-install** configuration, it will help me more easily and install once.
[code]

[2015-03-23 14:45] ibuildthecloud commented on #97
@henrysher It just dawned on me this isn't clearly documented.  I will update the documentation.  If you wish to configure the rancher.yml from the cloud config you must put the contents under the rancher key, for example:

[code]

[2015-03-24 08:04] henrysher commented on #97
@ibuildthecloud i have tried, it works. thanks!

[2015-03-25 10:39] ibuildthecloud opened #100 "Hostname is always "rancher""
The hostname should be configurable through the cloud-init or respect the hostname from DHCP.

[2015-03-25 10:40] ibuildthecloud opened #101 "ca-certificates.crt is not writable in console"
ca-certificates.crt is not writable in the console and this causes apt-get to fail for many packages.

[2015-03-25 10:44] ibuildthecloud commented on #98
The networking is configurable through the rancher.yml and cloud-init.  The documentation is at https://github.com/rancherio/os/blob/master/docs/config.md#networking.  In the `/var/lib/rancher/conf/rancher.yml` you will need to do something like:

[code]

If you are using the cloud-init, do the same as above but nest everything under the `rancher` key.

[2015-03-25 10:46] ibuildthecloud commented on #97
I've documented the rancher key in the cloud-init at https://github.com/rancherio/os#cloud-init.  I'm closing this issue now.

[2015-03-25 10:46] #97 closed

[2015-03-25 10:47] ibuildthecloud commented on #88
As of release v0.2.1 installation to disk is now supported.  It's documented at https://github.com/rancherio/os#installing-to-disk

[2015-03-25 10:47] #88 closed

[2015-03-25 11:52] imikushin opened #102 "cloud-init settings application"
What does RancherOS' cloud-init implementation do exactly? Does it scan the cloud-config / user-data settings on every boot and applies them idempotently (that's my impression, but I might be wrong)?

Documentation on the topic is scattered and unclear:

- from original cloudinit docs I get the impression it runs only on first boot,
- from CoreOS cloudinit-cloud-config doc I see it runs on every b

[2015-03-25 12:20] imikushin commented on #72
### How does one start a service container on boot in RancherOS?
(I've tried to add items to 'bootstrap_containers' key with rancherctl, but it just ignored it)

If a service container (not important, daemon or short lived) is named (and it probably should be), simply running the same `docker run` command on boot would result in error, e.g.:

    Conflict. The name "nginx" is already in use... You

[2015-03-25 13:05] henrysher commented on #100
+1

[2015-03-25 18:31] charliedrage opened #103 "adding acpid support?"
I know this is suppose to be minimalistic, but in order to respond to virtualbox / kvm / etc commands. Would you perhaps consider implementing apcid support?

[2015-03-25 18:57] wlan0 commented on #103
@charliedrage We would be interested in adding acpid support. At this point, I'm not sure if we would package it along with the OS or allow users to add it as a system container. For option 2, We are working on a framework to allow users to add system containers.

[2015-03-25 20:13] charliedrage commented on #103
Aha. That'd do it. I'm mainly interested in the bare-metal version of Rancher (installing it on a cloud or your own node). Care to point me in the right direction on how RancherOS is written to bare-metal? I'm also trying to change the Grub boot time (it's current set to 3 seconds) to 1 second for faster boot speed.

[2015-03-25 20:46] ibuildthecloud commented on #103
@charliedrage I'll be honest, the bare metal support is very poor.  This should be addressed this week.  There are two main issues

1) We only compiled in drivers for virtual hardware.  Even something as basic as USB is not even enabled.
2) We don't have udev hotplugging so firmware loading fails.

We should have both of these issue addressed shortly.  The installation to disk is documented here h

[2015-03-26 00:07] charliedrage commented on #103
@ibuildthecloud

Found the os-installer! Already made a pull request earlier for changing the grub-loading time. In all, excellent work, I found it so useful. To note, I work for a Cloud company and I've had three users so far in the time I've worked there asking for rancher to be installed, I'm looking forward in the future to the 1.0 launch.

I got rancher installed correctly on a bare-metal nod

[2015-03-26 00:07] #103 closed

[2015-03-26 13:54] ibuildthecloud commented on #72
You can't change bootstrap_containers or system_container configuration.  Those are reserved for the code only.  What I'm working on right now is that you can add additional containers to the system container by specifying a Docker compose template.  For example, in `/var/lib/rancher/conf/rancher.yml` you will have

[code]

You can refer to a local file or a URL.  In the compose yml it will then l

[2015-03-26 14:31] imikushin commented on #72
Great you're already working on it. I'd love to take a look at the code and to test.

BTW, it might be a good idea to specify whether a service is a system level (run by system-docker) or user level service (run by [user]docker).

[2015-03-26 14:34] imikushin opened #106 "Trouble starting services on boot in RancherOS v0.2.1"
`/opt/rancher/bin/start.sh` doesn't seem to make it: vagrant up just stalls and I don't know what's going on.
`/opt/rancher/bin/start.sh`:
[code]
`/opt/rancher/bin/do-start.sh`:
[code]

Both `start.sh` and `do-start.sh` are executable.

OS appears to hang on after `Running [7/13] cloud-init-pre`:
![os-vagrant_rancher-01_1427374830498_34855](https://cloud.githubusercontent.com/assets/931932/6848286

[2015-03-26 14:36] wblankenship commented on #72
I was considering a similar problem the other day. Without `init.d` to manage the lifecycle of services, what should be the solution for not only starting containers on boot, but making sure they are persistant

In the conversation I had with myself, I settled on letting userland tools do the heavy work (like monit) and keeping that code out of the os tools (thus I didn't open an issue), but it se

[2015-03-26 14:37] imikushin commented on #72
Also, what's currently (as of v0.2.1) the best way to start services?
`/opt/rancher/bin/start.sh` doesn't make it: #106

[2015-03-26 14:45] ibuildthecloud commented on #106
If  /opt/rancher/bin/start.sh fails it shouldn't fail the boot, but  /opt/rancher/bin/start.sh is actually executed by the console container.  So in this situation the reason it isn't booting is not related to you script.  If cloud-init-pre is hung that means it can't talk to the cloud config data source.  In the Vagrant setup there is a file `/var/lib/rancher/conf/user_config.yml`.  If you delete

[2015-03-26 14:46] ibuildthecloud opened #107 "Deleteing user_config.yml causes boot to fail"
If you delete `/var/lib/rancher/conf/user_config.yml` from the Vagrant setup and reboot, the system will hang forever on boot.

[2015-03-26 14:46] ibuildthecloud commented on #106
I created #107 to track this issue.

[2015-03-26 14:56] ibuildthecloud commented on #102
We are still working on having all the setting in rancherctl be dynamic and not require reboot, but for now a reboot is required (really bugs me too).

cloud-init is ran on every boot and will look at the data sources configured from cloud_init.datasources.

[2015-03-26 14:58] ibuildthecloud commented on #72
@imikushin `/opt/rancher/bin/start.sh` is still the best way (albeit terrible).  I don't think #106 is related to start.sh

[2015-03-26 15:04] ibuildthecloud commented on #72
@wblankenship The intention at the moment, unless somebody thinks it's a terrible idea, is to define all system service and user containers that should start on boot in a compose syntax.  The execution the template is specific to RancherOS because it does a lot to handle to make the service persistant or ephermeal and then handle creating new containers if something changes.

For example, in the d

[2015-03-26 15:06] ibuildthecloud commented on #72
The `links` attribute is used to indicate boot order.  Essentially any container you link to must be started before the current one.  I don't know if that's elegant or hack :smile:

[2015-03-26 15:11] imikushin commented on #106
The file is there. I didn't delete it, just added `start.sh`. To reproduce,
just add my `start.sh` and `do-start.sh`

On Thu, Mar 26, 2015, 19:46 Darren Shepherd <notifications@github.com>
wrote:

[2015-03-26 15:40] wblankenship commented on #72
I like links determining boot order, very similar to sys-v's LSB-Headers (`Provides`, `Required-*`). I think we can agree its an elegant hack :smile:

This seems like a sound approach. :+1: I may fiddle with it this weekend after my exams.

[2015-03-26 17:11] imikushin commented on #106
@ibuildthecloud, actually, you are right: I just tried to reproduce this anew and it worked.
OK, this got the boot to hang (not forever, just for a **very** long time):
[code]
`cloud-init.sh` being an executable script:
[code]

[2015-03-26 17:43] imikushin commented on #106
Hangs exactly the same way after this:
[code]
`my_config.yml` contains:
[code]

[2015-03-26 17:45] imikushin commented on #107
For more "use cases" look in comments to #106 :)

[2015-03-26 17:49] imikushin commented on #84
I'm on it. Expect something very soon

[2015-03-26 18:16] ibuildthecloud commented on #106
@imikushin Can you put the file into /var/lib/rancher/conf?  I know this is confusing, but cloud-init doesn't have access to /home.

[2015-03-26 18:17] ibuildthecloud opened #108 "cloud-init does not have access to /home, /opt"
`/home` and `/opt` are the two folders we share across many system containers to give some sense of consistency.  cloud-init currently does not have access to those folders.

[2015-03-26 18:18] ibuildthecloud commented on #106
@imikushin I have created #108 for this, cloud-init should have access, but it is not setup that way.

[2015-03-26 18:45] imikushin commented on #106
Thanks, @ibuildthecloud, placing the file into `/var/lib/rancher/conf` helped!
Now, there's a problem with YAML cloud-config: `write_file` instruction doesn't seem to work. But the other option (`cloud-init.sh`) does run all right.

[2015-03-26 18:53] ibuildthecloud commented on #106
No write files, should work.  let me try your cloud config and try to reproduce.

[2015-03-26 19:00] ibuildthecloud commented on #84
@imikushin Since we are using cloud-init datasources from CoreOS, there is support for wagent, but we just haven't enabled it in the code.  You just need to add it here https://github.com/rancherio/os/blob/master/cmd/cloudinit/cloudinit.go#L265.  I'm not sure what that code does, but just thought it might be worthwhile to point out.

[2015-03-26 22:43] imikushin commented on #72
Sometimes, it's not enough for a container to just be started to be considered a satisfied dependency: e.g. a container should have mounted some filesystems or established a service endpoint. So, a successful completion (`exit 0`) of a container run might also be a dependency (as well as successful container start).

[2015-03-26 22:46] imikushin commented on #72
Compose is definitely an interesting format, but it lacks in dependency specification IMO.

[2015-03-27 20:13] ibuildthecloud opened #110 "Need more inodes"
overlay + ext4 chews up a lot of inodes.  We need to by default format the ext4 filesystem with more inodes.

[2015-03-27 20:51] jacobwgillespie opened #111 "HVM support"
It would be awesome if there were HMV AMIs - I'd love to put RancherOS on a r3-class instance.

[2015-03-28 03:17] sheng-liang opened #115 "Instructions for upgrade in README"
0.2.1 supports upgrade now. We should list explain commands in README

[2015-03-28 03:38] sheng-liang opened #116 "rancheros-install does not fail cleanly when the target disk is already paritioned"
It reports a warning, but it does not fail cleanly. It in fact attempts to continue. It does not do the right thing after it continues however. So it should just fail cleaned and perhaps remind the user he should delete the partition and retry.

[2015-03-29 03:18] cglewis commented on #100
+1

[2015-03-29 04:42] cglewis opened #118 "how to connect RancherOS host to docker-machine"
Is it running with TLS so `tcp://<host_ip>:2376` or something else?  If it's TLS, where are the certs stored?  For example, `boot2docker` stores them in `~/.boot2docker`.   Also is there a plan to add a driver to `docker-machine` for this natively to start a new RancherOS host?

[2015-03-30 01:32] wblankenship commented on #72
I'm trying to add a new container at startup right now through the go code. I've added the dockerfile _./scripts/extraimages/00_monit_, and updated `./config/default.go` with:

[code]

`./build.sh --images` successfully builds monit, but `./scripts/build --images && ./build.sh && ./scripts/build && ./scripts/run` doesn't have the new monit container start at runtime.

[2015-03-30 05:43] cloudnautique commented on #72
@wblankenship in your `rancher.yaml` or in the `rancher` section of a cloud config you need to set
[code]

You can boot the system then run `sudo rancherctl addon enable monit` That should make it survive a reboot.

[2015-03-30 05:47] cloudnautique commented on #72
@imikushin the compose syntax offers the volume dependency management syntax with volumes-from. Docker-compose uses that to sort out boot order last I checked.

[2015-03-30 06:25] wblankenship commented on #72
Thanks @cloudnautique,

when I do a `find . -name "*cloud*"` and a `find -name "rancher.yml` in the base of the project directory, I can't find the files you are referencing. They seem to appear after boot?

[2015-03-30 07:32] cloudnautique commented on #72
@wblankenship the initial files are generated from config/default.go, but you should not really need to change this behavior in code. When you boot, you can use rancheros-installer and pass in a yml file with the add on enabled. The file lives in `/var/lib/rancher/conf` but you can get the contents with the `rancherctl` command... `rancherctl config export --full` ...

[2015-03-30 16:36] wblankenship commented on #72
@cloudnautique I was hoping to use this as a learning exercise to explore the codebase, which is why I went the route of modifying _config/default.go_ but it appears that edit doesn't appear to be affecting the cloud config file.

*Update*

Looks like addons don't boot with the system, that have to be enabled after boot (like you were referencing). But when I run `sudo rancherctl addon enable moni

[2015-03-30 16:40] cloudnautique commented on #72
@wblankenship Awesome!

[2015-03-31 17:12] ricardson opened #120 "Vagrant Host Permission"
Hi All,

When I try to build(docker build -t saltmaster .) my Dockerfile(CentOS)  that uses CentOS I get the below error:

     Rpmdb checksum is invalid: dCDPT(pkg checksums): bind-libs.x86_64 32:9.9.4-14.el7_0.1 - u

  If I use CentOS as HOST it's just work fine. Looks like it's related to the permission.

The "issue" I did open to CentOS Team
https://github.com/CentOS/sig-cloud-instance-images/

[2015-04-01 14:34] errordeveloper opened #123 "To run Weave in system-docker, there needs to be networking"
Weave router normally runs in a network namespace, it's currently not possible to run it on RacherOS' system-docker out-of-the box.

[2015-04-01 14:37] imikushin commented on #123
I'm not sure what you're trying to do, but maybe `--net=host` would help?

On Wed, Apr 1, 2015, 19:34 Ilya Dmitrichenko <notifications@github.com>
wrote:

[2015-04-01 15:16] errordeveloper commented on #123
@imikushin yes, that's a work-around for the time being. I have discussed this with @ibuildthecloud, and the origibal issue for running systemd Docker with `-b=none` was due to the dependency on `iptables`  command. I just logged it here so it doesn't get forgotten.

[2015-04-01 16:36] cloudnautique commented on #120
It looks like this might be related to what they are seeing in this issue docker/docker#10180. We are also using OverlayFS inside RancherOS. Will need to keep digging into this one.

[2015-04-01 21:08] dmp1ce opened #124 "Error pulling image - ApplyLayer exit status 1: xz: corrupted data"
I have a Vagrant version of RancherOS running and I'm trying to pull a particular image but I keep getting an error. The image I am trying to pull is `patrickod/docker-tor`. The error is:

[code]

I have been able to pull other images, so I'm not sure what is different about this one.

[2015-04-01 22:05] wlan0 commented on #118
@cglewis - TLS is configurable in rancherOS. It can be set with `userdocker.tls` config parameter in rancherctl. i.e. `rancherctl config set userdocker.tls true`

If tls is set, then the certs are stored in /etc/docker/tls in the userdocker contianers. You can access it by

`docker run -it -v /etc/:/etc ubuntu` and the `cd` into `/etc/docker/tls/`

Yes, we are currently working on adding support f

[2015-04-02 01:32] cglewis commented on #118
@wlan0 setting to `true` there was no directory `tls` after doing that, just a `key.json` file in `/etc/docker`

I tried putting the following in `/var/lib/rancher/conf/user_config.yml`:

[code]

but that didn't seem to do anything either.  Nothing is listening on `tcp/2376` as far as I can find.  I know the `user_config.yml` is at least partially working, since it's taking my ssh key.  Is there s

[2015-04-02 03:25] wlan0 commented on #118
@cglewis You need to reboot after setting the config.

i.e.

- `sudo rancherctl config set user_docker.tls true`
- `sudo reboot`

then bind mount /etc into a ubuntu container and then check `/etc/docker/tls`

[2015-04-02 03:28] cglewis commented on #118
@wlan0 yup, did that, but no difference.  I'll try starting again from scratch later this week in case I screwed something up.

[2015-04-02 05:19] cloudnautique commented on #124
I'm able to reproduce as well. Curious if your other tests have been on a newer CoreOS release? It downloaded fine on the Boot2docker image. Will need to troubleshoot more.

[2015-04-02 14:45] dmp1ce commented on #124
I did not test on CoreOS, but I run this image on Arch Linux and it works fine.

[2015-04-02 14:53] mattdm commented on #15
So, what is needed to make this happen?

[2015-04-02 14:58] dmp1ce commented on #124
I've also tested on Ubuntu 14.10 with no problems.

[2015-04-02 15:58] ibuildthecloud commented on #123
Flocker also needs networks so it seems we will be setting up a bridge for system-docker

[2015-04-02 16:56] imikushin commented on #15
Basically, an hour maybe :)

On Thu, Apr 2, 2015, 19:53 Matthew Miller <notifications@github.com> wrote:

[2015-04-02 17:12] mattdm commented on #15
That's less specific than I was looking for, but hey. :)

I'll buy you a drink at a conference sometime for that hour. :)

[2015-04-02 19:33] jaredly opened #126 "website links are broken"
These ones at the bottom...aren't links.

![image](https://cloud.githubusercontent.com/assets/112170/6971873/d8b9c33a-d93c-11e4-86e1-12a6365cd32e.png)

[2015-04-02 19:47] vincent99 commented on #126
Yay WordPress visual editor...  Thanks, fixed.

[2015-04-02 19:47] #126 closed

[2015-04-02 19:54] ibuildthecloud commented on #118
@cglewis  Sorry for not responding more quickly to this.  We do have good TLS support but it was undocumented.  I just added documentation right now at https://github.com/rancherio/os/blob/master/docs/rancherctl-tls.md.  Please let me know if those instructions don't work.

Docker machine support is very important to us.  We are working to make RancherOS work perfectly with Machine and be availabl

[2015-04-02 19:58] tobowers opened #128 "[os-vagrant] What's the suggested way to install docker-compose?"
Hello!

Rancher os looks great. I'd like to give it a quick try for our infrastructure which uses docker-compose. What's the "right way" to install something like docker-compose in rancher? Installing it to /usr/bin feels wrong in rancher. However, having docker-compose in a container also feels a little weird too.

[2015-04-02 21:19] cglewis commented on #118
@ibuildthecloud thanks, those docs were super helpful.  Looks good!

[2015-04-02 21:19] #118 closed

[2015-04-02 21:45] kupo24z opened #129 "DHCP Routes/Add Static Route"
Hello, Is there currently a way to add a static route before cloud-init begins? We have our metadata server available via the DHCP server. Normally this is provided by the DHCP configuration however on docker it looks not to be the case. If we can execute arbitrary commands this will also work;

dhcpServer=$(grep dhcp-server-identifier /var/lib/dhcp/dhclient.leases | awk '{print $3}' | cut -d ';'

[2015-04-02 21:57] ibuildthecloud commented on #124
@dmp1ce This is because we haven't packaged xz.  Sorry for the oversight.  Older docker images were xz compressed, but most today are not.

[2015-04-03 03:51] dmp1ce commented on #124
No problem. Are you guys planning on supporting xz compressed images?

[2015-04-03 10:30] ibuildthecloud commented on #124
Yes we will.  We will add XZ to next weeks release.

[2015-04-03 19:17] cloudnautique commented on #129
Hello. The way it is currently configured, if you have basic network connectivity you can pull down a container and perform network configuration tasks. This really only works IF the network comes up in the first place. We are currently switching out the Udchpc dhcpclient for the more robust client dhclient (PR #122) in the next release, which hopefully will ease some of this.

I think we ran into

[2015-04-04 20:56] ibuildthecloud commented on #111
@cloudnautique Is there anything that is preventing us from creating HVM images too?

[2015-04-04 20:58] ibuildthecloud commented on #110
@cloudnautique Can we change the packer/vagrant and installation script to format with `-i 4096`

[2015-04-04 21:38] cloudnautique commented on #111
Not sure, Havent had time to try it. I can take a look in the next release cycle.

[2015-04-06 16:48] mariomarin opened #132 "Can't login to aws instance after changing the console"
First login

[code]

Install *ubuntu-console* and reboot

[code]

I tried to login again and it failed

[code]

[2015-04-07 17:12] huslage opened #135 "rancheros-install -f does not partition or re-read table correctly"
[code]
The script stops after this. Re-running `rancheros-install` with `/dev/sda1` gives us:

[code]
`fdisk` shows a partition:
[code]

`cloud-init` is simply my ssh keys.

[2015-04-07 17:20] huslage commented on #135
I cleared my partition table and it worked:

[code]

[2015-04-07 17:24] huslage commented on #135
This resulted in a machine without an OS though.

[2015-04-07 17:27] huslage commented on #135
This is a fresh vmWare Fusion instance with a new disk.

[2015-04-08 00:50] squillace opened #136 "setting up ssh and obtaining the keys"
Hi -- just starting out with this, but I've read the docs I could find and I understand that I'm supposed to:

1. sudo rancherctl config set user_docker.tls true
2. sudo system-docker restart userdocker
3. sudo rancherctl tls generate -s --hostname localhost --hostname something.example.com
4. sudo system-docker restart userdocker
5. sudo rancherctl tls generate
6. sudo chown -R rancher ${HOME}/.d

[2015-04-08 04:06] ibuildthecloud commented on #136
Those steps are for generating TLS keys for remote access for Docker.  If you want to setup SSH keys that is a bit different.  If you want to create an image that has an SSH key prepopulated I would probably follow the instructions to install to disk.  https://github.com/rancherio/os#installing-to-disk

If you used that approach you can create a cloud-config that has an SSH key in it and the insta

[2015-04-08 06:45] cloudnautique commented on #135
We are working to better support cases where we fail to partition the disk correctly. rancherio/os-installer#7. We didn't want to be too aggressive out of the gate because we weren't sure what configurations users would have. But, I think this scenario is something we can address.

It looks like in the first run, you used /dev/sda1 as the -d option? the command line and script output seem to confl

[2015-04-08 06:57] cloudnautique commented on #132
Just to confirm, you are logging in as the `rancher` user after the reboot?

I tested on a t1.micro instance in us-west-1, and thought I reproduced, but it just took around 1-2 mins to come back. The ubuntu-console image is not part of the base os and has to be pulled from the docker hub registry on the first boot with it enabled. The SSH server is a part of that image, and the box seems dead for

[2015-04-08 14:45] ibuildthecloud commented on #128
Just copy the docker compose binary to /opt/bin and and that to your path.  /opt is persisted in the same fashion as /home.  All other directories are ephemeral and will be deleted on reboot.

[2015-04-08 17:16] squillace commented on #136
Great, thanks. I'll try that today. To confirm for the newbiediot here, if you wanted to create a vm image to use with any particular host *and* retain control over the VM once deployed, you'd create an image with the cloud-config file opening up SSH and adding the keys required. Correct?

And once deployed -- help orient me here -- when I ssh'd in, I'd be.... where? in user rancher, assuming I'd

[2015-04-08 17:36] ungarida opened #138 "Problem creating ISO Templating on CloudStack"
Hi everybody,
I'm getting this error during ISO template creation on CloudStack:

[code]

My IaaS provider has CloudStack 4.4.0-SNAPSHOT and I used other times without problems the functionality of create ISO.

I used the linked provided by your documentation https://github.com/rancherio/os/releases/download/v0.2.1/rancheros.iso

[2015-04-08 21:37] sheng-liang opened #139 "Show IP address on login screen"
DHCP address changes between reboots and I no longer know what the IP address is.

[2015-04-08 21:38] sheng-liang opened #140 "Need a recovery console"
Otherwise I cannot login and troubleshoot.

[2015-04-08 22:27] sheng-liang opened #141 "NIC selection during install"
On a server with multiple NICs, there needs to be a way to select and pin a NIC for RancherOS install. Ideally the system should behave as follows:

1. There should be a rancheros-install option to specify the MAC address of the NIC to use. Or put the NIC selection in user_config.yml file?

2. If the NIC selection is not there, rancheros-install can perhaps list all the NICs and prompt the user to

[2015-04-09 03:30] ibuildthecloud commented on #141
We have support for selecting a NIC based on a Mac address.  It is possible that PR is not merged.  I'll look into that.

[2015-04-09 03:36] ibuildthecloud commented on #138
That error typically means that CloudStack can not validate the SSL certificate of the download URL.  It could be that the CloudStack installation is using outdated CA roots.

Can you try putting the ISO on a http URL, not HTTPS?

[2015-04-09 04:12] sheng-liang commented on #141
It's also possible I just don't know about this feature. Is it documented anywhere?

[2015-04-09 17:49] #19 closed

[2015-04-09 20:38] ungarida commented on #138
I had topublish the iso on http, now it works.
thanks, now I can do some experiments and have fun!

[2015-04-09 20:38] #138 closed

[2015-04-09 22:00] wlan0 opened #143 "Add VirtualBox tools support"
https://www.virtualbox.org/manual/ch04.html

[2015-04-09 22:02] wlan0 opened #144 "Autoformat disk based on b2d magic string to support rancheros on machine VirtualBox"

[2015-04-10 04:30] janeczku commented on #135
I can't install it either:

[code]

This is with a fresh disk. I don't know why GRUB complains about multiple labels. There is only one:
![screen](https://cloud.githubusercontent.com/assets/3813921/7081912/01040580-df4b-11e4-808f-e3d1d9214525.png)

[2015-04-10 04:58] deniseschannon commented on #92
In version v0.2.1, it prompts if you want to continue with the upgrade and prompts for a reboot.

But the system still downloads the most recent version even if it's the same version as I'm running. It'd be nice if it would check to see if upgrade was needed before downloading the image.

[2015-04-10 04:59] deniseschannon commented on #12
As of v0.2.1, upgrade is supported.

[2015-04-10 04:59] #12 closed

[2015-04-10 16:14] ibuildthecloud commented on #141
No, it's not documented.  We are refactoring docs right now so I don't want to make any changes.  Let's leave this issue open until it is documented.  In the meantime try the following in your cloud-config.yml

[code]

[2015-04-10 17:09] deniseschannon opened #146 "rancherctl os list shows v0.1.2, but that version is not in the rancher/os repo"
v0.2.1

rancherctl os list shows these available versions:

[code]

But when I try to pull rancher/os:v0.1.2, I'm getting an error.

[code]

@cloudnautique  Remove v0.1.2 from list of available versions.

[2015-04-10 18:04] deniseschannon opened #147 "rancherctl os list only shows available versions, should show current version as well"
v0.2.1

When running `rancherctl os list`, I only get a list of versions and remote/local.

[code]

The external file that it's pulling from shows:

[code]

Let's have the command show the "available:" text as well as the "current: rancher/os:v0.2.1" text.

As a user, it probably makes sense to order it from most recent version to oldest.

[2015-04-10 18:05] deniseschannon opened #148 "rancherctl os list: Be able to add which version is running"
v0.2.1

It would be nice to have the command show which version is currently running.

[2015-04-10 18:28] wlan0 commented on #148
`sudo rancherctl -v`

[2015-04-10 18:32] deniseschannon commented on #148
This would be nice  to have in relation to fixing: #147

[2015-04-10 18:32] deniseschannon opened #149 "v0.2.0-rc1 cannot upgade"
Using Version v0.2.0-rc1 and tried to upgrade.

[code]

[2015-04-10 18:38] wlan0 opened #150 "Add acpid support for rancheros"

[2015-04-10 18:47] deniseschannon opened #151 "rancherctl os upgrade: Better error messages for incorrect use of options."
v0.2.1

When I'm staging for any existing image (older or for v0.3.0-rc1), it appears to be pulling v0.2.1

[code]

For any version that I've attempted to stage (older and v0.3.0-rc1), the only version pulled was v0.2.1.

[code]

[2015-04-10 18:49] deniseschannon opened #152 "Last message for staging says "Upgrading to rancher/os:v0.2.1""
v0.2.1

[code]

**Upgrading to rancher/os:v0.2.1** needs to be removed as I have only requested to stage.

[2015-04-10 19:43] deniseschannon opened #153 "rancherctl os list: FATA[0000] Get https://releases.rancher.com/os/versions.yml?current=v0.3.0-rc1: x509: failed to load system roots and no roots provided"
v0.3.0-rc1

rancherctl os list is not working for v0.3.0-rc1

[2015-04-10 19:45] deniseschannon commented on #151
I've been using the `-s` flag incorrectly without specifying the -i name.

the command should be:

[code]

Can we show some kind of error as the default image name that's picked is current, but I didn't realize that I was missing the -i

[2015-04-10 20:10] ibuildthecloud commented on #151
Oh, we should through an error because the last part of the command is unused.

[2015-04-10 20:11] ibuildthecloud commented on #153
Yes rc1 is bad.  This should work in rc2

[2015-04-10 21:23] deniseschannon opened #154 "Add help section for 'rancherctl addon'"
When I search `rancherctl addon -h`, there is no help section available.

[2015-04-10 21:41] #102 closed

[2015-04-10 22:04] imikushin opened #156 "cloud-init would not run services on first boot"
Suppose we perform a clean RancherOS install and supply the following file (`waagent-init.yml`) as cloud-config source:
[code]
What's weird is services specified in `waagent.yml` (already in place) do not get started on the first boot, even though the cloud-config gets correctly parsed and applied. Here's how `/var/lib/rancher/conf/rancher.yml` looks:
[code]
On the following boots the services do

[2015-04-10 22:13] imikushin commented on #154
See `rancherctl service -h` instead :)

[2015-04-11 00:00] deniseschannon commented on #154
Are we permanently removing addon to use service instead? @ibuildthecloud?

[2015-04-11 05:16] ibuildthecloud commented on #156
Did you supply this cloud-config using `rancheros-install -c ...`?

I'll look into this tonight, thanks.

[2015-04-11 07:36] imikushin commented on #156
Yeah. But it works the same if you just put waagent-init.yml into
cloud_init.datasources in rancher.yml. After the first reboot rancher.yml
gets enabled_services section, on the next reboot the services get launched.

On Sat, Apr 11, 2015, 10:16 Darren Shepherd <notifications@github.com>
wrote:

[2015-04-11 18:45] JemiloII opened #159 "No keyboard control on physical machine"
I own a system with 64GB of 1600Mhz ram, two 16core AMD opteron 6272, and 12tb of hdd. When I attempt to boot from a usb, it'll load the os and when when it comes to the login, my keyboard, which works just fine in that systems bios and other systems, doesn't work. Its as if the os has no clue what to do.

[2015-04-11 19:33] ibuildthecloud commented on #159
Please try 0.3.0-rc2.  0.2.1 has very poor support for bare metal.  In the upcoming 0.3.0 release we have focused a lot on getting better bare metal support.

[2015-04-11 19:33] charliedrage commented on #159
@JemiloII
Are you trying to install this to bare-metal? If so, as far as I know, bare-metal isn't supported yet until the next version of rancher.

@ibuildthecloud can correct me if im wrong.

[2015-04-11 19:51] JemiloII commented on #159
i'll try 0.3, thanks :)

[2015-04-11 20:20] JemiloII commented on #159
alright, so 0.3.0-rc2 you can use a keyboard that's not bluetooth based. The 0.2.1 was no dice on either keyboard type. Gunna mark it has closed/solved thanks guys :)

[2015-04-11 20:20] #159 closed

[2015-04-11 20:35] ibuildthecloud commented on #159
I imagine Bluetooth needs some user space component we don't have.

[2015-04-11 22:53] vincent99 commented on #159
Yes.. http://www.bluez.org/

[2015-04-12 00:06] ibuildthecloud commented on #154
Yes, we decided to rename it.  Which impacts the docs :)

[2015-04-13 01:42] mariomarin commented on #132
I gave it some time. I'll try again.

[2015-04-13 03:00] deniseschannon commented on #13
@ibuildthecloud with v0.3.0-rc1, ubuntu console is supported, so i'm going to close this. please feel free to reopen if i've interpreted this issue incorrectly.

[2015-04-13 03:00] #13 closed

[2015-04-13 03:16] deniseschannon commented on #124
As of v0.3.0-rc1, this is working. @dmp1ce I'm going to close this issue. Please re-open if you have more questions.

[2015-04-13 03:16] #124 closed

[2015-04-13 03:17] kentoj opened #160 "Boot Loader not written to disk with v0.2.1 and VMware VCenter"
After doing a new install from ISO I could not boot into my machine. I don't have the exact log output from during the installation today though I'll get it tomorrow.

Here are the steps I did:
1. Create new VM in VCenter with 2 NICs, 8GB RAM, and 100GB HDD
2. Power On machine and connect rancheros.iso
3. login with rancher/rancher
4. $ docker run --privileged -it debian mkfs.ext4 -L RANCHER_STATE

[2015-04-13 03:18] deniseschannon commented on #149
Upgrade wasn't supported until v0.2.1

[2015-04-13 03:18] #149 closed

[2015-04-13 16:49] cloudnautique commented on #132
@mariomarin If you are able to reproduce, can you let me know which AMI/Instance type? Also, if you wouldn't mind can you copy the console logs?

Thanks

[2015-04-13 16:55] ibuildthecloud commented on #160
We honestly have never tried vCenter, only Fusion and Workstation.  We will try to get a vCenter env working to try to reproduce.  Off the top of my head I can't think of what could be different.

What adapter are you using for the hard disk?

[2015-04-13 16:57] ibuildthecloud commented on #160
@sheng-liang  do you think you could get vCenter running to test this?

[2015-04-13 17:02] deniseschannon opened #161 "Network unreachable when booting from iso (v0.3.0-rc2)"
Version: v0.3.0-rc2

Booted from iso using virtualbox, but can't reach network.

[code]

[2015-04-13 17:21] cloudnautique commented on #160
@kentoj You don't need to do step 4. As part of the rancheros-install script installation the disk is partitioned and formatted. I'm guessing that grub is failing to install because of its confused about the labels/partitions.

If you start with a fresh disk and skip step 4 I think you'll have better luck. If not please let me know.

[2015-04-13 18:06] deniseschannon opened #162 "version naming in commands"
The command arguments take in different schemes for the version names.

For rancheros-install, it doesn't need the prefix "rancher/os:".

rancheros-install -v v0.2.1
rancherctl os upgrade -i rancher/os:v0.2.1

We should make it consistent.

[2015-04-13 19:11] deniseschannon opened #164 "Rolling back from v0.3.0-rc2 throws error"
v0.3.0-rc2

Trying to roll back from v0.3.0-rc2 and it throws an error. This is when trying to go to v0.3.0-rc1 or v0.2.1

[code]

[2015-04-13 19:14] deniseschannon opened #165 "When error thrown in upgrading, it should not prompt or force reboot."
v0.3.0-rc2

In #164, I am prompted for a reboot or forced a reboot (when using -f in rancherctl os upgrade), but it appears that there is an error with the upgrade.

In reality, it looks like the upgrade was successful, but there are mixed messages.

We need to make sure there is no reboot attempt if there is an error message thrown.

[2015-04-13 19:15] deniseschannon commented on #164
Also, if I actually reboot the system, the upgrade appears to be successful.

[2015-04-13 19:25] deniseschannon commented on #153
This has been fixed in v0.3.0-rc2.

[2015-04-13 19:25] #153 closed

[2015-04-13 19:27] ibuildthecloud commented on #164
This is an error in the logging.  We switched to syslog by default and the os-installer seems incompatible with this

[2015-04-13 19:35] deniseschannon opened #166 "ros config get: Show default values or "No key exists""
v0.3.0-rc2

The get command only prints out "true" foe this boolean but not "false". If I was to get the value, I'd want to see a false printed out so that I know what the value is. Blank line doesn't help me.

[code]

[2015-04-13 19:38] deniseschannon commented on #166
Actually, it appears that the get function is showing a blank space for any default value. It's only showing the value if it has been changed.

[2015-04-13 19:40] ibuildthecloud commented on #164
Oh wait... This is a bug in os, not os-installer.  I'll fix this

[2015-04-13 19:58] deniseschannon opened #167 "rancherctl config export: Should prompt if overwriting existing file"
v0.3.0-rc2

When exporting, if I pick the same filename,  there is no prompting before it overwrites the file.

[2015-04-13 20:49] deniseschannon opened #168 "rancherctl config import: Without the -i, there is no error, just hangs."
v0.3.0-rc1

I tried to import with just a filename and forgot the -i option. Nothing happened.

This is similar to #94 about better error messages.

[2015-04-13 20:51] deniseschannon commented on #151
Updated title and this relates to #94.

[2015-04-13 21:30] JemiloII opened #170 "Question: How to add drivers to machine-rancheros.iso?"
Wondering how I could add drivers to the rancheros machine iso install process. I'd like to add bluetooth and internet drivers.

[2015-04-13 21:48] ibuildthecloud commented on #170
0.3.0-rc2 includes a lot more drivers, but I'm sure some are missing.  We don't exactly make it easy to add drivers.  You can create a fully custom build of RancherOS if you want.  You will need to change the kernel config in os-base and then follow the instructions at https://github.com/rancherio/os-base/blob/master/README.md to build RancherOS with a custom os-base.

0.4.0 will focus on making i

[2015-04-14 00:30] linusyong opened #171 "Network device name during bootup"
The issue as describe below:
* ISO file: rancheros.iso 0.3.0-rc2
* Environment: VirtualBox 4.3.12 r93733 Windows
* Network: bridge or NAT (both tested)

During first time boot up, `ifconfig` does not show any ethernet device.  `/var/log/messages` shows that ethernet device has been renamed using udev predictable name:
[code]

`ifconfig enp0s3` shows the device is there and `dhcpcd enp0s3` gives th

[2015-04-14 11:47] imikushin commented on #72
@ibuildthecloud @cloudnautique
What if we declare system containers in separate files residing, e.g. in `/var/lib/rancher/conf/system.d` as opposed to, say, `/var/lib/rancher/conf/user.d` and link to them (from "user" containers) using external_links compose key?

This might give a good idea where to find these system container definitions and make links to them (from "user" containers) explicit.

[2015-04-14 13:56] schugh01 opened #172 "Docker 1.5+ required for building ISO"
Docker 1.5+ required for building ISO. This is an issue because we want to edit your iso without installing docker. You have solution for this issue?

[2015-04-14 16:53] cloudnautique commented on #146
Should be removed @deniseschannon

[2015-04-14 18:03] cloudnautique opened #173 "Instance hangs on boot"
During boot the instance hangs on the console logs

[11/14] [userdockerwait]: Started

The behavior has been observed in AWS and GCE with instances created from ibuildthecloud/WIP.

[2015-04-14 19:21] deniseschannon commented on #146
Confirmed that it's removed. :)

[2015-04-14 19:21] #146 closed

[2015-04-14 19:47] kentoj commented on #160
Great, thanks for the pointer @cloudnautique, I'll try that. @ibuildthecloud as far as which adapter, I don't know. I'll check on that. How would I go about checking my hard drive adapter? Will I have to get information from the physical host?

I'll try starting from a fresh host and see what happens.

[2015-04-14 20:19] deniseschannon commented on #161
For v0.3.0-rc2:

The network adapter is getting renamed to `en2ps*`, which is why it doesn't get an IP through DHCP.

For a temporary fix:

In the VM in VirtualBox, go to  Network Settings -> Advanced Settings.

Change "Adapter Type" to  "Paravirtualized Network (virtio-net)".

[2015-04-14 20:20] deniseschannon commented on #171
This is only related to v0.3.0-rc2:

For a temporary fix:

In the VM in VirtualBox, go to Network Settings -> Advanced Settings.

Change "Adapter Type" to "Paravirtualized Network (virtio-net)".

[2015-04-14 21:55] crossapple opened #175 "Openvpn client support"
It would be really good to have support for openvpn on startup of a rancher os device.

[2015-04-14 23:23] metagen commented on #84
Sorry, I'm not getting it-- is cloudinit a deploy tool that hooks up to various cloud providers and gets rancheros running?  Pls let me know if that's correct, thank you :)!

[2015-04-14 23:39] wlan0 commented on #84
@metagen Its not a deploy tool. cloud-init is a distribution package, that does early initialization of an instance on various cloud. https://cloudinit.readthedocs.org/en/latest/

cloud-init is used to setup ssh-keys, set hostname, write files and execute scripts on a freshly created instance. The data can be provided to cloud-init by various data sources, such as config drive (http://docs.opensta

[2015-04-15 04:10] sheng-liang opened #178 "shutdown now does not work"
On RancherOS "shutdown now" does not shutdown the machine.

RancherOS shutdown should behave the same as the standard shutdown command.

[2015-04-15 09:03] imikushin commented on #50
I've just tried the same thing that just worked for me in v0.1.2 (simply adding another NIC) and it didn't work: `eth1` interface was unconfigured and down.

That's all right. By adding the necessary config (as described here: https://github.com/rancherio/os/blob/master/docs/config.md) I got the second NIC up and configured with DHCP on boot as desired. `/var/lib/rancher/conf/rancher.yml`:
[code]

[2015-04-15 09:42] #152 closed

[2015-04-15 20:39] deniseschannon opened #180 "rancherctl service enable/disable: confirmation message"
It'd be nice if there was a confirmation message displaying the service that was enabled/disabled. Listing out the new state of the service would be a nice message.

Currently:
[code]

Proposal:

[code]

This would also help us realize if there was an error or not similar to #94.

[2015-04-16 17:19] deniseschannon opened #184 "[GCE] Ubuntu-Console and Debug are enabled"
GCE Version: rancheros-030rcx-1-img

In the config file, these options, which are typically disabled, are enabled.

[code]

[2015-04-16 17:24] deniseschannon opened #185 "[GCE] Unable to SSH in after upgrade"
GCE Version: rancheros-030rcx-1-img

Steps to Reproduce:
[code]

After upgrade and reboot, unable to log back in.

Tried to ping and instance is not up.

[2015-04-16 17:30] deniseschannon opened #186 "[GCE] rancherctl os list doesn't work after I disable and re-enable ubuntu-console"
GCE Version: rancheros-030rcx-1-img

Ubuntu console is enabled when started. #184

Steps to reproduce:
1. Disable ubuntu console, reboot
2. Enable ubuntu console, reboot
3. try `rancherctl os list`

Error Message:

[code]

[2015-04-16 18:18] deniseschannon commented on #166
Still an issue in v0.3.0-rc3.

[2015-04-16 18:26] deniseschannon opened #187 "rancherctl service list: Error"
Version: v0.3.0-rc3

New index page for os-services doesn't work.

[code]

[2015-04-16 18:35] deniseschannon opened #188 "v0.3.0-rc3: Roll back doesn't work"
Version: v0.3.0-rc3

Error when trying to roll back versions.

[code]

[2015-04-16 19:39] deniseschannon opened #189 "rancheros is supposed to be 20MB, how come when i upgrade, the image is so large?"
Whenever I upgrade, the image is definitely more than 20 MB.

[2015-04-16 19:42] deniseschannon commented on #161
Fixed in v0.3.0-rc3.

[2015-04-16 19:42] #161 closed

[2015-04-16 19:43] deniseschannon commented on #171
@linusyong This is fixed in v0.3.0-rc2. Please try with that version and see if this issue is happening.

[2015-04-16 20:29] deniseschannon opened #190 "rancheros-install: check if disk is mounted before downloading image"
Version: v0.3.0-rc3
We should do a quick check to see if the disk is mounted before attempting to download the rancher/os version.

It doesn't make sense to download the image, when we won't even be able to use it.

[2015-04-16 20:42] deniseschannon commented on #162
Also, it'd be nice if we were consistent with the `-i` and `-v`

in rancheros-install, we use -v
in rancherctl os upgrade, we use -i

But both are referring to the version images.

[2015-04-16 21:49] deniseschannon opened #191 "rancherctl service: add ability to delete a service"
With v0.3.0-rc3, we are able to add in our own services. But if you make a typo like #94, then you have no way of removing the incorrectly typed service.

We should create a delete service which would delete services that the user has added on their own.

[2015-04-16 21:57] deniseschannon opened #192 "rancherctl tls generate: client certificates are not being saved in the correct directory"
Version: v0.3.0-rc3

By default, we are claiming that the certificates will be saved at `/home/rancher/.docker`.

Instead of saving client certificates in `/home/rancher/.docker`, the certificates are being saved in `/root/.docker`.

[2015-04-16 23:11] deniseschannon commented on #187
Fixed with merges into the os-services repo.

[2015-04-16 23:11] #187 closed

[2015-04-17 02:42] deniseschannon opened #193 "Only allow one console to be enabled at a given time"
Currently, console ordering is not deterministic, so if there are multiple consoles enabled, there is no way to determine the order of consoles.

[2015-04-17 04:24] deniseschannon opened #194 "rancherctl os upgrade: If booted on ISO, better message for failure."
v0.3.0-rc3

Currently, if you attempted to downgrade from v0.3.0-rc3 when booted from an iso, an error is thrown as we haven't installed to disk. It'd be better if:

1. We checked to see that we have installed to disk before attempting to download image, so we could display a message immediately.

2.  Provide a better error message than this:
[code]

[2015-04-17 05:56] deniseschannon opened #196 "rancherctl os upgrade -s: print message to indicate that the version is already local on the machine"
v0.3.0-rc3

If attempting to already stage an existing version, print message to indicate so. Currently, no message.

[2015-04-17 15:58] deniseschannon commented on #166
I noticed that we no longer have the docker_user.tls in the default rancher.yml. is that why it's showing up blank?

even doing `rancherctl config get dns` gives me nothing, even though there is a dns in the rancher.yml file.

[2015-04-17 16:06] deniseschannon commented on #166
Never mind, I've figured out that if the syntax is in correct like in the example of 'rancherctl config get dns', then it will display nothing.

You need to put the correct key path. In the DNS example, it needs to be 'rancherctl config get network.dns.nameservers'

We should have a better message if there is no valid key in rancher.yml

[2015-04-17 20:03] deniseschannon commented on #186
Fixed in v0.3.0-rc4

[2015-04-17 20:11] #186 closed

[2015-04-19 12:35] bnoon opened #201 "Baremetal install hangs with a yaml unmarshal error"
When doing a bare metal install of v0.3.0-rc4, the reboot hangs when unmarshalling `cloud-config-processed.yml`

The line points to the ssh public key.  In the .yml file, the line is split with the user@host part on the next line.  This happens for all the .yml files.  Editing these files, allows the boot to continue to completion.

The output of `sudo rancherctl config export -p` has the same for

[2015-04-19 15:00] ibuildthecloud commented on #201
How did you do the installation?  What does your cloud-config look like that you passed to rancheros-install?  Did it also have a newline in it?  Typically the cloud-config-processed doesn't have rsa-pub in it.

[2015-04-19 15:14] bnoon commented on #201
I used `rancheros-install` with a cloud-config.yml file that looked like the following.  The ssh_authorized_keys value was all on one line:

[code]

The rss-pub entry is in `rancher-private.yml`

[2015-04-19 17:09] ibuildthecloud commented on #201
Thanks, I'll try to reproduce on my side

[2015-04-20 20:24] JemiloII commented on #189
if you look at the releases it shows 22 mb, I wouldn't be surprised. It's still small.

[2015-04-20 20:26] JemiloII commented on #170
Would you mind making a guide on how to add a device driver?

[2015-04-21 05:49] cloudnautique commented on #111
HVM AMIs have been added for v0.3.0. Also, the installer can now handle it.

[2015-04-21 05:50] #111 closed

[2015-04-21 05:52] cloudnautique commented on #110
"I'm giving her all she's got..." Should be good in v0.3.0.

[2015-04-21 05:52] #110 closed

[2015-04-21 13:28] ibuildthecloud commented on #170
Yes I can.  Are you trying to add a device driver that is in the upstream Linux kernel tree or is this a driver from a different source?  The procedure is a bit different.

[2015-04-21 17:36] ibuildthecloud commented on #201
I tried this and can't reproduce the error.  Here is what I did.  I created an empty HD and booted the RancherOS v0.3.0 ISO.  I logged in with rancher/rancher and created /home/rancher/cc.yml with the below contents

[code]

I then ran `sudo rancheros-install -d /dev/sda -c /home/rancher/cc.yml`.  After reboot it worked.

I tried `sudo rancherctl config export -p` and validated that it does indeed

[2015-04-21 18:34] bnoon commented on #201
I guess the cloud-config yam syntax was a red herring.  I did a clean install with v0.3.0 on a different system and it installed cleanly.

Thanks for your help (and for rancher!)

[2015-04-21 18:34] #201 closed

[2015-04-22 05:08] deniseschannon opened #209 "rancherctl service enable: when using a custom service, it's annoying that the file must be placed in a specific folder location"
It's annoying that I have to save a folder in a specific folder location (`/var/lib/rancher/conf/`) AND I have to name the the service `/var/lib/rancher/conf/example.yml` in order for my service to work.

[2015-04-22 16:41] deniseschannon opened #211 "system-docker logs doesn't work: throws error: ""logs" command is supported only for "json-file" logging driver""
V0.3.0

Trying to look at the logs of a container in system-docker, but unable to look at logs.

[code]

[2015-04-22 21:12] deniseschannon opened #212 "ports in service doesn't work"
Version: v0.3.0

Tried to create a service with specific port bindings

[code]

also tried

[code]
and the port bindings did not work as expected.

[2015-04-22 21:37] deniseschannon opened #213 "stdin_open: the setting doesn't get set in a service"
v0.3.0

Enabling a service with this yaml code doesn't work:

[code]

When I do a docker inspect on the container created with the yaml file, the container shows:

[code]

[2015-04-22 21:40] deniseschannon opened #214 "tty: this setting doesn't get set in service"
v0.3.0

Enabling a service with this yaml code doesn't work:

[code]

When I do a docker inspect on the container created with the yaml file, the container shows:

[code]

[2015-04-23 00:13] sheng-liang opened #215 "Does not accept keyboard input after bootup"
I boot up the latest 0.3.0 on Dell R220. The OS starts fine. But it does not accept keyboard input at login prompt.

This is reproducible with either iDRAC6 OR with physical USB keyboard. Does not make any difference. Tried booting the OS from virtual CD or USB CD. The outcome is the same. Keyboard does not work.

[2015-04-23 00:51] sheng-liang commented on #215
I tried the following (about 30 second into booting the OS): unplug CD ROM, plugin a mouse, unplug keyboard, unplug mouse, and plug CD ROM back in. Somehow in the middle of doing all this the IPMI keyboard started working. I then plug in the USB keyboard. USB keyboard still does not work.

I was able to collect the dmesg output:

[    0.000000] Initializing cgroup subsys cpuset
[    0.000000] Init

[2015-04-23 01:26] sheng-liang commented on #215
I saw a workaround in this bug report: https://bugzilla.redhat.com/show_bug.cgi?id=850785

I added usbcore.autosuspend=-1 and the issue appears to be fixed.

[2015-04-23 02:27] ibuildthecloud commented on #215
Do you think this is specific to your hardware or something we should generally apply?

[2015-04-23 02:35] sheng-liang commented on #215
I think this could be a mismatch of udev and the kernel or a bug in udev or the kernel.

Do we use the same udev as Ubuntu 15.04?

[2015-04-23 02:40] ibuildthecloud commented on #215
No, we use eudev.  Using systemd-udev seems extremely difficult to do without using systemd.

[2015-04-23 02:42] sheng-liang commented on #215
This problem did not appear in 0.2.x. It only happened after we moved to Ubuntu kernel. Reliably reproducible. Perhaps the final GA version of 15.04 kernel will be different.

[2015-04-23 03:02] ibuildthecloud commented on #215
In 0.3.1 we will bump the kernel.

[2015-04-23 04:11] deniseschannon opened #216 "expose: in service, this setting does not set any exposed ports"
v0.3.0

Enabling a service with this yaml code doesn't work:

[code]

When I do a docker inspect on the container created with the yaml file, the container doesn't have the port exposed:

[code]

[2015-04-23 05:13] deniseschannon opened #217 "hostname: in service, this setting is not being set"
v0.3.0

Enabling a service with this yaml code doesn't work:

[code]

When I do a docker inspect on the container created with the yaml file, the hostname is not updated to "test", it's still at "rancher".

[code]

[2015-04-23 14:30] patricvisit opened #219 "Include open-vm-tools"
Please include open-vm-tools for better compatibility with ESXi and VMWare workstation.

https://github.com/vmware/open-vm-tools
http://sourceforge.net/projects/open-vm-tools/files/open-vm-tools/

[2015-04-23 17:06] deniseschannon commented on #216
@ibuildthecloud the commit with the port bindings and exposed port setting did not fix the `expose` ports.

https://github.com/rancherio/os/commit/b2ece712376e72069f15d85fe8bf413922b6bd32

[2015-04-23 17:26] deniseschannon opened #220 "working_dir: the setting doesn't work with services"
v0.3.0

Enabling a service with this yaml code doesn't work:

[code]

When I do a docker inspect on the container created with the yaml file, the container doesn't have the working_dir set:

[code]

It doesn't appear to be attempted to be set in the code.

[2015-04-23 17:26] deniseschannon commented on #213
It doesn't appear to be enabled in the most recent commit for service:

https://github.com/rancherio/os/commit/b2ece712376e72069f15d85fe8bf413922b6bd32

[2015-04-23 17:27] deniseschannon commented on #214
It's not enabled in the most recent commit related to service.

https://github.com/rancherio/os/commit/b2ece712376e72069f15d85fe8bf413922b6bd32

[2015-04-23 17:45] deniseschannon opened #221 "restart: restart key is not enabled in code"
Reviewing the last commit regarding services, the

`restart` key is not enabled.

https://github.com/rancherio/os/commit/b2ece712376e72069f15d85fe8bf413922b6bd32

[2015-04-23 17:48] deniseschannon opened #222 "dns_search: dns_search key is not enabled"
v0.3.0

commit: https://github.com/rancherio/os/commit/b2ece712376e72069f15d85fe8bf413922b6bd32

does not enable `dnssearch`

[2015-04-23 17:58] deniseschannon opened #223 "links: links key is not enabled for services"
In v0.3.0, `links` key is not enabled.

Example yaml:

[code]

[2015-04-23 17:59] deniseschannon opened #224 "external_links: key is not enabled in service"
v0.3.0

in service, `external_links` key is not enabled.

[2015-04-23 18:00] deniseschannon opened #225 "environment: valid syntax breaks booting of rancherOS"
v0.3.0

The syntax of my `environment` key in my yaml file causes the reboot to stop around here:

[code]

File that causes it to stop working:

[code]

If I enable the same service, but only change the environment section to the example below, RancherOS will boot up fine.

[code]

[2015-04-23 18:01] deniseschannon opened #226 "env_file: key is not enabled in service"
v0.3.0

`env_file` key is not enabled.

[2015-04-23 18:02] deniseschannon opened #227 "extends: key is not enabled in services"
v0.3.0

`extends` key is not enabled in services

[2015-04-23 21:34] deniseschannon commented on #224
Looking at the concept of `external_links` in the docker compose yaml file, I'm not even sure if this is relevant in our scenario?

[2015-04-23 22:00] deniseschannon opened #228 "dns: valid syntax breaks booting of rancherOS"
v0.3.0

Setting DNS in the syntax of the example will cause the reboot to fail at
[code]

Example File Syntax:
[code]

[2015-04-24 06:15] imikushin opened #230 "`restart: always` not applied to services in compose format"
Repro:
  1. `rancherctl s enable https://gist.githubusercontent.com/imikushin/fec33701294b77641022/raw/d6c488f0fb1cb21d60e9d8b64c5a1e4abff767fe/nginx.yml`
  2. Reboot.
  3. Wait until `nginx` container is started. `docker ps -a` shows the container is running.
  4. Simulate container main process failure:
`ps -ef | grep 'nginx: master' | awk '{print $2}' | xargs -I{} kill {}`
  5. `docker ps -a` s

[2015-04-24 13:56] ibuildthecloud commented on #230
The compose parser is quiet incomplete at the moment.  Will fix.  I honestly thought this one worked, but obviously not.

[2015-04-24 14:02] imikushin commented on #230
I tried to fix this myself today, but got lost in config datastructures :)

On Fri, Apr 24, 2015, 18:56 Darren Shepherd <notifications@github.com>
wrote:

[2015-04-24 14:16] ibuildthecloud commented on #230
What!?  There's only four different data structures called all called config.  How could that be confusing :)

The code already has some cruft from the rapid iterations.  I can point you to what needs to been change in a bit.

Darren

[2015-04-24 16:15] deniseschannon commented on #230
I didn't even see that this was enabled per #221. At least I didn't see it in the factory.go file. I'll close my issue in favor of this one.

[2015-04-24 16:16] deniseschannon commented on #221
Better repro steps in #230.

[2015-04-24 16:16] #221 closed

[2015-04-24 16:17] deniseschannon commented on #211
Logs can be found in `/var/log/messages`. If you search by container ID in `/var/log/messages`, you will be able to find the relevant logs.

[2015-04-24 16:17] #211 closed

[2015-04-24 16:21] deniseschannon commented on #223
It doesn't show up when I do a `docker inspect` of a service that was enabled with links.

Example service:

[code]

[2015-04-24 16:26] deniseschannon commented on #228
The actual error while rebooting is:

[code]

[2015-04-24 18:48] JemiloII commented on #170
its a linux driver for the motherboard, sata drives, samsung evo, amd opteron 6272

[2015-04-24 20:41] bscott opened #232 "Extend Disk Size in RancherOS for AWS instances"
Hello,

I started my RancherOS AMI's with 500GB Disk's but RancherOS only see's 7GB, how can I extend the disk?

[2015-04-24 22:16] sheng-liang opened #233 "rancheros-install just quits if I don't use sudo"
The rancheros-install command just exits and prints nothing if I don't use sudo. It should at least print a message that root is required.

[2015-04-24 23:20] sheng-liang opened #234 "RancherOS should keep the DHCP system container running"
So it can renew the lease or request new leases.

[2015-04-24 23:40] sheng-liang opened #235 "Configuring RancherOS to load extra kernel modules does not work"
I ran

    rancherctl config set modules '[tun]'

to change rancher.yml to:

    modules:
    - tun

But the tun module was not loaded after rebooting the host.

[2015-04-25 14:29] ibuildthecloud commented on #232
Try

    docker run --privileged --rm -it debian:jessie resize2fs /dev/xvda1

Change xvda1 to the right disk for your setup.  We should create a system service to do this automatically on boot in AWS

[2015-04-25 14:37] hibooboo2 commented on #232
+1

[2015-04-25 19:49] ibuildthecloud commented on #216
That commit should have fixed "ports" but not expose.  Need more code for expose.

[2015-04-25 22:50] bscott commented on #232
rancher@ip-172-30-0-54:~$ docker run --privileged --rm -it debian:jessie resize2fs /dev/xvda1
resize2fs 1.42.12 (29-Aug-2014)
The filesystem is already 2094474 (4k) blocks long.  Nothing to do!

[2015-04-25 22:56] ibuildthecloud commented on #232
Hmmm.... Is the PV or HVM?

[2015-04-25 23:06] bscott commented on #232
HVM

[2015-04-27 22:26] maslick commented on #161
Same thing using Xen farm.
rancheros.iso: v0.3.0 (latest)

Had to edit /etc/resolv.conf manually, restarted the network. Now can reach network, but pulling any docker image results in:
[code]

[2015-04-28 00:52] kupo24z commented on #232
I'm having the same issue with a generic image on KVM/OpenStack, is it possible to mimic cloud-init's grow partition feature?

[2015-04-28 05:20] deniseschannon commented on #161
@maslick Is the network adapter getting renamed in your setup? The originally filed bug was due to a change that renamed network adapters, but in v0.3.0, that should have been fixed.

[2015-04-28 05:27] maslick commented on #161
@deniseschannon yeah, it's eth0

[2015-04-28 05:30] deniseschannon commented on #161
If it's eth0, then the network adapater renaming isn't the issue. Since this bug is closed, could you start a new bug with some more details on how you edited the file to get it to work? Thanks!

[2015-04-28 06:03] maslick opened #240 "Can't reach network from docker (8.8.4.4:53 issue)"
Similar to #161 , but internet seems to be working after a small fix in ```/etc/resolv.conf``` (add your dns server ip there: namespace xxx.yyy.zzz.nnn), but pulling any docker image results in:

[code]

resolv.conf:
[code]

P.S. after editing resolv.conf, restarted the network:
[code]

[code]

[2015-04-28 06:35] ibuildthecloud commented on #240
Please try configuring the DNS servers as described at http://rancherio.github.io/os/docs/configuring/

In sort run `rancherctl config set network.dns.nameservers '[10.5.0.x]'` and reboot.

[2015-04-28 07:12] maslick commented on #240
Reboot restores all the settings back to the default.

[2015-04-28 07:26] ibuildthecloud commented on #240
Are you running with a persistent disk?  After you run `rancherctl config set network.dns.nameservers '[10.5.0.x]'` can you look at /var/lib/rancher/conf/rancher.yml and see what is in there?

[2015-04-28 07:45] maslick commented on #240
it's empty

[2015-04-28 07:46] maslick commented on #240
I am running rancheros on a xen farm

[2015-04-28 07:51] ibuildthecloud commented on #240
After running `sudo rancherctl config set network.dns.nameservers '[10.5.0.x]'` you should see in /var/lib/rancher/conf/rancher.yml (before reboot)

[code]

If you don't have a persistent disk setup you are going to have to configure things either from a cloud-config (not sure how you'll do that in your environment) or from the kernel commandline.  If you can set the kernel command line you just n

[2015-04-28 07:55] maslick commented on #240
Oh, sorry, had to use sudo to view the file. Yeah, I have this in rancher.yml:
[code]

[2015-04-28 07:59] ibuildthecloud commented on #240
I'm assume you replaced 'x' with a real number.  You can do the same with search, so `rancherctl config set network.dns.search '[foo.com,bar.com]'`

When you reboot do you loose the configuration?

[2015-04-28 08:00] maslick commented on #240
Yeah. I have a real number.And yes, everything is gone after reboot.

[2015-04-28 08:05] ibuildthecloud commented on #240
So you haven't setup a disk to save state?  Can you do that.

    docker run --privileged -it debian mkfs.ext4 -L RANCHER_STATE /dev/xvda

Where /dev/xvda is the disk that will hold the state

[2015-04-28 08:08] ibuildthecloud opened #241 "Labels is []string or map[string]string"
According to Docker Compose documentation https://github.com/docker/compose/blob/721327110d922f807a225a572d772168c8c22641/docs/yml.md#labels labels can be a string array or map of string/string.

[2015-04-28 08:08] ibuildthecloud commented on #241
@deniseschannon Another one :)

[2015-04-28 08:12] maslick commented on #240
[code]

[2015-04-28 08:46] ibuildthecloud commented on #240
Right.... catch 22... hmmm...  We actually package mkfs.ext4 in the console so `mkfs.ext4 -L RANCHER_STATE /dev/xvda` should work

[2015-04-28 09:03] maslick commented on #240
ok, that did work!

[2015-04-28 09:03] #240 closed

[2015-04-28 10:19] imikushin commented on #230
The same for core system services: adding `Restart: "always"` in their config code doesn't propagate to their containers' `HostConfig.RestartPolicy` property, so they don't get restarted.

[2015-04-28 17:02] janeczku opened #243 "Bootstrapping a network volume (NBD)"
Instead of a local disk i need to bootstrap a network block device. My plan is to create another BootstrapContainer that will run the nbd-client and attach the network volume to /dev/nbd0. Then the disk  would be available to init.autoformat. Problem is the network isn't initialized until the very end of the init.
Any idea how to get a network before the BootstrapContainers are run?

[2015-04-28 17:52] imikushin opened #244 "docker and system-docker should have env vars from `rancher.environment`"
Suppose, we have something useful in `rancher.environment`, e.g.:
[code]
Currently there's just one chance to use these values: starting services on boot. It'd be convenient to have these values injected to containers started with a `docker` or `system-docker` CLI. Of course these should be overridable with real env vars (if available).

What do you think?

[2015-04-28 17:57] ibuildthecloud commented on #244
@imikushin All that would require is that we set the Rancher environment the to shells environment.  Docker already supports the syntax `docker run -e ASDF` where ASDF's value will be pulled from the current env.

I don't think we can set the env by default, because you probably have secret tokens or stuff like that in there that you probably don't want in your env.  But we could add a command lik

[2015-04-28 18:02] imikushin commented on #244
Ideally, I want `docker run -e` to pull env from rancher.environment, but offloading it to `rancherctl` would certainly work too.

[2015-04-28 18:06] imikushin commented on #244
So it'd be somewhat like standard `env`?
+1

[2015-04-28 18:08] ibuildthecloud commented on #244
Yep, like that.  PR's welcomed :)

[2015-04-28 18:09] imikushin commented on #244
working on it

[2015-04-29 05:32] #150 closed

[2015-04-29 06:27] sheng-liang commented on #235
Once this bug is fixed, can we make the default rancher.yml to include one line to load tun module? Partly to show how module load works, partly to enable KVM and RancherVM by default.

[2015-04-29 10:46] imikushin commented on #244
@ibuildthecloud see PR #246

[2015-04-29 16:50] dnegstad commented on #232
I had to rebuild the partition table and reboot (http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/storage_expand_partition.html) to be able to run resize2fs properly. The /dev/xvda1 partition is set to 8GB out of the box. Easiest thing to do in the short term is probably launch a fresh instance of rancher os, do the necessary partition resizing, and then take a new snapshot to use instead of the

[2015-04-29 16:52] dnegstad commented on #232
[This forum post](https://forums.aws.amazon.com/thread.jspa?messageID=539484) is probably the best example of how to do the partition resize without needing to unmount your root partition.

[2015-04-29 20:47] imikushin opened #250 "Service dependencies and environment in RancherOS"
Here's a (work in progress) [compose template](https://github.com/imikushin/rancheros-k8s/blob/master/k8s-common.yml) to get infrastructure Kubernetes services running on RancherOS (and here are the [container commands](https://github.com/imikushin/rancheros-k8s/tree/master/src/docker/rancheros-k8s/bin))

Here, `etcd-conf` requires `NODE_IP` on the environment, and `node-ip` does set it and even r

[2015-04-29 20:51] imikushin commented on #250
Also, this could be addressed if `system-docker` and `docker` could use `rancher.environment` with docker CLI `--env` option (as per #244 original proposal).

[2015-04-29 22:14] sheng-liang opened #252 "RancherOS upgrade should check the current version to make sure it can be upgraded"
The current doc says:

Let’s walk through upgrading! The rancherctl os upgrade command will automatically upgrade to the current release of RancherOS. The current release is designated as the most recent release of RancherOS. If you are a couple of versions behind, it’s recommended to upgrade to each subsequent versions as RancherOS doesn’t support going from v0.1.2 to v0.2.1 (skipping v0.2.0).

S

[2015-04-29 22:42] ibuildthecloud opened #253 "failing to load a module on boot fails the OS startup"
If you put in a module in the `modules` configuration of the rancher.yml that does not exist or fails to load, the entire boot process will fail.  It should just log an error and continue on.

[2015-04-29 23:14] ibuildthecloud opened #254 "Add support for preloading images from disk"
Today the base OS images are packaged in images.tar in the initrd.  Once the state partition is loaded we should look for *.tar.gz at `/var/lib/rancher/images/system` and load those in to system docker.  Once the file is successfully loaded we should delete those files so the loading happens on first boot only.

Additionally we should look for `/var/lib/rancher/images/user/*.tar.gz` and preload th

[2015-04-29 23:15] ibuildthecloud commented on #254
@imikushin @cloudnautique Thoughts?

[2015-04-29 23:32] ibuildthecloud commented on #232
@bscott We need to fix this.  So if you run PV you can just do `docker run --rm --privileged -it debian resize2fs /dev/xvda1` but HVM has a real partition table so resizing requires you to resize the partition first and then reboot.

We will look at building this resize logic into RancherOS (or simple system service that can be loaded at boot).  CoreOS does a similar thing in that they always exte

[2015-04-29 23:51] ibuildthecloud commented on #232
@bscott I got it working with no reboot needed.

@kupo24z Thanks for pointing me to cloud-init.  The following little script works.  We will try to make a more official one.

[code]

[2015-04-30 01:43] cloudnautique commented on #254
I like the approach, and think this will work. Are these going to be `docker save` or `docker export`. If we can pull it off, I think the save approach is what we will want.

[2015-04-30 02:17] ibuildthecloud commented on #254
Save format.  The format that keeps the layers and metadata intact.

[2015-04-30 02:19] SvenDowideit commented on #254
I'd like to do this on b2d too - `docker save` wise definitely.

given that you guys are being forced to implement b2d legacy stuff here, perhaps we can agree on a more neutral location?

(or perhaps we can do something clever with `/var/lib/docker`?

[2015-04-30 14:42] ibuildthecloud commented on #254
@SvenDowideit I think a neutral location would be good.  It would actually be nice to put it in `/var/lib/docker/preload` or something like that and have docker do this itself on startup.  Then things beside b2d and RancherOS could leverage this.  I know it's a pretty common scenario to want to prepackage images in a VM/server image (for example AMI), and for image builders it would be probably be

[2015-04-30 18:14] imikushin commented on #254
+1 for docker-side preload of `docker save`ed images.

[2015-04-30 18:59] wlan0 commented on #101
@ibuildthecloud -- should it be writable as "rancher" user? Any example packages that I can use to reproduce?

[2015-04-30 19:36] wlan0 commented on #132
ping @mariomarin -- any updates on this issue? I tried this with rancheros-v0.3.0-1 - ami-ca3e39a2

I cannot reproduce this issue.

[2015-04-30 20:11] deniseschannon commented on #252
Need to update docs.

[2015-04-30 20:13] ibuildthecloud commented on #244
I think #246 is the correct approach, I'm closing this issue.  Please reopen if you think something else should be done

[2015-04-30 20:20] #235 closed

[2015-04-30 20:30] deniseschannon commented on #226
Will open bug in rancher-compose

[2015-04-30 20:30] #226 closed

[2015-04-30 20:32] deniseschannon commented on #224
Log bug in rancher-compose

[2015-04-30 20:32] #224 closed

[2015-04-30 20:38] ibuildthecloud commented on #219
Will do.  Just curious though.  What features are you looking to get out of these tools?  Operations around mounts are tricky at the moment.

[2015-04-30 20:43] #215 closed

[2015-04-30 20:46] deniseschannon commented on #209
enforce needing the location of a service enabled to either `/var/lib/rancher/conf` or `/home` or `/opt`

[2015-04-30 20:49] deniseschannon commented on #194
stop echoing. remove `set - x` from scrips. @cloudnautique

[2015-04-30 20:53] deniseschannon commented on #192
@deniseschannon - fix the docs to require directory
@wlan0 - fix that there is no default directory. we must require directory, error out if no directory is provided.

[2015-04-30 20:55] #190 closed

[2015-04-30 20:55] #196 closed

[2015-04-30 20:56] #188 closed

[2015-04-30 20:57] deniseschannon commented on #184
this is default behavior

[2015-04-30 20:57] #184 closed

[2015-04-30 20:58] #180 closed

[2015-04-30 21:02] sheng-liang commented on #173
The real problem is we don't print what's running when boot hangs.

[2015-04-30 21:04] deniseschannon commented on #171
Fixed in v0.3.0

[2015-04-30 21:04] #171 closed

[2015-04-30 21:07] deniseschannon opened #258 "break apart build and make it more modular"
@imikushin - @ibuildthecloud will discuss with you more.

[2015-04-30 21:08] deniseschannon commented on #170
With #258, this will help with this issue.

[2015-04-30 21:08] #164 closed

[2015-04-30 21:10] #168 closed

[2015-04-30 21:10] #167 closed

[2015-04-30 21:17] #162 closed

[2015-04-30 21:18] deniseschannon commented on #156
@imikushin Is this still an issue?

[2015-04-30 21:20] #144 closed

[2015-04-30 21:22] deniseschannon commented on #141
Need to add to docs

[2015-04-30 21:26] deniseschannon commented on #135
With v0.3.0, this should be fixed. If not, please reopen.

[2015-04-30 21:27] deniseschannon commented on #132
with v0.3.0, this should be fixed. Please re-open if you are still having issues.

[2015-04-30 21:27] #132 closed

[2015-04-30 21:29] deniseschannon opened #259 "stage all container images when enabled instead of at startup."

[2015-04-30 21:29] deniseschannon commented on #129
With v0.3.0, this should be fixed.

[2015-04-30 21:29] #129 closed

[2015-04-30 21:30] deniseschannon commented on #128
@tobowers let us know if you are still having any issues and please re-open.

[2015-04-30 21:30] #128 closed

[2015-04-30 21:31] deniseschannon commented on #123
This should be fixed in v0.3.0. Please re-open if you have any issues.

[2015-04-30 21:31] #123 closed

[2015-04-30 21:31] #116 closed

[2015-04-30 21:31] #115 closed

[2015-04-30 21:35] deniseschannon commented on #106
@imikushin Closing this as logic is in console. Let's discuss if it's still not working.

[2015-04-30 21:35] #106 closed

[2015-04-30 21:36] #107 closed

[2015-04-30 21:36] #108 closed

[2015-04-30 21:36] #101 closed

[2015-04-30 21:37] #100 closed

[2015-04-30 21:37] deniseschannon commented on #98
In v0.3.0, this should be fixed. Please re-open if it's still an issue.

[2015-04-30 21:37] #98 closed

[2015-04-30 21:37] #94 closed

[2015-04-30 21:38] #93 closed

[2015-04-30 21:38] #92 closed

[2015-04-30 21:39] deniseschannon commented on #89
@zoobab Please reopen if the memory fix didn't work.

[2015-04-30 21:39] #89 closed

[2015-04-30 21:40] #80 closed

[2015-04-30 21:41] #71 closed

[2015-04-30 21:41] deniseschannon opened #260 "Include GCE Agent in RancherOS"

[2015-04-30 21:42] #69 closed

[2015-04-30 21:43] deniseschannon commented on #50
In v0.3.0, this is definitely fixed. Please re-open if still having issues.

[2015-04-30 21:44] deniseschannon opened #261 "Produce OpenStack images"
@cloudnautique will help @imikushin with how to package issues.

[2015-04-30 21:45] deniseschannon commented on #46
We'll do OpenStack issues. Please track using #261

[2015-04-30 21:45] #46 closed

[2015-04-30 21:46] #43 closed

[2015-04-30 21:46] #39 closed

[2015-04-30 21:47] #38 closed

[2015-04-30 21:47] #33 closed

[2015-04-30 21:47] #32 closed

[2015-04-30 21:47] #30 closed

[2015-04-30 21:47] #28 closed

[2015-04-30 21:47] #26 closed

[2015-04-30 21:48] #24 closed

[2015-04-30 21:48] #23 closed

[2015-04-30 21:48] #22 closed

[2015-04-30 21:49] #21 closed

[2015-04-30 21:49] #20 closed

[2015-04-30 21:49] #18 closed

[2015-04-30 21:49] #17 closed

[2015-04-30 21:49] #16 closed

[2015-04-30 21:50] #9 closed

[2015-04-30 21:50] deniseschannon commented on #6
@deniseschannon - Add to docs

[2015-04-30 21:50] #5 closed

[2015-04-30 21:50] #4 closed

[2015-04-30 21:55] deniseschannon opened #262 "Get DigitalOcean working"

[2015-04-30 22:02] deniseschannon opened #263 "Add ability to add other users"

[2015-04-30 22:05] deniseschannon opened #264 "DKMS Support"

[2015-04-30 22:32] wlan0 commented on #66
verified that this is fixed.

@deniseschannon This can be closed.

[2015-05-01 00:10] wlan0 commented on #209
@deniseschannon What is needed here?

[2015-05-01 00:15] deniseschannon commented on #209
yes, basically an error message indicating that the yaml file needs to be in `/var/lib/rancher/conf/` if it can't be found.

right now, we add in the name of the service into the rancher.yml even if the file isn't located in that directory  like i did `rancherctl service enable test.yml` which obviously wouldn't work.

[2015-05-01 00:16] deniseschannon commented on #66
@runseb if this is still an issue, please re-open, but it looks as if it's fixed as of v0.3.0

[2015-05-01 00:16] #66 closed

[2015-05-01 05:04] #253 closed

[2015-05-01 05:14] #192 closed

[2015-05-01 05:21] #233 closed

[2015-05-01 06:17] imikushin commented on #244
OK

[2015-05-01 06:17] #244 closed

[2015-05-01 06:34] wlan0 opened #272 "Do not fail boot, if service cannot be loaded"

[2015-05-01 10:02] imikushin opened #274 "Container gets started when its data volume dependencies are not satisfied"
Given we have this in our compose file:
[code]

current os master boots with the following messages:
[code]

`rancherserver` shouldn't have even been attempted to start: because a hard (! - its data volumes) dependency wasn't satisfied

[2015-05-01 10:06] imikushin commented on #274
`rancher-state` container still gets created, never minding the nasty "fatal" error

[2015-05-01 10:06] imikushin opened #275 ""Invalid volume specification: /var/lib/cattle""
Given we have this in our compose file:
[code]

current os master boots with the following messages:
[code]

So, two things:
1. What's wrong with the volume specification?
2. #274

[2015-05-01 10:12] imikushin commented on #274
Here's a snippet of `docker inspect rancher-state`:
[code]

[2015-05-01 15:55] deniseschannon commented on #139
has a PR to master been made yet? i

[2015-05-01 16:01] deniseschannon opened #278 "rancheros-install: package is too big"
it takes too long to download package, which is why #190 is annoying.

we won't be fixing #190, but the request is to make the package smaller.

[2015-05-01 16:45] imikushin commented on #275
@ibuildthecloud I made an attempt to fix this, but stumbled at what appears to be dead code (#276). Setting `runconfig.Config{}.Volumes` to properly parsed `volumes` had no effect. Need some pointers!

[2015-05-01 17:24] wlan0 commented on #272
If a service description (.yml file) cannot be parsed, it stops boot process

[2015-05-01 17:52] wlan0 commented on #259
Can you elaborate?

[2015-05-01 18:16] deniseschannon commented on #259
The request is that when we enable a service, they want any images in the service to be downloaded during enabling versus waiting until we reboot.

@ibuildthecloud please let me know if the elaboration is incorrect.

[2015-05-01 18:58] #241 closed

[2015-05-01 19:09] #139 closed

[2015-05-02 00:23] wlan0 commented on #166
@deniseschannon what's needed here? Better message if key doesn't exist, and a way to distinguish between `false` value and invalid key?

[2015-05-02 01:43] ibuildthecloud commented on #166
@deniseschannon I think we had said that the issue here is that no default values are printed.  Only values put in rancher.yml are read.  So we need to read from the full config and not just rancher.yml

[2015-05-02 02:03] deniseschannon commented on #166
@wlan0 yes, problem is that no default values are printed. so if you did a `sudo rancherctl get dns` nothing would be printed out. it only prints things from the rancher.yml

[2015-05-02 04:25] deniseschannon commented on #213
Verified fix in v0.3.1-rc1

[2015-05-02 04:25] #213 closed

[2015-05-02 04:26] deniseschannon commented on #214
Verified fix in v0.3.1-rc1

[2015-05-02 04:26] #214 closed

[2015-05-02 04:27] deniseschannon commented on #220
Verified fix in v0.3.1-rc1

[2015-05-02 04:27] #220 closed

[2015-05-02 04:28] deniseschannon commented on #230
This looks fixed in v0.3.1-rc1, but @imikushin could you test this out for me? Just want a second tester.

[2015-05-02 04:38] deniseschannon commented on #228
Verified fix v0.3.1-rc1

[2015-05-02 04:38] #228 closed

[2015-05-02 06:04] deniseschannon commented on #217
if net: host, then hostname will not work. i've added to the document about hostname.

[2015-05-02 06:04] #217 closed

[2015-05-02 06:07] deniseschannon commented on #252
Updated docs to remove requirements of upgrading to subsequent versions.

[2015-05-02 06:07] #252 closed

[2015-05-02 10:22] imikushin commented on #230
Confirm fixed.

[2015-05-02 10:22] #230 closed

[2015-05-02 16:12] ibuildthecloud commented on #274
@imikushin What's not clear to me is how does this setup differ from anything else in RancherOS.  We do the exact same thing with our data containers and system container.  It seems there is something about `rancher-state` that is off.  Do you have issue if you create that container by itself.  Don't have rancher-server also.

[2015-05-02 16:41] imikushin commented on #274
System data containers bind host dirs into container volumes (e.g. like `/home:/home`), here we have `/var/lib/cattle` (no `:`). I think that's it. Nothing special about rancher-state in itself.

[2015-05-02 16:50] ibuildthecloud commented on #274
Does the following fail?

[code]

[2015-05-02 16:52] imikushin commented on #259
Another option would be to run the new service on enable. But this could be
controlled by a parameter. Say, with `--stage` just download the images and
start everything on reboot. Without the option, start right away.

On Fri, May 1, 2015, 23:16 Denise <notifications@github.com> wrote:

[2015-05-02 18:33] imikushin commented on #274
yup:
[code]

[2015-05-02 18:59] ibuildthecloud commented on #274
Cool, well that narrows it down a bit.

[2015-05-02 23:39] ibuildthecloud commented on #259
I think what @imikushin said may be better.  We might be able to just do a "project up" after saving the configuration.

[2015-05-04 04:59] deniseschannon opened #281 "labels change to map/slice has an issue during config export"
@imikushin, @ibuildthecloud: when i do a docker inspect on containers, the labels look correctly. so i'm not sure why the labels aren't coming out correctly during the `rancherctl config export -f`

this was discussed in https://github.com/rancherio/os-services/pull/6#issuecomment-98489965

[2015-05-04 09:13] imikushin commented on #50
@deniseschannon this is still an issue in v0.3.0 and v0.3.1 RCs. Repro: just add another NIC.
[code]
Then look at `ip link` having sshed into the VM:
[code]
Here, `eth1` NIC is down.

[2015-05-04 16:16] deniseschannon opened #283 "rancherctl config set: Setting something with invalid syntax is accepted, but prevents any other changes to file"
v0.3.1

Steps to Reproduce:

1. Using rancherctl config set, set a value with invalid syntax
[code]
2. Change will be made in `rancher.yml` file and unmarshal error will be shown:
[code]
3. Due to the unmarshal error, you will be unable to make any additional changes to the `rancher.yml` file unless you go directly into the file and remove the invalid syntax.

Since we are encouraging users to use

[2015-05-04 17:40] deniseschannon commented on #141
Added to docs within configuration/networking

[2015-05-04 17:40] #141 closed

[2015-05-04 17:53] deniseschannon commented on #185
Fixed in v0.3.0

[2015-05-04 17:53] #185 closed

[2015-05-04 21:35] deniseschannon commented on #50
@ibuildthecloud, see @imikushin's comment on how it's not fixed yet. It looks like he's put in a PR for it.

[2015-05-05 00:25] wlan0 commented on #166
@deniseschannon @ibuildthecloud  -- Currently we do read from default config. I understand the need for better error messages when the key specified is wrong.

Similarly, the need for displaying the value 'false' instead of blank line is also clear to me. But, there is no evidence to prove that default values are not printed.

This command works just fine

`sudo rancherctl config get network.dns`

[2015-05-05 03:33] ibuildthecloud commented on #166
If default values are printed I'm not sure if there is anything to do.  If somebody does a get on a non existent key, I think I'm fine with it printing nothing,

[2015-05-05 03:40] #151 closed

[2015-05-05 03:46] deniseschannon commented on #166
I had previously filed this when in an earlier release, the userdocker.tls was showing a false when it wasn't set. But it could also have been when I was playing around with trying to get tls to work so the key was set in rancher.yml. I agree that if no key exists, it could print nothing. It would be nice to have a message that says "No key exists" but not sure if it's necessary.

[2015-05-05 06:02] ibuildthecloud commented on #209
I think enable should validate that the service is

1) A name that contains no `/`
2) A file that exists and starts with `/var/lib/rancher/conf`
3) A url that starts with http:// or https://

[2015-05-05 17:25] deniseschannon commented on #281
FYI, the array is due to the marshalling of the new types. I will be creating a PR soon to correct this.

[2015-05-05 18:07] wlan0 commented on #209
@ibuildthecloud If you look at the code change I made, the above three cases are taken care of.

https://github.com/rancherio/os/pull/273

[2015-05-05 21:54] ibuildthecloud commented on #209
I didn't realize #1, #2 was taken care of.  I'll try to run the code.

[2015-05-05 21:58] wlan0 commented on #209
@ibuildthecloud  -- If #1 is not met, then it throws an error
It doesn't enforce #2, but we have been following the convention of putting these files in `/var/lib/rancher/conf`. I should enforce it. I will make that change now

[2015-05-05 22:09] wlan0 commented on #209
@ibuildthecloud I've pushed the changes to enforce #2.

[2015-05-05 22:11] wlan0 commented on #209
Also, Im guessing #1 means no trailing `/` right?

[2015-05-06 04:27] #222 closed

[2015-05-06 04:27] #216 closed

[2015-05-06 04:28] #281 closed

[2015-05-06 16:05] deniseschannon opened #291 "Should provide a warning when keys are in a service file don't exist or are not a valid key"
Currently, if you put an invalid key (due to a typo or lack of understanding of what's supported in rancher-compose), we should display a warning to the user so they know that the key wasn't used/read.

[2015-05-06 17:41] deniseschannon opened #292 "io.rancher.os.remove=false is broken with new labels change"
With v0.3.1,

If the label `io.rancher.os.remove=false` is applied, it doesn't work.

`rancherserver` and `rancherstate` from previous boot become `rancherserver-f6f2b405cbb3ddcaebe1d3d21dc4d28c12182276` and `rancher-state-509585100fb8965b8e0300c47da08bc62e87f2e6` on the next boot and don't go anywhere, just stay exited.

[2015-05-06 18:48] wlan0 commented on #291
Are you saying that if the syntax of rancher-compose file is wrong for a service, the user should be warned?

[2015-05-06 21:21] #191 closed

[2015-05-06 21:50] #283 closed

[2015-05-07 08:04] xinity opened #294 "[os-vagrant] guest tools should not be deployed"
i tried to play with os-vagrant , and while i was doing a "vagrant up", i had this strange message:
"No installation found.
The guest's platform is currently not supported, will try generic Linux method...
Copy iso file /usr/share/virtualbox/VBoxGuestAdditions.iso into the box /tmp/VBoxGuestAdditions.iso
stdin: is not a tty
mount: Could not find any loop device. Maybe this kernel does not know

[2015-05-07 13:09] far-blue opened #295 "High minimum memory requirement"
Despite the small distribution size of rancherOs, it has a very high ram requirement. It should be entirely possible to run the OS and do something useful in 256Mb ram (I have happily setup mail servers and small web servers using ubuntu server edition in this much ram). The problem would appear to be at least partly due to the large rootfs filesystem of over 400Mb, despite the fact only 86Mb is u

[2015-05-07 15:19] patricvisit commented on #219
Well from the FAQ, the things that would be nice to have are:
- Memory ballooning
- Disk wiping and shrinking (maybe)
- Time synchronization (maybe, though NTP is a better choice)
- GuestInfo (provides statistics about guest environment) <- very useful
- Soft power operations <- very useful

http://open-vm-tools.sourceforge.net/faq.php

[2015-05-07 21:43] deniseschannon commented on #291
Yes, this is what @ibuildthecloud had suggested when he used `export` instead of `expose` for a test case. Since `export` is not a valid key.

[2015-05-07 23:26] prologic opened #298 "ChangeLog / Release Notes"
Do we have any? Been a while since I looked at RahcerOS and I'd like to get more involved :)

[2015-05-08 17:08] deniseschannon commented on #298
Currently, we have no change log or release notes. One way to see the changes is to view the difference between tags and you can see the commits that have been made in between release. It's not the easiest way to see the updates between releases, but it's the only way that I know of as now.

[2015-05-08 19:17] deniseschannon opened #299 "In user-docker, if you enable a service and then try to disable, the container doesn't stop."
v0.3.1-rc1

If I enable my own service in user-docker instead of system-docker, after I disable it, the container is still running.

[2015-05-08 20:38] prologic commented on #298
@deniseschannon Thanks :) It's better than nothing! I'll have a gander :)

[2015-05-08 20:39] #298 closed

[2015-05-09 16:35] frol commented on #295
Yeah, that what I have bumped in also. The error message is also weird: "no space left on device" and kernel panic right after this. http://www.awesomescreenshot.com/image/202326/e797a32373ecfa94a2b258cfb440a3d1

[2015-05-09 16:53] frol opened #300 "[os-base] Bump kernel to 4.0"
Could you please bump the kernel to 4.0? `kmem` leaks in cgroup were fixed ([here are more details](https://github.com/docker/docker/issues/6479#issuecomment-97503551))

[2015-05-09 16:54] ibuildthecloud commented on #295
It should be possible to eventually run rancheros from 256mb.  The only reason that is not possible is that we don't do a pivot root to disk to free the initrd.  We will do this though because it causes other issues with docker.

This is a valid bug.  This is important to me that we fix this.

[2015-05-09 17:03] ibuildthecloud commented on #295
@frol The "no space left on device" is because it can't expand the initrd which is quite large unexpanded.  This will be fixed too.

[2015-05-09 17:05] frol commented on #295
@ibuildthecloud I do understand it now, but at first I was really confused.

[2015-05-11 17:14] deniseschannon commented on #299
Disabling only doesn't work when the service has this label:

[code]

[2015-05-11 21:11] deniseschannon opened #304 "Using label io.rancher.os.remove=false only works after 2nd reboot"
In v0.3.0+,

if you add in a system-service and use the label `io.rancher.os.remove=false`. the label will only start working appropriately after the 2nd reboot due to the networking settings.

In order for it to work correctly, the system-service would need to link to the network using:

[code]
By adding the link to the network in the service file, the first reboot will be able to use the same se

[2015-05-12 01:02] #292 closed

[2015-05-12 01:04] #209 closed

[2015-05-12 01:10] ibuildthecloud commented on #50
I'm closing as per https://github.com/rancherio/os/pull/282#issuecomment-101085569

[2015-05-12 01:10] #50 closed

[2015-05-12 04:51] deniseschannon commented on #209
Just tested this out with `rancherctl service enable test.yml`. The error message was "could not load service". Would it be okay if we made the change so that if the service ended in `.yml`, it shows the message that the file needs to be in `/var/lib/rancher/conf`?

[2015-05-12 05:09] ibuildthecloud commented on #209
We can check if it doesn't start with http then print that message.

[2015-05-12 05:19] deniseschannon commented on #209
@ibuildthecloud just made the PR.

[2015-05-13 05:08] #275 closed

[2015-05-13 14:46] frol commented on #300
I just want to point out that it has been already merged 4.0 into boot2docker and works just fine!

[2015-05-14 04:48] imikushin opened #309 "Panic on boot after poweroff"
Repro: start RancherOS, log in, `sudo poweroff`, boot the same machine again, panic!
Reboots can also trigger the same panic, but I can't confirm it happens all the time.
Affects the current master.

[code]

[2015-05-14 12:13] ismail0352 commented on #240
Hi
I am facing exact same issue.
I tried all the steps  mentioned above , but still it didn't work for me.
Please, Can you help me to solve this issue?

[2015-05-14 16:11] deniseschannon commented on #240
@ismail0352 what version of rancherOS are you running? and how did you get it launched?

Please try the steps in this order:
1. boot rancheros
2. `sudo mkfs.ext4 -L RANCHER_STATE /disk/name` this will allow a persisting state.
3. `sudo reboot` if you do not reboot at this stage, any changes made will still not be saved.
4. after you reboot, `sudo rancherctl config set network.dns.nameservers '[10.

[2015-05-14 16:42] deniseschannon opened #313 "Startup Errors: Boot order of containers is not correct"
After running `sudo mkfs.ext4 -L RANCHER_STATE /dev/sda`, I just continue to reboot.

If I continue to reboot over and over again (no changes to OS), you will eventually hit a startup error related to the start of containers.

The startup complains that `all-volumes` container is non-existent and doesn't start a series of other containers.

It also complains that the name "cloud-init-pre-982340825

[2015-05-14 17:08] deniseschannon commented on #225
Fixed with https://github.com/rancherio/os/pull/303

[2015-05-14 17:18] deniseschannon opened #314 "Login screen interface IP addresses are printed multiple times"
Sometimes during the boot of RancherOS, it prints out several lines of the IP information made from this change (https://github.com/rancherio/os/pull/247).

Steps to Reproduce:
Reboot several times after saving to disk or setting in persisting state.

In error #313, I got this:
[code]

Other times:
[code]

[2015-05-14 17:27] deniseschannon commented on #136
@squillace Please let me know if you were able to get this to work. And to answer your question, yes, you should be able to add the SSH keys into the cloud config file and create the image with them.

You would ssh with `ssh rancher@ip_address` and would have access like normal.

[2015-05-14 17:45] #225 closed

[2015-05-15 05:44] ismail0352 commented on #240
Sorry , It didn't work.
My steps and their output:
1) boot OS
2) sudo mkfs.ext4 -L RANCHER_STATE /dev/sda1
OutPut:
mke2fs 1.42.12 (29-Aug-2014)
/dev/sda1 contains a ext4 file system labelled 'RANCHER_STATE'
	last mounted on /var on Fri May 15 05:29:46 2015
Proceed anyway? (y,n) y
/dev/sda1 is mounted; will not make a filesystem here!

3) reboot
4) sudo rancherctl config set network.dns.nameservers

[2015-05-15 16:24] deniseschannon commented on #240
Can you tell me what version of RancherOS and how you are running it?

From: ismail0352 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rancherio/os <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, May 14, 2015 at 10:44 PM
To: rancherio/os <os@noreply.github.com<mailto:os@noreply.github.com>>
Cc: Denise Schannon <denise@rancher.com<mailto:denise@rancher

[2015-05-15 16:57] imikushin commented on #313
Confirm reproduced.

[2015-05-19 06:18] ismail0352 commented on #240
Version 0.3.0
Booting using Vagrant box: https://github.com/rancherio/os-vagrant

[2015-05-20 11:15] imikushin commented on #240
@ismail0352
10.5.0.15 is a private IPv4 address (in 10.0.0.0 - 10.255.255.255 range).
Do you have a DNS server on 10.5.0.15 on your internal network? If not, it's not gonna work.

RancherOS uses Google's public 8.8.8.8 and 8.8.4.4 DNS servers by default. These are accessible almost everywhere (but can be blocked by some ISPs with ridiculous policies). There are also publicly available OpenDNS serv

[2015-05-20 11:54] ismail0352 commented on #240
Thanks,
My DNS server address are 172.27.172.12, 172.27.172.10
I tried this and it worked
1)sudo rancherctl config set network.dns.nameservers '[172.27.172.12, 172.27.172.10]'
2) reboot

[2015-05-22 17:51] #309 closed

[2015-05-22 23:42] ibuildthecloud commented on #172
It's pretty difficult to remove the need for docker in the build.  Can you elaborate on why you can't or don't want to install Docker?  You're always free to modify the ISO using tools like genisoimage, but I'm not sure what you would be adding to the ISO.

[2015-05-23 02:44] deniseschannon commented on #136
@squillace I'm going to close this issue and assume you've figured it out. If you are still having issues, please feel free to re-open.

[2015-05-23 02:44] #136 closed

[2015-05-23 02:48] deniseschannon commented on #212
Fixed in v0.3.1

[2015-05-23 02:48] #212 closed

[2015-05-23 02:50] deniseschannon commented on #313
@imikushin Is this fixed with the container hashing?

[2015-05-23 08:18] imikushin commented on #313
Yes

[2015-05-23 13:38] janeczku commented on #261
I am interested in this too. Just to clarify, this OpenStack image will have `ec2 datasource` enabled by default?

[2015-05-23 15:30] ibuildthecloud commented on #261
Yes it will.  Either ec2 or config drive support should be turned on in OpenStack, otherwise it won't boot.

[2015-05-23 19:39] #313 closed

[2015-05-24 01:29] janeczku opened #321 "Make stable releases available under an IPXE compatible URL"
RancherOS is the perfect candidate for deployment via IPXE.
But since IPXE doesn't work with Github hosted files (in fact it neither supports HTTPS nor 301 redirects), it would be nice if the stable release files were to be made available under a static HTTP URL (like is the case for CoreOS).

Here is my (perfectly working) RancherOS IPXE boot script:
[code]

[2015-05-24 03:05] ibuildthecloud commented on #321
For sure!   I didn't realize iPXE couldn't pull from HTTPS or redirects.  We are just about to release v0.3.1.  We will do this then.

[2015-05-24 03:33] ibuildthecloud commented on #321
FYI @imikushin @cloudnautique

[2015-05-24 03:34] janeczku commented on #321
@ibuildthecloud :100: awesome

[2015-05-25 19:20] Nicofuma opened #323 "Ship docker-compose or rancher-compose with rancher-os"
docker-compose (or rancher-compose) is great often used when you have to deployed services involving many containers. It would be nice to have it natively supported by rancher-os

[2015-05-25 22:26] Nicofuma opened #324 "source ~/.bashrc if exists"
We all like to alter our bashrc (to add /opt/bin to the path, change the prompt to dissociate our server console etc...) but currently the user .bashrc doesn't seem to be sourced when a new session is opened

[2015-05-25 22:44] ibuildthecloud commented on #324
Hmm.... now this gets in the the intricacy of .bash_profile vs .bashrc.  I'll figure out why it isn't sourcing the .bashrc.

[2015-05-25 22:53] Nicofuma commented on #324
the .bash_profile is sourced? (to be honest I didn't tried this one)

[2015-05-25 22:56] ibuildthecloud commented on #324
Not sure, but if bashrc isn't getting read, then .bash_profile probably is.

[2015-05-26 00:38] deniseschannon opened #325 "Version Control - Should we remove the RC of versions that have officially released?"
After a version is released, should we remove the rc's of that release? For example, v0.2.0-rc1-3 and v0.3.0-rc1-4 is still available to download and still showing up when we run `sudo ros os list`.

[2015-05-26 00:45] deniseschannon opened #326 "v0.3.1-rc3: Not able to downgrade to v0.3.0"
Booted with ISO. Installed to disk using `rancheros-install`.

Trying to downgrade to v0.3.0, but the version keeps showing `v0.3.1-rc3`

[2015-05-26 09:11] SatWiz commented on #61
Any progress creating a usable openstack qcow2 image? While boot from iso I don't have any usable block device to install to. I am using openstack nova and whould like to test rangeros :).

[2015-05-26 17:29] #326 closed

[2015-05-26 17:31] deniseschannon opened #328 "debian-console not showing up in service list"
v0.3.1-rc3

Run `sudo ros service list` and only ubuntu is showing up.

With the addition of the `debian-console` in os-services, it should also show up.

[2015-05-26 18:05] dudymas commented on #61
I've been rolling my own qemu's from the isos, as we also deploy with openstack. packer might let you accomplish this.

try nabbing packer from http://packer.io
then git clone https://github.com/cloudnautique/rancher-packer

cd to /vagrant

edit either json file to use fields in https://packer.io/docs/builders/qemu.html

I might have time to put something up on github for ya. just no promises on s

[2015-05-26 18:49] deniseschannon commented on #325
@imikushin Any opinion on this?

[2015-05-26 18:53] #299 closed

[2015-05-26 20:56] Nicofuma opened #329 "Rotate /var/log/messages"
I think that /var/log/messages should/could be rotate (maybe between each reboot?)

By the way, a logrotate service could be a must ;)

EDIT: it's the same for docker.log and system-docker.log

[2015-05-26 20:58] SatWiz commented on #61
Thanks for pointing to your solution. I will read the docs and will see to understand. But I just wonder if the wheel is already invented why there is no general openstack image with a variable user_data input made yet.
I have meanwhile played with rangeros on my own kvm server and must say it is way easier then coreos to manage. Great job!

[2015-05-26 21:08] dudymas commented on #61
Well, we can certainly just make a PR to the packer scripts.

I agree we should add an image that takes user_data too. All you have to do is install cloudinit on the os via script... maybe I could just grab a build of https://github.com/coreos/coreos-cloudinit and have the rancher system docker run cloudinit in a rancher flavor (i.e. build it without the coreos flags).

put that on a phusion or al

[2015-05-26 21:15] dudymas commented on #261
I agree we should add an image that takes user_data too. Perhaps we could get a custom build of cloudinit based on https://github.com/coreos/coreos-cloudinit and have the rancher system docker run the container... perhaps based on a phusion or alpine container, and it'd still be rather slim... could even tell it to clean up afterwards.

Just make it a special build. Still the same incredible size.

[2015-05-26 21:22] ibuildthecloud commented on #329
Definitely on the todo list, PR's welcome :)

Logrotate is already packaged in RancherOS, we just have yet to create a container for it.  If your adventurous you can try to create a logrotate service at https://github.com/rancherio/os/tree/master/scripts/dockerimages and then add it to config/default.go

[2015-05-26 21:46] deniseschannon commented on #328
Fixed with https://github.com/rancherio/os/pull/330

[2015-05-26 21:46] #328 closed

[2015-05-26 21:46] Nicofuma commented on #329
I have to finish to set up my server before. But why not after if it hasn't been already done ^^

[2015-05-27 05:09] janeczku commented on #261
@dudymas RancherOS already supports querying ec2 meta- and user-data. It's just a question of whether ec2 or whatever other metadata service is enabled as a datasource in the prebuilt images. AFAIK this is only the case for the AMI images, whereas the ISO's and the initrd images default to config-drive as the only datasource.

[2015-05-27 08:07] SatWiz commented on #217
can you explain why hostname can not set if net: host? How do I distinct my hosts if all host are named rancher? I would like to change hostname afterwards when boot from iso.

[2015-05-27 08:17] imikushin commented on #325
If they are still available for download somewhere (on GitHub you can mark a version as pre-release), then it's probably a good idea.

I'm fine with keeping pre-release versions in `ros os list` only for upcoming releases.

[2015-05-27 11:31] SatWiz commented on #261
I vote too for a general openstack image like coreos have which make automated host spawning easy. https://raymii.org/s/tutorials/Automating_Openstack_with_Cloud_init_run_a_script_on_VMs_first_boot.html

Also then we are free to choose the cloud provider with an openstack platform and not bound to Amazone only.

[2015-05-27 12:00] imikushin commented on #323
rancher-compose is what powers services on RancherOS. Perhaps we should also expose it as a command line tool.

[2015-05-27 12:13] Nicofuma commented on #323
it make sense to me to have it under a `ros` sub-command

[2015-05-27 13:09] imikushin commented on #323
/cc @ibuildthecloud

[2015-05-27 16:49] deniseschannon commented on #217
@imikushin do you know why the hostname is being overridden when net:host?

As for changing hostname after booting from iso. here's some documentation i found on the docker site. The only downside is that anytime you reboot and containers are restarted, you will need to reset the hostname.

https://docs.docker.com/articles/networking/

At the bottom of the page, it says this:
Editing networking co

[2015-05-27 17:17] imikushin commented on #217
I've read about it in docker issues. This is dark matter.

There'll be a new flag in docker 1.7, `--uts=host`, for using host's hostname. Now, only in RancherOS (because of a patch we're applying for our version of Docker) --net=host overrides container's hostname with host's.

[2015-05-27 19:36] SatWiz commented on #217
I am quite new about rangeros and compares it a little bit with coreos. With coreos, hostname can be set (in cloud-init). I don't see why it should be fixed in rangeros.

[2015-05-28 22:13] janeczku opened #339 "Applying cloud-config network configuration without reboot"
In order to apply network settings without having to reboot, i currently have to deploy a start script via write_files. Something in the line of
[code]
If i wanted to apply DNS servers as well that script would even be longer.
I think this is kind of a hack and should probably be done programmatically when processing the cloud-config. CoreOS already applies network configuration dynamically (it ch

[2015-05-29 00:45] ibuildthecloud commented on #219
@imikushin Can you check if buildroot already has open-vm-tools?

[2015-05-29 14:16] imikushin commented on #339
@janeczku I'm not sure what you mean here.

Currently (as of v0.3.1-rc3), RancherOS reads cloud-config and configures network and other system settings on boot accordingly. E.g., DNS servers can be set to OpenDNS's nameservers with the following cloud-config :
[code]

Can you give an example of what you'd like RancherOS to do? Like, e.g., after changing DNS servers with `ros config set network.dns

[2015-05-29 15:19] janeczku commented on #339
@imikushin sorry if i wasn't clear enough. I would like RancherOS to apply any network configurations it finds in the cloud-config immediately without the need to reboot the machine.

[2015-05-29 20:29] imikushin commented on #339
@janeczku RancherOS v0.3.1-rc3 and later does exactly that, if I'm not mistaken. I mean, all the configs are read from cloud-config and applied on boot, and the booted machine is fully configured without the need for reboot.

[2015-05-29 21:17] janeczku commented on #339
@imikushin I am pretty sure the network settings from cloud-config are still applied only on the next boot, not on the first boot. The network container runs before the cloud-init and i don't see anywhere that the network is configured a second time after processing the cloud-config.

[2015-05-31 13:58] scherrey opened #345 "Document Hardware Requirements to Run RancherOS"
I just downloaded and tried to install the .iso file. Unfortunately my spare machine is an i686 and the boot message said the kernel requires x86_64.

1) Is this just an artifact of the iso's kernel or an absolute requirement for rancheros?

1.1) If the former, how can I build an iso for i686?

2) What are the other expected system requirements so I can target this correctly?

3) Is there any typi

[2015-05-31 23:35] janeczku commented on #345
1. Everything in RancherOS is a container managed by Docker
2. Docker doesn't run on 32-bit architecture.
Hence, a 64-bit machine is required to run RancherOS.

[2015-06-01 22:16] xarses opened #348 "wget cant load https sites (openssl not foud)"
`wget https://launchpad.net/`

Returns `wget: can't execute 'openssl': No such file or directory`

[2015-06-02 07:39] imikushin commented on #219
@ibuildthecloud Looks like it does: https://github.com/buildroot/buildroot/tree/master/package/openvmtools

[2015-06-03 21:45] deniseschannon commented on #325
We'll only keep pre-release versions for upcoming releases. They will be removed once the release is out.

[2015-06-03 21:45] #325 closed

[2015-06-04 14:40] janeczku commented on #321
@ibuildthecloud any progress on this? I would like to make RancherOS the default OS in `docker machine`'s `Vultr` driver before the initial patch gets merged. https://github.com/docker/machine/pull/958

[2015-06-05 07:12] imikushin commented on #321
@janeczku can you test these URLs:
[code]

[2015-06-05 08:00] janeczku commented on #321
Thanks @imikushin. These URLs are working of course. For iPXE deployment in general (and even more so for hard-coding the URL in docker-machine) we would want a static, non-versioned URL that points to the latest stable release.
Something like so: `http://storage.googleapis.com/ros-images/stable-releases/current/initrd`

[2015-06-05 08:44] imikushin commented on #321
Hey @janeczku, check these out:
[code]

[2015-06-05 08:47] janeczku commented on #321
@imikushin those look great! :)

[2015-06-05 10:42] imikushin commented on #321
I updated the readme: #354

[2015-06-06 13:02] paxpacis opened #356 "rfc: lvm support."
I would like to use rancheros but my disks to store the docker files/images are LVM, there is currently no support for it in RancherOS and I can not mount the disks..

Will you support LVM in the future?

[2015-06-06 15:02] ibuildthecloud commented on #356
Yes we will, we are working on it now.  It's more tricky to support than we'd like, but we think we have a working solution.  In the end you will have to launch your own container that on start sets up LVM, RAID, NFS, etc at how you choose.  Then Docker will use that "storage" container you created as its filesystem.

[2015-06-06 15:38] layer4down opened #357 "Unable to SSH after "rancherctl os upgrade" from v0.3.0 to 0.3.1"
After successful "install to disk" on phy Dell host, I lose SSH after upgrading from v0.3.0 to 0.3.1

Steps to reproduce:

1) rancherctl os upgrade
2) reboot

SSH and telnet ports close (connection refused). Must I modify some configs before rebooting?

[2015-06-06 15:54] layer4down commented on #357
PS-

Attempted workaround by adding -v flag to install (i.e. "rancheros-install .... -v v0.3.1") with same results; SSH and Telnet connections refused.

[2015-06-06 16:00] #357 closed

[2015-06-07 02:11] joshuacox opened #358 "debug or single user mode"
How to enable single user mode on an installed rancherOS image?

I tried the usual i.e. hit `e` during grub and then append `Single` to the linux line, that didn't work so I tried appending `init=/bin/bash` still no access.

Why would I need such thing?  I'm working on adding a net config file to the packer build:

https://github.com/rancherio/os-packer/pull/2

 and I have no clue why my built ima

[2015-06-07 02:20] joshuacox commented on #358
@ibuildthecloud I think that Darren might be the person to answer my question

[2015-06-07 12:59] joshuacox commented on #358
@cloudnautique answered me here https://github.com/rancherio/os-packer/pull/2

[2015-06-07 12:59] #358 closed

[2015-06-07 20:06] Nicofuma opened #359 "Raise the limit of open files"
Hi,

Today I wanted to stop some containers before rebooting my server and I run into a strange issue:
`Error response from daemon: Cannot stop foo-bar: [8] System error: open /proc/1053/stat: too many open files` after investigations I saw that the user docker daemon has 1023 opened file descriptors.

The first thing is I think there is a leak somewhere because I only have 18 running containers.

[2015-06-09 05:37] sjkeerthi opened #360 "Installation error On VirtualBox via ISO while pull image"
During the installation from ISO I could see the rancher trying to pull the image from index.docker.io
but the problem is it fails.

But I could able to ping and query via nslookup with my own dns in ISO.

Result from ISO where I could able to access outside world.

[rancher@rancher ~]$ ping index.docker.io
PING index.docker.io (162.242.195.84): 56 data bytes
64 bytes from 162.242.195.84: seq=0 tt

[2015-06-09 22:43] jackwilsdon commented on #348
+1

[2015-06-11 08:22] imikushin commented on #348
We'll consider adding it to a next version.

Currently you can enable debian-console (or ubuntu-console)
[code]
and install openssl package (and other packages you need in the console)
[code]

Keep in mind that consoles are currently (in v0.3.1) ephemeral, so you'll need to install the packages again after reboot.

[2015-06-11 19:29] ewindisch opened #373 "Proposal: Load Docker AppArmor policies"
I'm happy to help implement loading AppArmor policies. Before I dump a bunch of code, I would like input on design.

There seem to be two main methods of solving this:

1) Provide a system container loading the AppArmor policy. This will allow easily swapping AppArmor for SELinux down the road. This system container will need to be loaded before all other system containers. There will be a window

[2015-06-11 19:39] ibuildthecloud commented on #373
#1 Is the easiest and I assume you can get this running pretty much on your own.  But, I would really like #2.  I'm fine with completely bending over backwards to do whatever it would take to get AppArmor and SELinux running in RancherOS.  We really want it and would like it to be a first class thing.  We just haven't gotten there.

I assume you have far more experience in this area than I and wou

[2015-06-11 20:05] ewindisch commented on #373
Turns out doing #1 won't be so simple if we want to use the same AppArmor policy that ships with Rancher's version of Docker. Not so hard if it's to be the "latest" policy, which may arguably be enough (or even preferable). I can have this available quickly.

I'm happy to work on option #2, but there is certainly more for me to unravel in how RancherOS is put together. It may be better to take dis

[2015-06-11 20:06] ibuildthecloud commented on #373
@ewindisch Would love to chat, just email me darren@rancher.com and we can setup a meeting.

[2015-06-12 01:42] layer4down opened #375 "Linux Mint - Software Rendering Mode (RancherVM)"
Installed RancherVM under User Docker and created test Linux Mint 17 Cinnamon 64-bit image. Container runs fine but guest OS is now "Running in Software Rendering Mode". The only recommended fixes I can find relate to VirtualBox and not KVM/QEMU. Hoping this is an appropriate place to get some ideas to resolve this. Thank you in advance for any guidance.

[2015-06-12 18:21] sheng-liang commented on #375
Would the fix require passing GPU hardware to the Linux Mint VM?

[2015-06-12 18:56] dx9 opened #377 "[os-base] /dev/net/tun missing?"
Playing with RancherVM on RancherOS and noticed it is not setup by default.

[2015-06-12 19:29] dx9 commented on #377
Should this be added to the rootfs? I think init or systemd typically take care of creating it?

[2015-06-12 21:30] layer4down commented on #375
Sorry I'm still learning the linux basics. But to my understanding, the fix for this over VirtualBox requires enabling 3D acceleration. I hadn't searched for that specifically but I will research that and provide updates. Thanks sir!

     On Friday, June 12, 2015 2:21 PM, sheng-liang <notifications@github.com> wrote:

 Would the fix require passing GPU hardware to the Linux Mint VM?—
Reply to thi

[2015-06-14 13:06] far-blue opened #379 "Feature Request: Support for xhyve"
Although very experimental at the moment, the first release of xhyve is very promising as an alternative to VirtualBox - esp. within docker / docker-machine / boot2docker style workflows on OS X. I think the combination of rancherOS running in xhyve via docker-machine would be a great lightweight, userspace environment for docker containers using official Apple hypervisor support and no need for c

[2015-06-14 13:07] far-blue commented on #379
Also see docker/machine#1358 for the whip pull request by the xhyve guys for integrating xhyve into docker-machine

[2015-06-14 13:32] luxas opened #380 "Build Rancher OS on own machine"
Hello everyone!

I think RancherOS is so awesome, and I would like to test it. I'm building a Raspberry Pi Kubernetes cluster with RancherOS as host system (20 MB - perfect for the Pi).

Now, I suppose the prebuilt RancherOS images doesn't work on the Pi, because they were built for amd64 not armhf...

I've access to a Ubuntu VM in my laptop (64-bit) and some Raspberry Pi 2's for building the imag

[2015-06-14 15:46] radriaanse opened #381 "cloud-init bond interface"
Is there a way to setup a bond interface with cloud-init?

I know how to do it on for example CoreOS, but because the way you specify network settings is different in Rancher OS, it isn't clear on how to accomplish this if even possible.

[2015-06-14 15:53] radriaanse commented on #381
To clarify, on CoreOS you would do something like this:

    - name: dhcp.network
      content: |
        [Match]
        Name=bond0

        [Network]
        DHCP=true
    - name: m1.network
      content: |
        [Match]
        Name=eth0

        [Network]
        Bond=bond0
    - name: m2.network
      content: |
        [Match]
        Name=eth1

        [Network]
        Bond=bond0
    -

[2015-06-15 17:53] Hellslicer opened #387 "RancherOS won't boot with Qemu"
I tried to start RancherOS on Qemu with this command :
`qemu-system-x86_64 -no-kvm -hda /dev/sda -cdrom rancheros.iso -m 1024 -boot d -vnc :0`

but I got a boot loop with this output :
[code]

Release used : [v0.3.1](https://releases.rancher.com/os/v0.3.1/rancheros.iso)

[2015-06-15 19:45] ArKam opened #389 "Latest rancherOS ISO freeze at boot time on virtualbox"
Hi guys,

I'm currently setting up a RancherOS host on VBox v4.3.28 from the latest RancherOS iso available on your website https://releases.rancher.com/os/latest/rancheros.iso (v0.3.1) at this time.

I do want to setup this host for a demo of what RancherOS can achieve and how it could help us to renew our production infrastructure (around 100 hosts from AWS and BareMetal).

However, I'm facing a

[2015-06-15 19:51] ibuildthecloud commented on #387
That's looks like the error you get when you don't have enough memory and Linux can't uncompress the initrd.  Any chance there was a typo in the command and you thought you were giving it 1gb of memory but it really got the default qemu size?

Darren

[2015-06-15 21:01] Hellslicer commented on #387
Unfortunately it's not a typo. I replaced `-m 1024` by `-m 1G` but it didn't change anything.
I started boot2docker (with the same parameters) to check the memory allocated and it seems to be good.
[code]

[2015-06-16 06:51] imikushin commented on #389
I'll look into this.

On Tue, Jun 16, 2015, 00:45 arkam <notifications@github.com> wrote:

[2015-06-16 12:45] ArKam commented on #389
Thanks a lot, for information, I've disable Sound and USB Port/channels, the used storage controller is a SATA controller and have been tested with SAS with the same error.

My network adapter is an Intel PRO/1000 T Server in bridge mode.

[2015-06-16 12:48] abhishekubale opened #390 "rancherOS support for storage drivers/firmware"
Hi,
We are evaluating RancherOS for our container strategy but its unclear RancherOS support for storage options like NFS,LVM and particularly drivers/firmware for SSD on bare-metal installs. Can this be documented?

-thanks

[2015-06-17 00:48] riyaolin commented on #135
with version v0.3.1, this issue is still there. Please provide a fix

[2015-06-17 02:13] riyaolin commented on #135
oops. It seems I downloaded the wrong .iso (machine-rancheros.iso), which caused the problem.

[2015-06-17 13:11] ArKam commented on #389
I tried to create a new VM on virtualbox using the script provided at https://github.com/rancherio/os/blob/master/scripts/build-vbox-vm
I've got the exact same issue.

For information I'm running VBox on a Mac OS X 10.10

[2015-06-17 13:33] Hellslicer commented on #387
I found a workaround: I started RancherOS [v0.2.1](https://github.com/rancherio/os/releases/download/v0.2.1/rancheros.iso) (which don't trigger a kernel panic at boot) and I installed it. Then I used the upgrade command to have the latest version of RancherOS.
I remain available if needed for other tests.

[2015-06-17 14:23] DJviolin commented on #63
I've got the following error on Windows 7. I installed cwRsync free version. If I type in the command prompt: "rsync". I've got it run:

[code]

[code]

[2015-06-17 15:16] DJviolin commented on #63
Can we use smb to sync folders between Windows and RancherOS under Vagrant?

[2015-06-17 17:22] DJviolin opened #393 "start.sh not starting "busydash" container"
I placed start.sh in:
opt/rancher/bin
it should automatically restart the services after reboot, but it simply not restarting busydash, which is called by system-docker.

[code]

Permission of the file:
[code]
Another problems are nginx always exiting after 3-5 minutes, plus after restarts I have multiple duplicates of the "rancher" host under Infrastructure tab. Only one of them having the Docker

[2015-06-17 17:34] DJviolin commented on #393
I found vi in the directories, know I can edit files. The question is though I still need to edit .dockerinit and place start.sh's location there to keep alive the docker container after restarts?

[2015-06-17 18:07] Xe commented on #389
I ran into this last night. Wait about 30 seconds and it will resolve itself.

[2015-06-18 00:12] dx9 commented on #377
missing in v0.3.0 not missing in v0.3.1

[2015-06-18 00:12] #377 closed

[2015-06-18 11:18] ArKam commented on #389
nop, still hanging after 15 minutes waiting in front of the VM.

[2015-06-18 13:49] imikushin commented on #389
@ArKam sorry for delay with this issue. What are the exact steps to reproduce?
I'm using the latest OS X (10.10.3) and VirtualBox (4.3.28) and can't see any problem running RancherOS v0.3.1.

Also, you might want to use "virtio" network adapters (instead of "Intel PRO/1000 T Server") in VirtualBox: they are faster because there's no hardware to emulate.

[2015-06-18 15:47] ArKam commented on #389
Hi @imikushin , ok so I'm running VBox 4.3.28 on a Mac OSX 10.10.4 and I've migrate to the virtio driver.

The process is pretty simple, download the v0.3.1 iso (or latest at this time).
Create a VM on VBox using your recommandation (USB port Disable, Sound Disable, Virtio driver for network interface).
Start the VM with the ISO as boot device.
execute: sudo rancheros-install -c ./cloud-init.yml -

[2015-06-18 15:58] imikushin commented on #389
Okay. I repeated these steps and actually saw the message about 9pnet. But
my VM isn't blocked. Can you ping the VM IP address? And try to ssh into
it. Use hostonly network with DHCP.

On Thu, Jun 18, 2015, 20:47 arkam <notifications@github.com> wrote:

[2015-06-19 07:20] ArKam commented on #389
@imikushin , I'm really sorry, but even with the hostonly network selected as network method, I'm still hanging indefinitely on the 9pnet message.
Do you want I push you my VM ?

[2015-06-19 10:47] imikushin commented on #389
Sure. Just give me a URL where I can get it. You can export the VM in
virtualbox to an archived format.

On Fri, Jun 19, 2015, 12:20 arkam <notifications@github.com> wrote:

[2015-06-19 12:28] fatihusta commented on #135
Hi
I testing install to disk on virtualbox but not booting system

Where is the problem?

[rancher@rancher ~]$ sudo rancheros-install -c cloud-config-processed.yml -d /dev/sda
No install type specified...defaulting to generic
All data will be wiped from this device
Partition: true
DEVICE: /dev/sda
Are you sure you want to continue? [yN]yUnable to find image 'rancher/os:v0.3.1' locally
v0.3.1: Pull

[2015-06-19 16:33] deniseschannon commented on #135
@fatihusta what is in your `cloud-config-processed.yml`? did you include a SSH key which would allow you to SSH into the box?

You can review the docs: http://rancherio.github.io/os/docs/running-rancheros/server/install-to-disk/ to see if that will help.

[2015-06-19 18:11] ArKam commented on #389
OK, many thanks here is the OVA: https://github.com/ArKam/issues/blob/master/rancheros.ova

[2015-06-19 19:02] joshuacox commented on #359
in addition to the information in https://github.com/rancherio/rancher/issues/1219 I can say that I ran into the 'too many open files' problem on some generic ubuntu hosts as well that I had upgraded to use overlay doing something like this:
https://gist.github.com/joshuacox/25f7228a33e96f78d2a5
on a VM built using this packer build:
https://github.com/joshuacox/dacksible

[2015-06-19 19:18] sjkeerthi opened #394 "SSH-key generation is not work"
Hi All,

I am trying to install RancherOS on my VirtualBox before that I tried to login ssh via ISO and created the ssh-keygen in the rancher id and I copied the id.rsa.pub key into my laptop .ssh/authorized_keys and If I try the SSH the ISO still its asking the username password for the rancher users.

Even I tried installation into HDD after passing cloud-config-file after successful installatio

[2015-06-19 19:47] fatihusta commented on #135
yes I followed the link until the document.

I added to the ssh key configuration files.

cloud-config-processed.yml
ssh_authorized_keys:
- ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDSmA2HTfo526N..... fatih@master

[2015-06-19 20:02] deniseschannon commented on #135
To confirm, did the file look like this? It needs to have the `#cloud-config` and the spacing needs to exist in the file around the dash in front of the ssh key. I just realized the spacing was missing in the docs, so have added it there.

[code]

[2015-06-19 20:04] deniseschannon commented on #394
you need the format of your cloud config file to look like this. Please look at the spacing near the ssh key. It needs to be indented and have a dash.

[code]

[2015-06-19 20:28] sjkeerthi commented on #394
After successful install of RacherOS and then added rancher agent to access via UI but still I could not see in the host list

[2015-06-19 20:30] sjkeerthi commented on #394
I ran below in my RancherOS still I don't see the Host in the UI

[2015-06-19 20:32] deniseschannon commented on #394
are you using the same RancherOS instance for your rancher/server and rancher/agent? If so, you'll need to add in `-e CATTLE_AGENT_IP=<server_ip>` into the docker command to have the rancher/agent select the correct IP.

http://rancherio.github.io/rancher/docs/infrastructure/hosts/custom/#adding-hosts-to-the-same-machine-as-rancher-server

[2015-06-19 20:39] sjkeerthi commented on #394
Nope My RancherOS is running on my VirtualBox with Bridge Interface and Rancher is running on my Laptop.

[2015-06-19 20:49] sjkeerthi commented on #394
Same I tried with CoreOS its working where I could able to view the CoreOS into Hosts list.

Still in RancherOS its not working. Do I need to start anything on RancherOS

[2015-06-19 21:30] deniseschannon commented on #394
Can you try adding the `-e CATTLE_AGENT_IP=<rancherOS_IP>` to the command?

[2015-06-20 08:16] fatihusta commented on #135
Hi deniseschannon

yes I am setting file creating in this way.

I've erased VirtualBox on the definition and create it again. It worked.

I tried to reproduce the same situation. But I was not successful.
I will share it here I can reproduce the error.

Thanks for your help.

Sory my bad english.

[2015-06-20 14:36] pwFoo opened #397 "No /dev/kvm in RancherOS 0.3.1"
RancherOS should have kvm support as written in RancherVM readme file.

But /dev/kvm is missing?

[2015-06-20 14:48] Xe commented on #397
[code]

Try that?

[2015-06-20 15:17] pwFoo commented on #397
I think you mean modprobe? There is no command modload.

With **sudo modprobe kvm** the module is loaded sucessfully, but there is no /dev/kvm. How to create the device and tools like kvm / qemu-kvm are needed? Not found in RancherOS 0.3.1.

[2015-06-20 15:27] ibuildthecloud commented on #397
This is quite odd, you shouldn't need to create it.  Let me test this and see if it's a regression because this has always worked. mknod is the command you need to create the device but I don't know the character numbers off the top of my head

[2015-06-20 16:00] Xe commented on #397
@pwFoo Yeah, modprobe, that one

[2015-06-20 16:09] sheng-liang commented on #397
Make sure your host has VT enabled. I have no problem seeing /dev/kvm and using KVM on 0.3.1. No need to modprobe.

[2015-06-20 18:11] pwFoo commented on #397
You're right! Sorry for that! It was a host VT problem!!! Solved and works fine! Awesome feature!

[2015-06-20 20:29] deniseschannon commented on #135
Ok, great. If it's another issue, please re-open a new one. Thanks.

[2015-06-20 20:31] #397 closed

[2015-06-20 22:51] far-blue opened #398 "Docs website is broken"
All the urls for external resources (css, images, javascript) and all links on http://rancherio.github.io/os/ refer to the root url rather than the /os/ subfolder and so are broken.

[2015-06-20 23:00] vincent99 commented on #398
We changed to http://os.docs.rancher.com/ and updated the links on the home page.. Did you find an outdated URL somewhere or just have it bookmarked?

[2015-06-20 23:02] far-blue commented on #398
Yeah, on the beta release blog article from 16th june :) Maybe you could do some sort of redirect to catch old references?

[2015-06-20 23:19] vincent99 commented on #398
Thanks, updated the blog post.  We can't do a real redirect since we don't control github.io but I could do something in JavaScript... They haven't existed for very long though so I think just fixing any links that are out there is good enough.

[2015-06-20 23:22] far-blue commented on #398
Cool :) While you're at it, I also noticed that example cli command for creating a rancherOs VM via docker-machine is wrong. It is using the github url for the 0.3.1 tag rather than specifically the rancheros-machine.iso download. The command needs changing to use the url "https://github.com/rancherio/os/releases/download/v0.3.1/machine-rancheros.iso"

[2015-06-20 23:42] far-blue opened #399 "docker-machine and ros os upgrade"
I'm not entirely surprised that trying to do a ros os upgrade from within a docker-machine created vm won't work :) It would be nice if maybe there was some sort of warning or something.

As an alternative, docker-machine upgrade should work because it re-fetches the ISO. It would be great if there was a 'latest' url we could use when creating a docker-machine vm rather than a tag-specific link be

[2015-06-21 19:43] pwFoo opened #400 "network config: static route and additional / second public ip"
To use RancherOS in our special network setup I have to
1. add a second ip address to the first nic (two public ip addresses, not tested with rancheros yet...)
2. set a static route during boot to the default gw

Without the static route RancherOS won't be able to access the internet.

RancherOS network config:
ip address:
<IP-1>/32
<IP-2>/32

routes
<GW-IP> dev eth0  scope link
default via <GW-IP

[2015-06-22 05:38] deniseschannon commented on #398
@far-blue I updated the docs with the incorrect CLI.

[2015-06-22 07:14] #398 closed

[2015-06-22 10:14] sjkeerthi commented on #394
Should I have to give this command from RAncherOS or on RacherUI

[2015-06-22 10:32] sjkeerthi commented on #394
From my RancherOS I can see the status of docker ps

CONTAINER ID        IMAGE                  COMMAND             CREATED              STATUS              PORTS               NAMES
4a5531789478        rancher/agent:v0.7.9   "/run.sh run"       About a minute ago   Up About a minute                       rancher-agent

Still the from the Rancher Management I could not able to view the host yet I

[2015-06-22 11:24] sjkeerthi commented on #394
I tried by Adding the agent again from my RancherOS with below parameter but still I could not see the Host in my Rancher Management UI

 10.2.0.155  : RancherOS IP ( Which Runs on my VIrtualBox)
 10.2.0.64    : Rancher Management IP ( Which Runs in my Local Laptop)
sudo docker run -d --privileged -e CATTLE_AGENT_IP=10.2.0.155 -v /var/run/docker.sock:/var/run/docker.sock rancher/agent:v0.7.9 http:

[2015-06-22 12:40] sjkeerthi opened #402 "Error While Downloading RangerAgent google DNS"
After the successful installation of BareMetal RancherOS on my VirtulBox. When I try to add the host into my Rancher Management I could see error below its trying to pull the images via google dns.

Even I set my own dns server using below command. Where I could able to see the /etc/resolve.conf and able to ping but still I have no clue why RancherOS pulling them image via google DNS.

sudo ros co

[2015-06-22 23:23] clemenko commented on #261
A qcow2 that reads in user_data would be very helpful!

[2015-06-24 18:19] colebrumley opened #403 "RancherOS 0.3.1 and docker-machine 0.3.0 Virtualbox error on create"
I am trying to use docker-machine to create a RancherOS 0.3.1 virtualbox VM using the following command: `docker-machine --debug create -d virtualbox --virtualbox-boot2docker-url https://github.com/rancherio/os/releases/tag/v0.3.1/machine-rancheros.iso Rancher`.

I followed the instructions [here](http://os.docs.rancher.com/docs/running-rancheros/workstation/docker-machine/) to install using the r

[2015-06-24 18:24] deniseschannon commented on #402
quick question: did you reboot after you set your dns server?

[2015-06-24 20:11] wlan0 commented on #403
@colebrumley The machine-racheros.iso URL you ahve pasted above is for the releases page. You need to use the download URL for the machine-rancheros.iso -https://github.com/rancherio/os/releases/download/v0.3.1/machine-rancheros.iso

[2015-06-24 20:15] wlan0 commented on #399
@far-blue That is a great suggestion. :+1:

If more of the community feels the need for this feature, we could prioritize it and get it done.

[2015-06-24 20:33] deniseschannon commented on #399
@far-blue I've updated the docs to reflect that upgrades are not supported.

[2015-06-24 20:47] colebrumley commented on #403
@wlan0 Thanks, that solved it.  I could have sworn I copy/pasted that URL straight from the docs page, but apparently not.

[2015-06-24 20:47] #403 closed

[2015-06-25 01:45] dx9 opened #405 "[os-base] Add cURL"
Would be handy to have it built-in.

[2015-06-25 05:46] imikushin commented on #405
Thanks for this feature request: it's certainly very nice to have.

[2015-06-25 05:51] Xe commented on #405
busybox wget does most if not all that curl can do. Not to mention you can just use a container for curl.

[2015-06-25 06:10] imikushin commented on #400
Currently (v0.3.1) RancherOS doesn't have routing configuration in cloud-config. What you can do though is start a privileged container with --net=host and perform all the necessary network fine tuning in it, with `ip` commands. You can also put that container into your cloud-config and thus have it run on boot. E.g. like this:
[code]

[2015-06-25 06:35] imikushin commented on #390
Storage is on the work queue and is going to receive attention in the coming weeks.

RancherOS v0.3.1 uses [linux kernel v3.19](https://github.com/rancherio/linux/releases/tag/Ubuntu-3.19.0-15.15) from ubuntu-15.04. Theoretically, it should have the same drivers ubuntu has. And yeah, this definitely should be documented, so this is on the list too.

[2015-06-25 06:51] pwFoo commented on #400
Thanks, I'll try this.

Will the container executed early enough to setup the route to the default gateway? Could be a problem if the internet connection will be up to late (ntpd or docker related tasks)?

With another machine I experienced some problems with delayed ssh access (with kvm vm it's fast, with a mini server it takes 3+ minutes). And sometimes it seems the server gets no dhcp ip addres

[2015-06-25 07:10] imikushin commented on #380
First, you'll need Docker custom built for RPi: Docker officially supports only x86-64 arch.

The next RancherOS release (v0.4.0) should be modular enough to allow for such an experiment as the new OS build system is designed around the target system configuration (`os-config.yml`).

You'll need to build the whole set of [system containers](https://github.com/rancherio/os-images) for RPi. RancherO

[2015-06-25 08:13] imikushin commented on #400
Your container image can be [pre-packed](http://os.docs.rancher.com/docs/configuration/prepacking-docker-images/) so system-docker doesn't try to download it before running it. As you're trying to tweak network settings, you should definitely use system-docker, because you can run a system service before network becomes available to (user) docker daemon.

That's why I see I've made a mistake in my

[2015-06-25 09:42] luxas commented on #380
Thanks for your answer!

I have docker running on my Pi's. I'm using Arch Linux ARM and there is prebuilt docker images in the pacman package manager.

When is the new version v0.4 planned to be released?

I think I can build the system containers that are present...

However, how can one build the whole os? May I use rancheros-install with a custom-built rancher/os image?

I'm not sure how I can

[2015-06-25 10:00] imikushin commented on #380
Right, rancheros-install will also need to be customized to use architecture-dependent rancher/os container.

v0.4.0 is going to be released in the coming weeks.

I'm still figuring out how to simplify the build process enough so it could be easily ported between architectures.

SD-cards with a few gigs are pretty common these days :) Not sure what you mean by "thing", though.

[2015-06-25 12:30] luxas commented on #380
I may help to make a more architecture-undependent project, by comments at first :)
I think there is defenitely need for a build doc where it says how to build it yourself.
Or only explaining which steps you do when you compile the isos

Okay, how should I do if I should build rancheros to x86_64?
I suppose if I use it as a VM, then I need an iso.
How should one build that?
If I use it on bare-met

[2015-06-25 17:32] dx9 commented on #405
@Xe yeah man

echo 'docker run --rm radial/busyboxplus:curl curl $@' > /usr/bin/curl && chmod +x /usr/bin/curl

Either option works. I do like the idea of just knowing it's there.

[2015-06-26 13:26] pwFoo commented on #400
Thank's I'll test it soon.
So ip / route configuration will be added to rancheros cloud config in the future (beta / stable release)?

[2015-06-26 14:04] imikushin commented on #400
That is quite possible.

[2015-06-26 17:30] pwFoo commented on #93
+1
Console login would be useful. I also need it.

[2015-06-26 19:14] pwFoo opened #406 "No ssh / ping after boot"
First once in a while I get no ping / ssh after booting up RancherOS, but at the moment each time I boot I cant ping / ssh the machine. I assume I get no dhcp ip (static lease), but can't check it. Serial console output ends with the / before I see the RancherOS bootloader.

[2015-06-26 19:49] pwFoo commented on #234
That could fix my problem. Because RancherOS sometimes boot without a ip address (static dhcp lease).

[2015-06-26 20:02] pwFoo commented on #400
Could I set routes that way?
[code]
Or will network commands like ip route not available during boot?

[2015-06-26 20:52] imikushin commented on #400
This is quite possible. Keep in mind that `/opt/rancher/bin/start.sh` is run by the console service on start. Console starts after basic network config (from cloud-init) has been applied. So in this case you might want to link your services to console.

I'd choose a dedicated container (as shown above) because of precise dependency control: you can label your custom-routing-config as detach=false

[2015-06-26 21:42] deniseschannon commented on #172
@schugh01 I'm going to close this issue, but if you have further feedback, please feel free to reopen.

[2015-06-26 21:42] #172 closed

[2015-06-26 22:05] deniseschannon commented on #393
The multiple containers in Rancher is due to this issue: https://github.com/rancherio/rancher/issues/936

We've made the fix in Rancher, but the we need a release to make the fix in RancherOS.

@imikushin would you be able to help answer the restart issue?

[2015-06-27 10:45] pwFoo commented on #406
Changed dhcp to static ip and it seems to work again. So it should be a RancherOS dhcpcd problem.

[2015-06-28 17:06] ianbytchek opened #407 "Add AMI image in eu-central"
Hi, I know there's #65 already mentioning this with a comment saying that eu-central will come shortly (nearly 5 months ago). Any chance this has progressed since then?

[2015-06-28 18:15] ibuildthecloud commented on #407
Oh sorry, I think we just lost track of this issue.  @imikushin can we make sure we get this region added for 0.3.2?  There was some technical reason it wasn't supported before.  I think it was HVM only.

[2015-06-28 20:57] moritzheiber commented on #407
Oh yes, please. I was about to actually start deploying RancherOS and the AMI for eu-central-1 is missing :/

[2015-06-29 06:21] imikushin commented on #407
I'll look into it as soon as we've tagged v0.3.2 on GitHub. We do have HVM images in other regions, so it should probably work for eu-central-1 too.

[2015-06-29 18:06] deniseschannon commented on #359
@Nicofuma  Can you confirm that you were also running Rancher agent on your hosts? I believe the leak is within rancher agent.

@ibuildthecloud Is it possible to raise the limit of number of open files in RancherOS?

[2015-06-29 18:09] deniseschannon commented on #339
@janeczku Just to clarify, are you saying that after doing a `rancheros-install`, you don't want to reboot?

[2015-06-29 18:14] deniseschannon commented on #321
@janeczku Looks like we have the URL working.

[2015-06-29 18:14] #321 closed

[2015-06-29 18:19] #272 closed

[2015-06-29 18:23] #72 closed

[2015-06-29 18:54] deniseschannon commented on #147
Comments from Darren on what it should look like:

Format

image_name local/remote available/latest/- install/-

available = in the available list in the yml
latest = the current field in yml

= neither available or latest
install = if image_name == cfg.Upgrade.Image + ":" + config.VERSION

= if not installed
pretty format the table.

[2015-06-29 19:40] Nicofuma commented on #359
@deniseschannon I was running the agent yes and all the files were opened by it.

[2015-06-29 20:32] deniseschannon commented on #359
Thanks @Nicofuma. I believe the too many open files error is a Rancher agent issue.

I've renamed this issue as a request to raise the limit of open files in RancherOS.

[2015-06-30 02:26] joshuacox commented on #359
as a fix I've been running something like:
[code]
and that usually clears the issue up, next time I run into this issue I'll be sure and get some lsof data

[2015-06-30 04:09] janeczku commented on #339
@deniseschannon, yes imagine deploying a cluster and then having to reboot each node individually just so that the network settings get applied. IMHO the network settings in the cloud-config should be applied as they are read/processed.

[2015-06-30 10:19] moimael opened #411 "Do not update rancher os if already up to date"
Hi,

When I launch ros os update, even if rancheros is up to date, I can update the system with the current version. It should just say that everything is up to date and quit.

[2015-06-30 17:49] r4j4h commented on #345
@janeczku Have you seen [this article](http://mwhiteley.com/linux-containers/2013/08/31/docker-on-i386.html) or [this repo](https://github.com/docker-32bit/ubuntu)? Apparently Docker runs fine on 32-bit systems it is just unsupported...

That being said, I'm not sure if it will be worth it as it appears our docker base images will necessarily be different. Meaning you'll have to port any container

[2015-06-30 20:47] deniseschannon commented on #291
Pre-duplicate of https://github.com/rancherio/rancher-compose/issues/32

[2015-06-30 20:47] #291 closed

[2015-07-01 04:58] deniseschannon opened #413 "Collapse Docker and console into 1"

[2015-07-01 04:58] deniseschannon opened #414 "Custom Kernel"

[2015-07-01 04:59] deniseschannon opened #415 "Ability to change user docker version while RancherOS is running"

[2015-07-01 05:00] deniseschannon opened #416 "Customize storage for user docker"

[2015-07-01 05:00] deniseschannon opened #417 "Raspberry Pi 2 Support"

[2015-07-01 05:01] deniseschannon opened #418 "KVM Images"

[2015-07-01 05:01] deniseschannon opened #419 "Persistent Console"

[2015-07-01 17:08] deniseschannon opened #420 "custom user docker"

[2015-07-01 20:19] pwFoo opened #421 "Upgrade from 0.3.1 to 0.3.2 not available"
The version 0.3.2 isn't listed (sudo ros os list), but released today. How long is the delay until it will be available?

[2015-07-01 20:44] deniseschannon commented on #421
There is a small bug with the `machine-rancheros.iso`. We should have the official release by tomorrow. I'll definitely let you know when it's ready.

[2015-07-02 08:28] sjkeerthi commented on #402
Ya did the reboot but still its pointing the same error

[2015-07-02 08:47] sjkeerthi opened #422 "RancherOS install failed while pulling image"
While Installing RancherOS on disk I could see error below.

Where I could able to ping outside world

ping yahoo.com
PING yahoo.com (206.190.36.45): 56 data bytes
64 bytes from 206.190.36.45: seq=0 ttl=54 time=257.316 ms
64 bytes from 206.190.36.45: seq=1 ttl=54 time=261.941 ms
64 bytes from 206.190.36.45: seq=2 ttl=54 time=255.844 ms
^C
--- yahoo.com ping statistics ---
3 packets transmitted, 3

[2015-07-02 14:26] colebrumley opened #423 "Pre-login to private repo"
I am trying to enable a service that runs an image from a private repo, but adding the repo's auth to `~/.dockercfg` and/or `/root/.docker/config.json` does not apply the authentication until after boot.  Similarly, if I manually run `docker login my.repo.com`, the creds are saved appropriately, but on reboot the service still fails, presumably because the login info hasn't been applied yet.  If I

[2015-07-02 14:32] sjkeerthi commented on #422
I am not sure why the default /etc/resolve.conf didn't work (8.8.4.4).
So I changed into my own DNS server and still I could face the same issue.
Docker could not able to pull the image.

[2015-07-02 15:46] ibuildthecloud commented on #422
Can you try `sudo system-docker pull rancher/os:v0.3.1` and also `docker pull rancher/os:v0.3.1`

[2015-07-02 16:07] ibuildthecloud commented on #423
This is definitely an issue.  The `/root` directory is not persisted across reboots, but beyond that the bigger issue is that the system init process will not send credentials for the pull regardless.  We need to fix that.  We do run into a catch 22 with private images.  If you have a completely clean install you can't login prior to the pull.  Maybe we should add credentials to the cloud-config.

[2015-07-02 18:24] colebrumley commented on #423
No no, if I manually pull the image then reboot the service starts normally.  Glad to see that I'm not missing something obvious!

You mentioned that `/root` is not persisted, but the rancher user's home directory is.  An additional/alternative option for working around this issue might be to add a label to the service specifying what user to run as.  I agree that cloud-config would be the natural

[2015-07-03 05:03] sjkeerthi commented on #422
Tried could see same issue no any improvement.

sudo rancheros-install -c cloud-config.yml -d /dev/sda
No install type specified...defaulting to generic
All data will be wiped from this device
Partition: true
DEVICE: /dev/sda
Are you sure you want to continue? [yN]yUnable to find image 'rancher/os:v0.3.1' locally
Pulling repository rancher/os
FATA[0025] Get https://index.docker.io/v1/repositories/

[2015-07-03 05:24] sjkeerthi commented on #422
Even from my rancher ISO I could able to do traceroute for the 8.8.4.4

[root@rancher ~]# traceroute 8.8.4.4
traceroute to 8.8.4.4 (8.8.4.4), 30 hops max, 46 byte packets
 1  10.2.1.254 (10.2.1.254)  0.682 ms  0.711 ms  0.876 ms
 2  fa1-0-gw.xx.xxxxxx.xxx (xxxxxxx)  1.176 ms  1.302 ms  1.055 ms
 3  nsg-static-157.xxx.71.182.xxxxl.xx (182.xxx.xxx.xxx)  6.982 ms  8.961 ms  9.549 ms
 4  182.79.236.10

[2015-07-03 06:26] faisyl commented on #389
Is this because it's waiting for the ubuntu console to download ? I ran into the same problem when I first tried it on a bandwidth constrained VM install.

[2015-07-03 07:49] yellow1912 commented on #84
Any update on this issue? Would really be interesting to try it out :)

[2015-07-03 09:41] pmario opened #427 "docker-machine, hyper-v stops provisioning, getting ip-address fails, but pinging VM is OK"
Hi folks.
Rancher OS as a drop in replacement for boot2docker looks great, but IMO docker-machine can't handle it.

to reproduce:

* I'm using: https://github.com/rancherio/os/releases/download/v0.3.3/machine-rancheros.iso
* docker-machine:  version 0.3.0 (0a251fe)
* OS: windows 8.1 pro with hyper-v

I create the vm with:

[code]

* **The problem is, that docker-machine waits for the ip address**

[2015-07-03 11:37] imikushin commented on #407
This is going to be addressed in v0.3.3. In fact, the images are ready now. So, for a sneak peek:
https://gist.github.com/imikushin/65f7a8a8cf8ceb1b0297

[2015-07-03 11:37] imikushin commented on #407
Sorry, wrong button

[2015-07-03 11:40] imikushin commented on #407
The images are not public yet, but stay tuned.

[2015-07-03 15:09] deniseschannon commented on #407
The release is publicly available. Please refer to our [README](https://github.com/rancherio/os/blob/master/README.md) for more details. The eu-central-1 is listed for both PV and HVM.

[2015-07-03 15:09] #407 closed

[2015-07-03 17:01] imikushin commented on #406
Can you confirm this is present on RancherOS v0.3.3?

[2015-07-03 18:40] pwFoo commented on #406
Haven't tested it after upgrade, because without a serial console output I can't change it back if dhcp isn't working ;)

And after upgrade to 0.3.3 rancher/agent isn't working deleted old agent, registered a new host and agent is dying after 8-10 seconds.

So I have to do some other tests and if I plan a reinstall I'll do a dhcp test before.

[2015-07-03 22:25] ArKam commented on #389
well, I've not set any bandwith restriction and I'm using a 10GBps/10GBps link as we do have huge internet access at work, so it doesn't seems to be the same issue as you.

[2015-07-04 14:26] MichaelDays commented on #135
Getting this with v0.3.3 attempting to install the fresh machine-rancher.iso into a Parallels Desktop VM. Fresh drive image gives the fdisk partition table not reread error:

[code]

Reboot then second run gives the grub blocklists error:

[code]

[2015-07-04 15:41] cloudnautique commented on #135
@michaeldays I believe the machine-rancher.iso does an auto format on boot and sets up the state partition. It is meant to be use with docker machine. If you just want to install, I would use the rancher.iso image.

[2015-07-04 15:49] MichaelDays commented on #135
Thanks @cloudnautique that did the trick. Much appreciated!

How do I report a bug with the documentation? The bare-machine install section should probably mention the iso to use. ;)

http://os.docs.rancher.com/docs/running-rancheros/server/install-to-disk/

[2015-07-06 06:51] imikushin commented on #393
I'd recommend moving service start logic from `start.sh` to a [compose template](https://docs.docker.com/compose/yml/), as it's now the primary mechanism of running services in RancherOS. For documentation how to run services off compose templates, see http://os.docs.rancher.com/docs/configuration/system-services/

Your example in compose syntax would look similar to this:
[code]

Also, you don't

[2015-07-06 06:54] imikushin commented on #393
BTW, RancherOS v0.3.3 is out, which fixes the host duplication problem you described.

[2015-07-06 06:57] imikushin commented on #156
This is no longer an issue (starting with RancherOS-v0.3.1)

[2015-07-06 06:57] #156 closed

[2015-07-06 07:05] imikushin commented on #389
@ArKam We've released RancherOS v0.3.3 recently. Can you check if you're still experiencing the issue with RancherOS v0.3.3? If this is still the case, can you attach your exported VM for me to check?

[2015-07-06 07:35] imikushin commented on #294
We've recently released RancherOS v0.3.3. Can you try to `vagrant up` off a fresh clone of `https://github.com/rancherio/os-vagrant.git`?

[2015-07-06 08:04] imikushin commented on #339
@janeczku can you confirm you're still experiencing this issue with the latest RancherOS v0.3.3?
What mechanism do you use to supply cloud-config to your RancherOS instance?

[2015-07-06 08:09] imikushin commented on #387
Can you confirm you're still having this issue with RancherOS [v0.3.3](https://github.com/rancherio/os/releases/tag/v0.3.3)?

[2015-07-06 08:18] imikushin commented on #406
@pwFoo Can you describe your operating environment where you run RancherOS? Also, the steps to reproduce. The issue might be intermittent, but we would appreciate any details to try to reproduce.

[2015-07-06 08:37] Hellslicer commented on #387
Same issue with [v0.3.3](https://github.com/rancherio/os/releases/download/v0.3.3/rancheros.iso).

[code]

[2015-07-06 09:37] foobarto opened #429 "Upgrades without a reboot"
Not sure if this would be possible with RancherOS running as PID 1 but consider upgrading the OS without the need of rebooting the server.

With VMs this is not a big issue but with physical servers each reboot takes a while and has a small chance that it may not power back on.

[2015-07-06 10:29] imikushin commented on #387
RancherOS is developed with QEMU, so it definitely runs on it.

Here's a slightly modified (to use [rancheros.iso](https://github.com/rancherio/os/releases/download/v0.3.3/rancheros.iso) instead of kernel and initrd directly) QEMU command to run RancherOS from our [`./scripts/run`](https://github.com/rancherio/os/blob/master/scripts/run) script:
[code]

You can run it, and then `ssh -p 2222 ranche

[2015-07-06 11:09] imikushin commented on #421
RancherOS [v0.3.3](https://github.com/rancherio/os/releases/tag/v0.3.3) has been released. Please check it out.

Feel free to reopen if there's any problem upgrading to v0.3.3.

[2015-07-06 11:09] #421 closed

[2015-07-06 11:14] pwFoo commented on #421
Upgrade to 0.3.3 works eine.

[2015-07-06 12:09] Hellslicer commented on #387
It runs on it through KVM while my server is started on a live rescue `Ubuntu 12.04.5 LTS (GNU/Linux 3.13.0-32-generic x86_64)` and can't run any VM with KVM.

So I tested your command with a single additional parameter: `-no-kvm`

[code]

Then, the VM was unreachable with SSH:

[code]

If I add `-vnc` or `-curses` parameter, I can see the same crash as before.

[2015-07-06 12:21] sjkeerthi commented on #422
Is anyone help me out still couldn't able to install the rancherOS. Once my validation is done I can start to implementation on production.

[2015-07-06 16:12] imikushin commented on #422
Can you maybe try other DNS servers? OpenDNS, for example: 208.67.222.222, 208.67.220.220
Can you also check DNS traffic isn't blocked somewhere on the way? Maybe try a network sniffer.

[2015-07-06 16:25] deniseschannon commented on #135
@MichaelDays The iso to use is referred to in this documentation page.
http://os.docs.rancher.com/docs/running-rancheros/workstation/boot-from-iso/

I've added additional information to the install to disk section in case they didn't see that page. Thanks for the feedback!

[2015-07-06 17:56] deniseschannon commented on #84
With this support, we need to make sure we add in the ability to pass in `user-data`.

[2015-07-06 18:40] pwFoo commented on #406
Hi,
it runs on [APU board](http://www.pcengines.ch/apu.htm) with 4GB RAM for testing.

[2015-07-06 20:51] ArKam commented on #389
No problems, I'll do it tomorrow morning ;-)

[2015-07-06 23:27] MichaelDays commented on #135
Thanks for the tweak, @deniseschannon - much harder for me to miss now. ;)

[2015-07-07 08:32] ebuildy opened #431 "Volume not created but containers runs fine"
From an EC2 machine, I am running RancherOS 0.3.3 with Docker 1.7. I am using the Docker client on the machine.

I can run a container and inspect it:

![docker inspect mysql]
(https://beemapp.s3-eu-west-1.amazonaws.com/0797e634-7868-46a8-b35a-c9fed7937448.jpg)

But no folder is created (whereas it works fine on boot2docker or any docker-machine host).

Is there something special with RancherOS an

[2015-07-07 12:44] jest commented on #389
I have the same problem as OP, but running 0.3.3 under ESXi 6.0. What is interesting, the machine is available on the network (can be pinged), but SSH is not available

[2015-07-08 00:23] Hellslicer commented on #387
I managed to get a full dump : https://gist.github.com/Hellslicer/2bf5208381f6c6a30dfd

Interesting part:
[code]

[2015-07-08 17:16] deniseschannon opened #433 "Fix logging of modules booted"
Dependent on rancher-compose refactoring.

[2015-07-08 17:21] deniseschannon commented on #389
@jest Did you run `rancheros-install` before trying to ssh in?

http://os.docs.rancher.com/docs/running-rancheros/server/install-to-disk/

[2015-07-09 08:27] jest commented on #389
Of course, everything as in the manual.

In the end I managed to run the installed RancherOS, so it is not related to VMWare: 9p warnings are still reported, but everything works.

I'll investigate more; the next suspect is cloud-config

[2015-07-09 09:37] jest commented on #389
I'm sorry, I cannot recreate the problem. I can only assure you that there was some problem; at the end I suspect some strange combination of parameters of virtual machine (unfortunately I have removed the original problematic VM...)

[2015-07-10 00:35] sjkeerthi opened #434 "How to Assign IP on OS and a container"
Hi All,

I have a quick question with reference to the docker doc I could see there is a possible way to assign the my own network IP address into the docker0 interface.

My Requirement is there a possible way to assign my own real routable ip address to my container so that I can access directly container with real IP.

If there is no such a way I would like to bring up an idea that once I instal

[2015-07-10 22:08] ArKam commented on #389
Ok, so sorry for the late, but I'm quite buzzy those days :D - Well, you'll find an updated version of the VM (Complete recreation using latest version) hanging at the exact same moment.

https://github.com/ArKam/issues/blob/master/rancheros-0.3.3.ova

[2015-07-11 06:01] lilRain opened #435 "[os-images]"

[2015-07-11 20:55] deniseschannon commented on #435
@lilRain Was there something that you had a question on?

[2015-07-12 07:39] sjkeerthi opened #436 "How to change docker0 interface IP in os-config.yml"
Hi All,

I am trying to change default ip ranger of docker0 interface in RancherOS when I check under the / directory I could see os-config.yml in that I could see a line as
system_docker:
  args: [docker, -d, --log-driver, syslog, -s, overlay, -b, docker-sys, --fixed-cidr,
    172.18.42.1/16, --restart=false, -g, /var/lib/system-docker, -G, root, -H, 'unix:///var/run/system-docker.sock']

When I

[2015-07-13 03:56] ibuildthecloud commented on #436
Changing the IP of system docker is tricky because it is started before we have the ability to read any config except the kernel command line.  Changing the IP of user docker is simpler though.  As you said `docker0` I believe you want to change the IP user docker.  System docker uses `docker-sys` bridge.

[code]

Replacing your desired IP.  Reboot after setting.

[2015-07-13 06:55] willseward commented on #132
I'm having the same issue. It can't download the ubuntu-console image.

[code]

[code]

[2015-07-13 07:04] willseward commented on #132
This looks like another version of the same error.

[code]

[2015-07-13 16:52] deniseschannon commented on #132
@willseward Can you confirm how you launched RancherOS? If I launch RancherOS through the AWS AMI, it starts with the ubuntu-console. It might make sense to make a new issue as the original issue was related to RancherOS on AWS.

Can you try a `docker pull` on any image to confirm if networking is working? Based on the logs, it looks like you have a networking issue with RancherOS.

[2015-07-13 20:55] deniseschannon commented on #393
@DJviolin If you are still having issues, please re-open, but with @imikushin's compose file and v0.3.3, the issues you were facing should be gone.

[2015-07-13 20:55] #393 closed

[2015-07-13 20:58] deniseschannon commented on #294
@xinity I have had no issues with doing a fresh clone of the repo and doing a `vagrant up` and logging in. Please see if you still have the same issues. If so, please re-open the issue.

[2015-07-13 20:58] #294 closed

[2015-07-13 21:07] DJviolin commented on #393
Sorry, I can't test it. I went with bare-metal Coreos+Docker for my development environment. I spent the last one month learning about systemd, Dockerfile and cloud-init. So far I have a working environment (now without vagrant, pure virtualbox SSH, SFTP godness) but I don't feel yet the satisfaction. It's really hard. :)

[2015-07-13 21:07] deniseschannon commented on #160
@kentoj Please let us know if you are still running into this issue on v0.3.3. We've made significant improvements over the last couple of releases and the rancheros-install is much more stable. If you are still having issues, please re-open.

[2015-07-13 21:07] #160 closed

[2015-07-13 21:12] deniseschannon commented on #254
@imikushin Has this been resolved with the instructions? http://docs.rancher.com/os/configuration/prepacking-docker-images/

[2015-07-13 21:20] ibuildthecloud commented on #393
@djviolin When RancherOS 0.4 is released I would encourage you to try it out again.  For releases 0.1-0.3 the focus has been largely "will this crazy idea work?"  And the answer has been a resounding yes.  Having said that we recognize that the usuability of RancherOS can be difficult.  The major focus now is to make RancherOS easy to comprehend and use, especially for those people that aren't Doc

[2015-07-13 21:30] deniseschannon commented on #394
@sjkeerthi sorry for the delay. can you provide the logs from the rancher/agent?

If 10.2.0.64 is your rancher management IP, then the command should be something like
[code]

Can you also make sure your host registration is set up for 10.2.0.64:8080?

[2015-07-14 02:31] jwhitcraft opened #437 "Docker bound to IP"
Hello,

In trying to use RancherOS as a Jenkins Docker host, it's required that Docker be listening on a port.  It does this for me when using it inside of `docker-machine` but when using the ami, i don't see a way to bind it to the ip address of the running ec2 image.  is this possible?

[2015-07-14 05:23] wedtm commented on #339
I'm seeing this issue as well. Latest version of Rancher (v0.3.3). I'm supplying the DNS servers via a cloud-config in AWS. When the box first comes up, the hostname is set correctly, but the DNS is still set to `8.8.8.8` and `8.8.4.4`. I have to restart the box in order for the DNS to be applied.

[2015-07-14 14:12] ibuildthecloud commented on #437
This should make it listen on a port

[code]

Then reboot or `system-docker restart docker`

TLS is more complicated but instructions are at http://os.docs.rancher.com/docs/configuration/setting-up-docker-tls/

[2015-07-14 14:13] ibuildthecloud commented on #437
You can do the above with the cloud config too:

[code]

[2015-07-14 14:31] ibuildthecloud commented on #434
@sjkeerthi I think this gets a bit more complicated.  The way people typically do this is as follows.

1. Create docker0
2. Add eth0 to docker0
3. Configure docker0 with IP of host (or DHCP) and remove IP from eth0
4. Configure `Docker daemon` to use a block of IPs on your subnet but reserved for the host.

Is what you are looking to do?  Step 4 gets tricky because this is a manual configuration a

[2015-07-14 15:53] jwhitcraft commented on #437
Thanks @ibuildthecloud , i'll give it a shot.

[2015-07-14 16:38] deniseschannon commented on #339
@wedtm Just to confirm, after you login the first time, you need to reboot for the DNS to be set from the cloud config? You don't make any other changes before rebooting, but after you reboot, the DNS changes are applied.

[2015-07-14 17:17] imikushin commented on #339
Confirmed: it's a bug.

[2015-07-14 17:51] wedtm commented on #339
Correct.
On Jul 14, 2015 10:18 AM, "Ivan Mikushin" <notifications@github.com> wrote:

[2015-07-14 20:05] Kelindar commented on #234
Might be related: I've booted my bare metal RancherOS server without a ethernet cable, plugged the correct one after boot but DHCP didn't assign an address, had to reboot the entire machine. Wouldn't want this to happen in production.

[2015-07-14 23:37] janeczku commented on #339
:+1:

[2015-07-15 16:22] sjkeerthi commented on #436
I have following routable ip's 192.168.101.0/24 assigned on a interface eth1 (192.168.101.10) on a racheros machine. Although I was able to configure the docker0 interface with 192.168.101.11/24. I was not able to ping both eth1 & docker0 ip from my base machine.

How do I bridge eth1 with docker0 so that each container can be reach from my base machine.

[2015-07-15 20:49] pflannery commented on #427
I have the same issue /sub

[2015-07-15 21:01] ibuildthecloud commented on #427
We haven't tested this.  We really should.  I have zero experience with hyper-v but I'm guessing there is an agent missing in RancherOS that boot2docker may have that communicates the IP address to the hypervisor.  I'll look at b2d real quick to see what up.

[2015-07-15 21:02] ibuildthecloud commented on #427
boot2docker packages `hv_kvp_daemon`.  So my guess is if we pull that in and run it it could possibly work.

[2015-07-15 21:03] ibuildthecloud commented on #427
@deniseschannon Can we see if we can get this in 0.4?  I'd like to support Hyper-V through docker-machine.  AFAIK RancherOS on Hyper-V already works fine, just not through docker-machine.

[2015-07-15 21:18] pflannery commented on #427
One thing I notice is that the config.json contains paths to ssl files that don't exist (server.pem & server-key.pem) and instead id_rsa + id_rsa.pub have been generated in to the folder

[code]

![image](https://cloud.githubusercontent.com/assets/1727302/8710066/d95095ea-2b3e-11e5-9546-7f18a88c98fc.png)

[2015-07-15 21:18] deniseschannon opened #442 "Supporting Hyper-V using docker-machine"

[2015-07-15 21:20] deniseschannon commented on #427
I've created a new feature to track fixing the support of Hyper-V with docker-machine. We can try to get it in v0.4.0.  https://github.com/rancher/os/issues/442

[2015-07-15 21:21] ibuildthecloud commented on #427
@pflannery Silly question, but does b2d work with Hyper-V?

[2015-07-15 21:27] pflannery commented on #427
@ibuildthecloud Not sure, I was following up on an email i received regarding docker-machine http://blog.docker.com/2015/06/docker-machine-0-3-0-deep-dive/ and saw Rancher OS

So i decided to try it with the hyper-v driver. I downloaded machine-rancheros.iso from https://github.com/rancher/os/releases/tag/v0.3.3 then ran

[code]

That's when I got the same issue as pmario. I too can ping the VM ok

[2015-07-15 22:02] faddat commented on #417
When this work begins, please loop me in.  I'd like to get it running in paralell on BananaPi, OrangePi, or similar.

[2015-07-17 13:48] imikushin commented on #417
Sure thing.
How many kinds of "Pi" are there?

[2015-07-17 16:48] deniseschannon commented on #84
@yellow1912 We currently have a RancherOS v0.3.1 image out in the Azure Resource Management marketplace. We've documented instructions on how to launch a VM using their portal.

http://docs.rancher.com/os/running-rancheros/cloud/azure/

[2015-07-17 17:13] imikushin commented on #431
I'll try to answer this, but I need more information to see what exactly is happening:
 - Are you running a RancherOS VM on EC2 via docker-machine?
 - What command did you use to run the container?
 - Where (inside the container, on the RancherOS VM, on the host where you're running docker-machine client) are you expecting the directory to be created? What would be the name of that directory?
 - W

[2015-07-17 19:12] faddat commented on #417
If you expand your scope to Asia, you've got:

Banana
Orange
T-firefly

And many others even. Banana pi caught on big but I think I will be
building our cheap-ass cloud from orangePi Mini 2's, they cost $25/ea and
have a quad core cpu and 1gb RAM.  Tbh, MetaDev is on a 6 month timeline to
tear off more ports (okay all of them except a male cat5) and support PoE
with 2gb RAM and a similar (if not t

[2015-07-18 18:59] Bhlowe commented on #389
I'm seeing this on my ESXI 5.5.0. Booting from the rancheros.iso with an unformatted drive worked fine.
I ran rancheros-install using a simple cloud-config (1 pub key only, no network settings as I wanted dhcp.)

Once the new (bad) install is on the disk, I can't boot back into the virtual CD based rancher.iso file. So I can't change the install options to try to reinstall a different version or n

[2015-07-18 19:06] janeczku commented on #436
docker0 **is** a bridge interface. Communication between docker containers and the outside world is done by IP forwarding and NATing on the eth0 interface. Your containers services are exposed on eth0 and not on docker0. It's absolutely normal that you can not ping docker0 from your network.
Check this doc explaining the docker networking concept: https://docs.docker.com/articles/networking/

[2015-07-20 06:34] jest commented on #389
@Bhlowe If you want to boot from CD while having bootable HD, you have to change the order of booting devices in virtual BIOS. Depending on vmWare client you should see an option like "Enter BIOS after boot" somewhere.

[2015-07-20 16:13] Bhlowe commented on #389
Thanks Jest, figured that out (boot options menu in esxi) but..  still unable to get rancheros boot past that 9pnet: Could not find request transport: virtio message.
I have installed CoreOS from iso so my machine isn't completely weird.
I can let anyone see this via teamviewer if anyone wants to debug.

- Brad

[2015-07-21 02:04] pl33g0r commented on #389
Having the same issue while running everything on bare metal...

[2015-07-21 12:53] moimael opened #446 "Set iptables rules at startup"
Hi,

I use a direct routing load balancer to balance load against my rancher servers (https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Load_Balancer_Administration/s2-lvs-directrouting-VSA.html). One of them is under RancherOS and the only way (except using arptables, which isn't available on RancherOS) to make direct routing work is editing iptables rules. Is there a

[2015-07-21 13:37] colebrumley opened #447 "[os-base] CRIU support"
Are there plans to include CRIU support in RancherOS any time soon?  I'd imagine that it'd make it into ROS once the feature makes it out of Docker experimental, but I am wondering if any work has been done on it so far and what kind of priority level you all are giving it.

[2015-07-22 03:42] bloodsun commented on #380
I am not too sure if I should post here or create a new topic.

Currently I am able to build the rancher/os-base and rancher/os-images without issue. However, it seems that currently rancher/os build is pulling the image from Docker Hub Registry.

Is there any alternative way of making rancher/os build to get from local build instead of pulling from external registry? It also seems that the DIND i

[2015-07-22 22:39] ndarilek opened #449 "Support non-TLS remote Docker"
I'm attempting to connect a Jenkins container to the Rancher OS host Docker to perform builds. The host is a VM which is mostly not internet accessible, so it should be safe to expose port 2375. Yet all I see is how to enable TLS access to the Docker daemon.

Is it at all possible to enable non-secure access to 2375? Not sure if my Jenkins plugin supports accessing the TLS port. I used to do this

[2015-07-23 19:06] deniseschannon opened #451 "Allow DNS nameservers to be picked up from DHCP before using Google's."
Currently, Google's DNS nameservers are hardcoded.

If someone uses DHCP, the nameservers are not picked up.

We should select DNS nameservers in this order

1. Nameservers from Cloud Config
2. Nameservers set in Rancher.yml (if you used `ros config set`)
3. DHCP nameservers (NEW ADDITION)
4. Use the Google DNS nameservers  that are currently hardcoded