[2017-09-27 15:16] liyimeng opened #2127 "Rollback in case on disaster happens"
This is not a bug report, it is more like a feature request.
According to RancherOS document, https://rancher.com/docs/os/v1.1/en/upgrading/
rollback is not supported  when using a persistent console. I would like purpose to relief this restriction a little bit with doing this:
1. when upgrade, tag the current console
2. when rollback, warn the user this might be a data lost operation, and get a c

[2017-09-28 09:44] lachnerd commented on #1483
Hi, has anyone got this working?
I'd like to run rancheros (1.10) iso with VMWare on Rancher v1.6.5 but i keep getting this Errors:

What exactly do you mena with "docker-machine on your Rancher Server to v0.12.2" do i have to upgrade to latest rancher version ?

[2017-09-28 12:31] golvteppe commented on #1483
@lachnerd Yea I think you need to upgrade, but I am not sure how high. I have tried with docker-machine (v0.12.2) directly to VMware with RancherOS 1.1.0 and that works, but not from Rancher UI / Server (gonna upgrade soon). I am running Rancher Server 1.6.7 and under the vmware machine driver in the API it seems it is using v0.10.0-pre1 of the machine-package:

**"schemaVersion":** **"https://git

[2017-09-29 08:01] FXRer opened #2128 "rachner/os-debianconsole-base repository not found"
Hello all,

I'm trying to build rancherOS  for Raspberry Pi (from master branch) by using the script at [(https://gist.github.com/rgaidot/bc2efc014cccabb926392e353708122a](https://gist.github.com/rgaidot/bc2efc014cccabb926392e353708122a) but it seems that I have problem with **Dockerfile.dapper** file under **os/ scripts/images/raspberry-pi-hypriot(64)** because the **rancher/os-debianconsole-base

[2017-09-29 09:44] ofcourseican commented on #84
Can we get an update on the progress here, please? I'd like to run a rancheros cluster on azure, right now, this seems impossible.

[2017-09-29 18:34] stuckj commented on #1919
For reference to anyone that gets here...I believe this is the issue that @ketchoop is referring to (on the rancher project): https://github.com/rancher/rancher/issues/8433.

I'm running into it as well. 30 minutes for containers to come up after reboot. :-(

[2017-10-01 10:53] scls19fr commented on #323
I was also looking for `docker-compose`.

I did

[code]

I put a `docker-compose.yml` in a directory and run it using:

[code]

But having docker-compose directly could be a nice feature

[2017-10-03 02:29] SvenDowideit commented on #2116
@Raboo the biggest memory problem we have atm, is that we're loading images into the system-docker - this spikes the memory usage on initial boot. The current work to convert to runc and containerd should help significantly..

[2017-10-03 02:31] SvenDowideit commented on #2118
yeah - its trying to get the `open-vm-tools` cfg because 1.1 detects that you're running vmware.

There are some improvements in the pipeline.

[2017-10-03 13:38] Raboo commented on #2116
@SvenDowideit ok, cool. Is there any issue or something I can subscribe to to follow progress? Or do you have a ETA?

[2017-10-05 17:47] imaia commented on #1369
Being unable to change the keyboard layout is terrible. Currently, I'm unable to use the character ' in bash.

[2017-10-06 20:35] zimme commented on #2044
Ok, so I've run into this problem again. This time with an msdos partition table.
But I'm thinking that this time it might be related to #1923, but as I'm booting from an usb drive it's just taking forever maybe?

[2017-10-07 14:43] shamalco commented on #1036
Hi @liyimeng I facing the same issue as you mentioned here. Did you manage to resolve it or figure out what is causing this? For some reason only the secret volumes fail on RancherOS

Thanks.

[2017-10-08 13:39] Vanuan commented on #1133
I've just lost my database after rancheros upgrade :angry:
Using `/data` for persistence looked like an obvious choice.
Rancher os MUST NOT allow me to upgrade if rancheros system image is not clear (docker diff).
At the very list it should warn that new folders created in root (`/`) are to be deleted.
For example:

[code]

[2017-10-08 13:41] mudrii commented on #128
you can run compose in rancheros as container
Add some additional goodies if you shell geek

docker run --rm docker/compose:1.16.1 version
########################################################
~ $ cat .profile
if [ -f ~/.bashrc ]; then
    . ~/.bashrc
fi
########################################################

~ $ cat .inputrc
#.inputrc
"\e[A": history-search-backward
"\e[B": history-search-fo

[2017-10-08 13:43] Vanuan commented on #1133
Oh, it's not even upgrade, it's a simple restart that leads to data loss :astonished:

[2017-10-08 17:43] vincent99 commented on #1133
The default console is ephemeral and designed for running everything through Docker.  Only /home and docker volumes are persistent.  http://rancher.com/docs/os/v1.1/en/configuration/switching-consoles/#console-persistence

We're not going to patch `mkdir` and `docker -v` and break scripting to show a warning.

[2017-10-08 18:42] Vanuan commented on #1133
Virtually nobody's using Docker volumes for persistence. Most people use docker bind mounts. Since docker daemon uses temporary root filesystem instead of the real root, it's causing such confusion.

Rancher OS should be either more transparent (read needing manual intervention) about mounted folders. Alternatively, it should use the real filesystem for mounts by default (while optionally using th

[2017-10-08 18:47] EugenMayer commented on #1133
@Vanuan wat? why anybody would ever consider using bind mounts ever. Beside having only downsides, its not even close to cluster-compatible.

Still i agree, that this thing should have been solved a long time ago. Nobody wants a patched mkdir or docker, it could be done so much easier. Even doing a `du -sh /*` picking up the largest 3 and comparing them against the list of "persistent storage" if

[2017-10-08 19:21] Vanuan commented on #1133
@EugenMayer what do you use for docker container persistence? Docker volumes aren't cluster-compatible either.

[2017-10-08 19:26] EugenMayer commented on #1133
@Vanuan this is going off-topic, but you can see and read it here https://docs.docker.com/engine/swarm/services/#give-a-service-access-to-volumes-or-bind-mounts you can use a lot https://portworx.com/, minion, long and sure a lot more i am not aware of.

[2017-10-08 20:27] Vanuan commented on #1133
@EugenMayer
Ok. So when I said docker volume I meant default docker volume driver (overlay). And when I said bind mount I meant a non-docker directory with some network synchronization.

According to the swarm docs link:

Attached volumes are not moved to another machine when a service is moved to another swarm node. So you would have to use some kind of network attached block device (e.g. NFS) or

[2017-10-09 08:07] jsundqvist opened #2129 "install with rancher.console set in cloud-config.yml boots to `default` console"
**RancherOS Version: (ros os version)**
1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
SolusVM VPS (KVM)

Installing with the following `cloud-config.yml` boots to the `default` console.
[code]
My use case is automating the installation of RancherOS with Ansible.
The act of switching console breaks the script because the ssh connection is closed and host key

[2017-10-09 12:09] JermineHu opened #2130 "How to set registry-mirror params for system-docker ?"
**First of all, thank you very much for RancherOS provided by Rancher**

**RancherOS Version: V1.1.0**
**Where are you running RancherOS? (virtualBox)**

**Visiting docker official images repo from China is very slow， when to pull a image in system-docker will take a long time！So in order to speed up, I want to set the system-docker registry-mirror**

[2017-10-09 12:59] JermineHu commented on #2130
This is a very retarded question! It's settled. Share it!

[code]

This question can be closed！

[2017-10-09 13:06] #2130 closed

[2017-10-09 16:00] kristoferlundgren opened #2131 "Original rancher.password reintroduced after upgrade."
**RancherOS Version: (ros os version)**
v1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VMware ESXi 5.5, installed to disk after booting from iso.

**Steps to reproduce:**

Boot from rancher.iso (I was using v1.1.0)
Install to disk using the following command:
[code]

ssh to rancheros as user "rancher", set new password to "newpass" using command:
(edit pas

[2017-10-09 23:18] matt-benett commented on #1483
@golvteppe Did you work out how to do this upgrade?

[2017-10-11 08:17] SvenDowideit commented on #2116
#2079 :)

[2017-10-11 12:08] nhi-vanye opened #2132 "RFE: support separate netmask key rather than require CIDR for IP address"
**RancherOS Version: (ros os version)**

1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

VMware as virtual appliance for product deployment

I'm working with VMware's OVF environment guest info support and their IP address value is a simple IP address - not a CIDR. Likewise their netmask is exposed as a separate key.

Currently I've worked around it by usin

[2017-10-11 17:59] andruwa13 commented on #1939
https://gitlab.com/gitlab-org/gitlab-runner/issues/2533

[2017-10-12 14:00] jdel commented on #2129
I have the same issue.

Worse even, when upgrading from a Rancher OS with the debian console to v1.1.0, it falls back to the default console making hosts unreachable via ansible.

[2017-10-12 14:23] jdel commented on #2129
I tested v1.0.4 and it does not have this feature :)

Rolling back from v1.1.0 to v1.0.4 restores the debian console.

[2017-10-12 14:27] jdel commented on #2129
On v1.1.0, when switching manually to the debian console, it uses rancher/os-debianconsole:v1.1.0-rc3 instead of the v1.1.0 that exists on the docker hub. Is this meant to be like that ?

[2017-10-12 14:42] cloud-rocket commented on #1449
Guys, anything new on this effort? Packing custom / openvmtools images in standalone ISO and copying them to preload is a super important feature.

[2017-10-12 14:59] jsundqvist commented on #2129
Come to think of it, that's the reason I started looking into Ansible. I updated to 1.1.0 and couldn't login through SSH. I thought I had messed up and needed to reinstall. Interesting...

So yeah, big +1 on this, will update title.

Thanks @jdel for workaround!

[2017-10-12 15:10] jdel commented on #2129
No worries, the fix is easy, I think @SvenDowideit needs just to remove the extra `-rc3` in here:

https://github.com/rancher/os-services/blob/v1.1.0/d/debian.yml

[2017-10-12 15:13] jdel commented on #2129
@jsundqvist the title is misleading. I don't think it breaks SSH. I have setup a couple of ROS 1.1.0 with ansible yesterday and i can logon to the server avterwards.

However, the default console doesn't have python, preventing ansible to do anything unless you use the raw module.

[2017-10-12 16:27] jsundqvist commented on #2129
Right, my bad. Got a little excited.

[2017-10-13 10:06] huggla commented on #1670
[Another example](https://forums.rancher.com/t/rancheros-iso-out-of-memory-issue/7552)

[2017-10-13 13:42] transifex3 commented on #323
Not any official comments about this yet?

[2017-10-14 16:06] ikappas commented on #2121
I am experiencing the same issue with rancher os v1.1.0 on ESXi 6.5.0 Update 1 (Build 5969303)

[2017-10-14 19:20] cloud-rocket commented on #1449
@tylert: I used your example to add custom images (vmware tools) to RancherOS 1.1 ISO. I also modified `cmd/control/install.go::layDownOS` to copy those images to  `/var/lib/rancher/preload/system-docker`. It works fine while running `ros install...`.

But I still can't find a way to copy the images to  `/var/lib/rancher/preload/system-docker` when creating the host via `docker-machine`.... Can yo

[2017-10-16 12:04] kristoferlundgren commented on #2131
"rancher.password" is also reset to the original when upgrading from RancherOS v1.0.4 to v1.1.0 .
Since the "sudo ros config syslinux" command does not exist in v1.0.4 , you can instead edit the password using:
sudo system-docker run --rm -it -v /:/host alpine vi /host/boot/global.cfg

[2017-10-17 02:26] MichelDiz commented on #1596
For the record @dtodt  just Saved me. I was able to make a Hyper-V virtual machine through the PowerShell terminal without problems. I just pasted his command.

I am using Windows 10 Pro 1709

Cheers.

[2017-10-18 00:49] prologic commented on #262
FYI the latest v1.1.0 image on DO boots and immediately kernel panics.

[2017-10-18 00:59] vincent99 commented on #262
Works for me, was it a 512MB droplet?  512 is not currently enough for the boot process.

[2017-10-18 01:00] prologic commented on #262
Oh'really? Okay i'll try with 1GB :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Tue, Oct 17, 2017 at 5:59 PM, Vincent Fiduccia <notifications@github.com>
wrote:

[2017-10-18 01:07] prologic commented on #262
Okay now we have a different issue :)

See attached
<img width="1280" alt="screen shot 2017-10-17 at 6 07 04 pm" src="https://user-images.githubusercontent.com/1290234/31696434-021bdbf4-b366-11e7-81e4-39ed7bbe5bac.png">

[2017-10-18 05:59] zjzh commented on #2130
vff

[2017-10-18 07:49] gizmotronic commented on #1992
Ubuntu 16.04.3 LTS with the 4.10.0-35-generic HWE kernel is able to compete a build, but cannot run tests successfully.

My build machine is stuck at 14.04 LTS for chromiumos so I'll just have deal with it. It seems reasonable to require the current LTS version.

Is it possible to build using RancherOS? I know that integration tests fail there, too (#1807) but this would be preferable to a dedicat

[2017-10-18 21:20] tylert commented on #1449
@cloud-rocket Sorry, I haven't used that stuff for many months now so I'm probably not the best person to ask now.  I worked a bit with @SvenDowideit many moons ago on some code changes on top of a pull-request of his but I lost track of these changes after they fell into disuse.  Things are probably very different today.  Good luck.

[2017-10-19 09:15] cloud-rocket commented on #1449
Thanks @tylert, I succeeded in tracking your and @SvenDowideit changes (in his own repo) for version 0.7 and recreated something similar for 1.1. It works great for preloading images during `sudo ros install`  (I can publish my efforts here if it helps).

My problem is that `ros install` script is not called during docker-machine installation. And I am not sure how the disk layout is created durin

[2017-10-20 06:20] zjzh opened #2134 "dfsg"
**RancherOS Version: (ros os version)**

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

[2017-10-20 06:21] #2134 closed

[2017-10-20 08:15] zjzh opened #2135 "sorry"
dh**RancherOS Version: (ros os version)**

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

[2017-10-20 08:18] zjzh commented on #2135
sorry

[2017-10-20 08:18] #2135 closed

[2017-10-20 09:46] zjzh opened #2137 "fghfghjjhjhjfhkfhkfjhkgkjhkjhkkhkjh"
**RancherOS Version: (ros os version)**

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

[2017-10-20 09:53] superseb commented on #2137
Please stop

[2017-10-20 09:53] #2137 closed

[2017-10-20 10:08] niusmallnan commented on #2137
@zjzh
Are you crazy?
No matter who you are, shame on you!

[2017-10-20 17:08] vancluever commented on #2121
Doing some investigation on this as I want use rancher for some "bare metal" work I'm doing for the Terraform vSphere provider... and it's working amazing so far... I'm super excited, but we will need guest shutdown capabilities!

I found this in the open-vm-tools shutdown logic: https://github.com/vmware/open-vm-tools/blob/e0a7b4e98bd6d6af06d31212dfdc82610d37e4d3/open-vm-tools/lib/system/systemLi

[2017-10-20 17:19] vancluever commented on #2121
I'd imagine this will be a two-part fix in `cmd/power`:

* Accept `-h` (lowercase) as a valid halt flag - is there a reason why it was chosen as uppercase (maybe this is busybox-like)?
* Fix `reboot()` to launch a container with a proper name (from the logs here, looks like it's trying to launch as `/sbin/shutdown`)

[2017-10-20 17:23] vancluever commented on #2121
PS: This does the same thing in the console container:

[code]

[2017-10-20 20:18] vancluever commented on #2121
Update: I've added the appropriate stuff to the `cmd/power` package (turns out that `shutdown` wasn't checking to see if it was called via an absolute path or not, which is why the bad container name was being passed) and am just uploading my artifacts to see if this fixes it for vSphere. If it does I'll be putting in a PR when I'm done!

[2017-10-20 22:10] vancluever commented on #2074
Looking into this as part of #2121. Args are being ignored for sure, but it's specifically when the shutdown container is launched. Right now `runDocker` is not deriving its command arguments correctly, I have a fix which I will put in my PR as well.

You can see the specfiic power command go from LINUX_REBOOT_CMD_RESTART to LINUX_REBOOT_CMD_POWER_OFF in the extra log bits I put in below.

[code]

[2017-10-21 00:37] vancluever commented on #2121
PR is in! I've tested against our own ESXi 6.5 lab here over iPXE and sending guest shutdown and reboot commands now work like they say they do on the tin.

If anyone wants to give this a shot, note all you need is to build the updated rootfs and deploy accordingly. No update to any containers is necessary for this fix to work. :tada:

[2017-10-21 17:45] prologic opened #2139 "ros engine list seems weird in v1.1.0"
See:

[code]

The `sudo ros engine list` command since upgrading to v1.1.0 on longer shows the currently running engine version. Why? I'm also vaguely aware 17.07-ce is out but don't see it here.

[2017-10-22 15:44] cloudy-brain commented on #128
mudrii - Thanks for that - I really like your approach. Question - I wanted to call 'docker-compose up -d' in a script... but it doesn't recognise the command. Any idea how I can get round that?

Thanks

[2017-10-23 14:26] narcoticfresh commented on #1664
@felixsanz did you find a solution for this? i'm having the same issue, on rancherOS v1.1.0

[2017-10-23 14:44] felixsanz commented on #1664
@narcoticfresh I didn't find one sorry

[2017-10-23 16:15] daiyam commented on #2091
same here with virtualbox

[code]

[2017-10-23 20:46] kevinelliott commented on #1149
What's the status on this?

[2017-10-24 08:33] nheinemans opened #2140 "Configure proxy during init"
**RancherOS Version: 1.1.0**

**Where are you running RancherOS: VMware**

We currently use packer to create a vmware image for rancheros 1.0.4. Packer performs this command to enable the vmware-tools:
ros service enable open-vm-tools
This command is run in a shell which contains the correct http proxy environment.

In Rancheros 1.1.0, the open-vm-tools service is automatically enabled during boot

[2017-10-24 14:22] narcoticfresh commented on #1664
@felixsanz
just as a reference or if anyone finds this.. i've seen in the documentation of rancherOS 1.1.0, that the `console` system docker service now actually executes `/etc/rc.local` if found..

And it seems to work.. I created `/etc/rc.local` through my config:

[code]
if i boot after that, it seems to be correct:

[code]

so this looks like a very easy way :+1:

[2017-10-24 14:32] #1664 closed

[2017-10-26 13:37] liyimeng opened #2141 "Some configurations in cloud-init are skipped if network is static configured"
**RancherOS Version: (ros os version)**
v1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM

I iPXE the node with the config as below.
<pre>
EXTRA_CMDLINE: /init
hostname: 10-168-122-198
rancher:
  autologin: tty1
  cloud_init:
    datasources:
    - url:http://10.168.122.36:8888/cloudconfig?arch=x86_64&dc=dc1&dns=10.168.122.1&gw=10.168.122.1&ip=10.168.122.1

[2017-10-26 13:43] liyimeng commented on #2141
After a some troubleshotings, I can narrow down the issue now. If I try to set the dns, I have the problem, even I set it to 8.8.8.8.
If I skip dns settings and lets rancheros pickup it is own, it works.

Please note that, when I set dns, everything actually working OK after system start. I can use the dns server in the console. It just be ignored during system startup.

[2017-10-27 12:48] liyimeng commented on #2141
This is likely a timing issue, more complicated cloud config file, more easy to get hit with the problem.
For some reason, if the network is static configured, the interface is not get up and ready for system boot up.

[2017-10-27 16:09] allingeek commented on #2078
Since this is in the v1.2.0 milestone will this change maintain a consistent user-interface (i.e. the system-docker command). It seems to me that if the intention is to replace feature implementations build using custom components with reusable ones that doing so would be possible. Even if this looks like some kind of alias or facade I think it would be worth maintaining the interface until a majo

[2017-10-27 22:39] pcassimans opened #2142 "[os-images] Cannot enable ros service volume-netshare"
**RancherOS Version: (ros os version)**
Version 1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
iohyve

When i ask the list of available services, get "volume-netshare" as one of them.
If I try to enable it by:
[code]
I get the following error:
[code]

[2017-10-30 02:50] sagar-chandarana opened #2143 "OpenStack: authorized_key not installed as provided in OS_KEYPAIR_NAME"
**RancherOS Version: v1.1.0**

**Where are you running RancherOS? (OVH - OpenStack Nova.)**

Seems like Rancher doesn't boot up with ssh keys provided from Openstack, it keeps asking for a password on login.

I am specifying OS_KEYPAIR_NAME from Rancher interface while adding a host. Also from docker-machine cli, and it hangs on "Waiting for SSH to be available..."

I tried to login manually, and

[2017-10-30 12:27] liyimeng opened #2144 "iPXE boot not always load cloud-init if there are more than one interace run dhcp"
**RancherOS Version: (ros os version)**
v.1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

As suggested with Sven in https://github.com/rancher/os/issues/1790 I open this issue.

This happens If you have more than one interface on your machine. To reproduce, create a KVM VM with two interfaces, pxe boot from one of the interface. In case you also have another

[2017-10-31 09:28] benok commented on #2121
@vancluever Thank you for fixing the issue.
I don't have build env for rancher-os now, and it seems very slow for them to fix this.
Could you upload fixed power/shutdown to somewhere ?

[2017-10-31 11:26] curx commented on #2143
@sagar-chandarana Can you please try to boot the RancherOS Nova instance with configdrive?
Currently RancherOS supports OpenStack configdrive option only and the Nova keypair is used by MetadataAgent, see [RancherOS Docs](http://rancher.com/docs/os/v1.1/en/running-rancheros/cloud/openstack) , but an WIP exist for OpenStack MetadataAgent #2125 and #2124

[2017-10-31 17:30] sagar-chandarana commented on #2143
Docker machine doesn't support configdrive as of now. I am going to wait until this is fixed. Thanks @curx

[2017-11-02 11:27] superseb commented on #2126
Can you please share output of `/var/log/docker.log`, especially for

[code]

[2017-11-02 12:01] liyimeng commented on #2141
I close this one since it should not work at all with my setup. I properly have miss configuration somewhere on the LAN.

[2017-11-02 12:01] #2141 closed

[2017-11-03 06:13] ramalg commented on #178
I am able to shutdown using
sudo shutdown

- It doew not prompt for any password and I never set one during installation

[2017-11-05 16:49] cnf opened #2146 "LVM support"
As #356 was closed, and there is no replies to it, i'm opening another issue.

#356 says LVM support is in 0.4.0+, but I can not find any documentation for this, nor can I find the lvm commands.

Was this not added? If it was added, where is the documentation?

Thanks

[2017-11-06 11:30] murbanowicz opened #2148 "Can't install on VPS due to no ssh access during installation"
**RancherOS Version: (ros os version)**
1.1

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM VPS

I cannot reach RancherOS which I have installed on my VPS.
It is not the issue of password or key, but it is just not reachable through ssh.

[2017-11-06 13:01] #2148 closed

[2017-11-06 13:03] murbanowicz opened #2149 "Network not working at all after installation"
**RancherOS Version: (ros os version)**
1.1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM VPS

I am stuck after the installation as RancherOS does not recognize the network therefore I cannot connect to the machine in any way (I am able to do something using VNC).
![rancherconf](https://user-images.githubusercontent.com/9385106/32442305-dbdddaae-c2f2-11e7-9ec

[2017-11-08 12:39] fudekun commented on #1149
Can I use this?
http://rancher.com/docs/os/v1.1/en/configuration/loading-kernel-modules/

[2017-11-08 14:05] 13567436138 opened #2150 "what's the root password and kernel version？"
what's the root password and kernel version？

[2017-11-08 14:11] superseb commented on #2150
There is none. You can either set a password as a kernel parameter (http://rancher.com/docs/os/v1.1/en/boot-process/built-in-system-services/#console) or add your SSH public key via cloud-config (http://rancher.com/docs/os/v1.1/en/configuration/ssh-keys/).

Latest release is `v1.1.0 - Docker 17.03.2-ce - Linux 4.9.45`

[2017-11-08 14:11] #2150 closed

[2017-11-08 15:54] trombini opened #2151 "rancherOS 1.1 fails to set the static IP set by guest customisation of a VMware ESXi (5.5.0) hypervisor"
**RancherOS Version: (ros os version)**
[code]
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

VMware ESXi, version 5.5.0. We connect to the VMware ESXi with the software vCloudDirector (v 8.2)

**Issue**

rancherOS 1.1 fails to configure the static IP set by guest customisation of a VMware ESXi (5.5.0) hypervisor.

This `/var/log/boot/cloud-init-save.log` log see

[2017-11-08 16:35] vancluever commented on #2121
Hey @benok - sorry I haven't responded to this. If I have the time to upload it I will do so to the releases page on my fork, but the easiest way to probably do this would be to get the build environment set up. The instructions here can help: http://rancher.com/docs/os/v1.1/en/contributing/ and if it's at all possible to get your hands on a Linux environment of reasonable power you should be able

[2017-11-08 17:08] trombini commented on #2151
So I finally pinned it down why it doesn't work.

I looked at the test-cases for the datasource `vmware` which can be found [here](https://github.com/rancher/os/blob/master/config/cloudinit/datasource/vmware/vmware_test.go) starting on line 290.

The datasource expects `oe:key`s in the form like `guestinfo.interface.0.ip.0.address`. However, my open-vm-tools return `oe:key`s like `vCloud_ip_0`

[c

[2017-11-08 17:22] trombini commented on #2151
So I tried a different approach.

I copied the "valid" OVFENV XML from the [tests for the datasource vmware](https://github.com/rancher/os/blob/master/config/cloudinit/datasource/vmware/vmware_test.go) and changed the local config `/var/lib/rancher/conf/cloud-config.yml` to use the xml directly. However, when I execute `cloud-init-save` it is still not able to load the properties correctly.

**clo

[2017-11-09 14:11] mikemoate opened #2152 "Support for newer (but stable) docker engines"
**RancherOS Version: (ros os version)**
v1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

What are the plans to support newer docker engines (and I guess more generally the plans for future RancherOS releases).

We're using 17.06.1-ce currently on RancherOS v1.1.0, but 17.06.2-ce is the latest release in that series, and 17.09.0-ce is now out as well.

[2017-11-10 00:14] dmnc-net commented on #2076
I'm running ROS as a kvm guest (Proxmox VE), trying v. 1.1.0 for a first time. I found nothing is running on port 8080 so I've tried to install service `rancher-server` or `rancher-server-stable` ... both somehow depends on `kvm-vm-tools` which is enabled but I can't stop/disable/delete that service ... I'm getting the same result ... HTTP 404.

[2017-11-10 00:35] djmaze commented on #2152
@mikemoate I built newer some versions (17.09.0-ce, 17.10.0-ce) in an an external repository. You can use those while the versions are not yet in the official repo:

[code]

[2017-11-10 09:41] liyimeng commented on #2151
@trombini I experienced similar issue in kvm, I think your problem is that configuration file in config drive should be in cloud-init format, NOT xml format.

when you set your datasources as {"configdrive:/media/config-2", "vmware"}, it dose not mean that your config on the driver should be read as vmware format. Instead, it means two independent sources.

[2017-11-10 09:44] liyimeng commented on #2149
Try to verify your cloud-config file is correct by running
ros config validate -i <your config file>

[2017-11-10 13:48] beatcracker commented on #1888
So currently, there is no way to boot `v1.1.0` in latest Hyper-V at all? You either get a kernel panic in Gen1 or EFI boot error in Gen2.

Hope this will get fixed soon :hurtrealbad:.

[2017-11-10 14:15] trombini commented on #2151
The configdrive datasource seems to be a default of the rancherOS and is actually not available in my VMware ESXi / vCloudDirector environment. The file or mount point `/media/config-2` doesn't exist.

I wonder "who" is responsible for providing the correct OVF. My vCloudDirector, VMware ESXi environment doesn't create it from scratch.

[2017-11-11 01:21] nponeccop commented on #1888
BTW the Microsoft contributors to Linux Hyper-V support are very friendly. But they use Debian and build the kernel with default config from Debian to see if it is broken or not. So far I haven't had any time to build their suggested kernel as I couldn't have some 10GBs of disk space lol (not TBs).

So if anybody is willing to build the test kernel the way Hyper-V guys want it - I can send their i

[2017-11-11 15:08] cnf commented on #2142
I have the same problem, any update on this?

RancherOS v1.1.0 running bare metal.

[2017-11-13 14:20] lucymhdavies commented on #1698
Took us a while, but actually trying out the latest RancherOS for VMWare machines this sprint.

I'll hopefully have some good news very soon (or at the very least, some boot logs)

[2017-11-13 16:51] bjfr opened #2153 "https://releases.rancher.com/dapper/latest/dapper-Darwin-x86_64 throws Segmentation Fault"
**RancherOS Version: (ros os version)**
Tested with  1.1.0 and 1.0.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
The problem is building the ISO, not running it

On the latest recent release of Mac OSX High Sierra v10.13.1, the dapper executable located at

https://releases.rancher.com/dapper/latest/dapper-Darwin-x86_64

fails with a segmentation fault 11.

If

[2017-11-14 15:49] lucymhdavies commented on #1698
Well, the good news is that it would appear images ARE being pre-loaded into system-docker now.
With more logs, maybe we can figure this out.

So image was pre-loaded
[code]

But we still get the "no such image" error

[code]
full file attached: [ros-sysinit.log](https://github.com/rancher/os/files/1471468/ros-sysinit.log)

I can easily spin up more of these and provide more log files if there are

[2017-11-14 17:14] lucymhdavies commented on #1698
Would probably help if I provided those logs from the same VM, rather than from two separate VMs.

[cloud-init-execute.log](https://github.com/rancher/os/files/1471794/cloud-init-execute.log)
[cloud-init-save.log](https://github.com/rancher/os/files/1471795/cloud-init-save.log)
[dockerlaunch.log](https://github.com/rancher/os/files/1471796/dockerlaunch.log)
[init.log](https://github.com/rancher/os

[2017-11-14 22:52] frickenate commented on #2091
Same issue. I'm using VirtualBox. Upon attempting the `docker-machine stop` command, here are the 6 lines immediately written to `/var/log/system-docker.log` within the VM:

`time="2017-11-14T22:44:19.304128690Z" level=warning msg="Could not get operating system name: Error opening /usr/lib/os-release: open /usr/lib/os-release: no such file or directory"`

`time="2017-11-14T22:44:19.403997579Z" le

[2017-11-16 10:56] AliasAimbot opened #2154 "RancherOS wget results in 500 error"
**RancherOS Version: (ros os version)**
RancherOS v1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Running on openstack with terraform with the goal to automate the proccess adding hosts to the rancher.

To get the token needed for automating the process I came across the command:
wget -qO- http://IP:8080/v1/registrationtokens?projectId=1a5 | jq -r ".data[0]

[2017-11-16 11:50] superseb commented on #2154
I think this is because the `wget` in RancherOS is busybox's stripped down `wget`. If you are automating your setup using Terraform already, check out the Rancher provider (https://www.terraform.io/docs/providers/rancher/index.html) and examples in https://github.com/rancher/terraform-modules

[2017-11-16 12:05] #2154 closed

[2017-11-16 16:35] develar commented on #1312
So disappointing. Any way, it seems there is easy workaround — http://rancher.com/docs/os/v1.1/en/configuration/running-commands/

[2017-11-17 10:56] nheinemans commented on #2140
I found out how to configure this in cloud-config.yml. This issue can be closed.

[2017-11-17 10:56] #2140 closed

[2017-11-18 19:34] armouredking commented on #1592
Is this supposed to be corrected in 1.1.x then? Or is the tagged milestone correct? Confused since it's closed, the help documents and my current install both show this to be the state of ZFS on RancherOS.

Google links to here and docs, but not anywhere else of import for this search query.

Or did something else break from earlier this year to now?

[2017-11-19 06:31] naisanza opened #2155 "ros install -c https://link/to/cloud-config.yml -d /dev/sda, no such file or directory"
**RancherOS Version: (ros os version)**

`v1.1.0`

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
`kvm`

Error:
[code]

[2017-11-20 20:36] melvyndekort commented on #2146
I'm wondering about this too.
I have a server where I use mdadm and LVM to manage my storage configuration.
If LVM actually works, even through an addon Docker, I want to migrate my server to run RancherOS.

[2017-11-21 10:30] bjfr commented on #2153
Any progress on this issue? A simple recompile and upload, should take a few minutes max...

[2017-11-21 15:10] lucymhdavies commented on #2121
We see the same issue, in ESXi 6.0.

We can work around it, but would be good to have a fix.
If I have time, I'll get a build env setup and try that myself too.

[2017-11-22 07:31] stffabi opened #2156 "Is RancherOS still actively maintained?"
Hi folks

Basically I have the question if RancherOS is still actively maintained. There has been no work going on in the last couple of months, whereas the project was very active before. Most of the maintenance/development has been done by @SvenDowideit in the past. But it seems to me like he has left "Rancher" during the last couple of months, accordingly to his profile.

I really like the proj

[2017-11-22 12:12] lucymhdavies commented on #2121
As my workaround, I've followed instructions from here to get a custom shutdown command:
https://pubs.vmware.com/vsphere-50/index.jsp?topic=%2Fcom.vmware.vmtools.install.doc%2FGUID-35F34AE7-78E0-4BCF-B7C4-EFC29DE18824.html

It's a dirty dirty hack, but it works for now until that PR is reviewed and merged.

[2017-11-22 16:56] boistordu opened #2157 "docker not available: permission denied"
**RancherOS Version: (ros os version)**
1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
in a VM in KVM-qemu

docker ps doesn't work and give me permission denied.
I've read that system-docker was only for docker container within the system... So what should I do? Should I provide you with something like logs or anything ?
I'm a beginner on docker .

[2017-11-22 17:24] boistordu commented on #2157
So it seems that the container os-docker is restarting every 3 seconds. any idea why it would be in a loophole ?

[2017-11-22 19:44] boistordu commented on #2157
`time="2017-11-22T17:23:13.591442492Z" level=warning msg="Could not get operating system name: Error opening /usr/lib/os-release: open /usr/lib/os-release: no such file or directory"`

that's the content of the `system-docker.log` don't know if it's relevant

[2017-11-22 19:45] boistordu commented on #2157
`Could not load X509 key pair (cert: "/etc/docker/tls/server-cert.pem", key: "/etc/docker/tls/server-key.pem"): open /etc/docker/tls/server-cert.pem: no such file or directory`

that's the content of docker.log

[2017-11-22 19:55] ryansch commented on #2156
I came on here to ask exactly this question.  I noticed that Sven's "epic" PR (https://github.com/rancher/os/pull/2079) stalled as well.  Do I need to start evaluating other options?  We're running this in production as well.

[2017-11-22 19:59] boistordu commented on #2157
there is indeed no files in /etc/docker/tls ... but why whouldn't no files since I didn't make any change to the file structure ...?

[2017-11-23 12:42] boistordu commented on #2156
why are we talking about actively maintained? Is this not a monetized product for entreprise grade anyway ? and rancherOS is just one part of the project no ?

[2017-11-23 17:58] beatcracker opened #2158 "Can't automount state disk"
* RancherOS Version: **v1.1.0**
* Where are you running RancherOS: **Hyper-V Gen1 VM**

### Target

To have a  Hyper-V VM with wich boots from official `rancheros.iso`, reads config from `config-2.iso` (`openstack\latest\user_data`) and automounts disk attached as `dev/sda`.

Autoformatting this disk would be great, but I can live with just automount.

### What I've tried:

All combinations of:

#

[2017-11-24 06:56] develar commented on #2156
@boistordu ...and paid/enterprise users chooses coreos/ubuntu/centos, right?

[2017-11-24 06:59] boistordu commented on #2156
Well I don't know, since @ryansch have said that they are using it in production ....

[2017-11-24 13:35] beatcracker commented on #2158
#80 looks related. Not sure if this was fixed.

[2017-11-24 20:42] ryansch commented on #2156
@boistordu This is an OS.  Rancher happens to use RancherOS but you don't have to use Rancher.  We're probably going to jump ship for alpine if there's no action here soon.

[2017-11-25 00:24] boistordu commented on #2156
Okay my mistake then, I though that there has been first rancher then rancherOS as a side project. But then again I don't understand how it could goes to shit like that since they offer consulting service so it has to be an enterprise with monetized product behind it.

[2017-11-25 00:24] boistordu commented on #2157
no advice then ?

[2017-11-25 02:16] ibuildthecloud commented on #2156
As people noticed, yes @SvenDowideit has moved on to bigger and better things.  This does put us in a pickle as he was the main contributor to RancherOS adding features and doing great work around LinuxKit.  So that has definitely stalled.  From a "maintenance" perspective, that is still going on as needed.  The nature of RancherOS is it is supposed to be small and simple and not need a heck of a

[2017-11-25 09:37] superseb commented on #2157
What did you use to start RancherOS? Starting from the ISO doesn't give me a restarting user Docker, what is different in your setup?

[2017-11-25 09:39] boistordu commented on #2157
it's installed on the disk.  so I just follow the steps which are described  in the forum. What do you need me to show you ?

[2017-11-25 09:41] superseb commented on #2157
Did you use the ISO to install it? What command did you use to install it? What cloud-config.yml did you use?

[2017-11-25 09:46] boistordu commented on #2157
yes the iso.
the install commad that's a good question ^^ ros install something I think ... I should verify but in the meanwhile I have the cloud-config available:
sudo ros config export
EXTRA_CMDLINE: /init
hostname: rancher-node1
rancher:
  docker:
    tls: true
  environment:
    EXTRA_CMDLINE: /init
  network:
    dns:
      nameservers:
      - 192.168.5.91
      - 192.168.5.4
    interfaces:

[2017-11-25 09:54] boistordu commented on #2157
the tls key we speak about here, is it the official key of docker ? which are available at the installation to authenficate the docker version ? or is it private key from our domain ?

[2017-11-25 13:14] superseb commented on #2157
You are configuring the user docker to use TLS, but do you supply certificates somewhere?

[2017-11-25 15:50] boistordu commented on #2157
Okey sorry about that, since several people were taking that into default config, I assume that it was default key of docker generate automatically at the installation and not some customization to make docker instance communicate with outside world.
put `sudo ros config set rancher.docker.tls false`
should I do something else?
thanks anyway

[2017-11-25 15:50] #2157 closed

[2017-11-27 11:30] TunedMidja commented on #1992
I'm also having this issue and had to downgrade to 1.0.3 as a workaround but would really like to go up to 1.1.0.

[2017-11-27 11:32] TunedMidja commented on #2153
I'm also having this issue. Any news?

[2017-11-27 14:37] kamerk22 opened #2159 "Can't SSH on Google Compute Engine"
**RancherOS Version: (v1.1.0)**

**Where are you running RancherOS? (GEC)**

After following [`Rancher Install`](http://rancher.com/docs/os/v1.1/en/running-rancheros/cloud/gce/ ).
My VM booted successfully but I can't SSH to my VM.

When I connect to VM it's asking for password for SSH.

![screenshot-2017-11-27 compute engine - zroomp-development](https://user-images.githubusercontent.com/11503211

[2017-11-28 11:23] TunedMidja commented on #1992
As @gizmotronic suggested, updating the kernel is also an option. I've successfully built v1.1.0 after having patched the build machine as follows:
sudo apt-get install --install-recommends linux-image-4.10.0-40-generic

[2017-11-29 11:32] mikemoate commented on #2156
@ibuildthecloud we'd love some re-assurance that someone is still allocated to RancherOS from a security perspective, tracking and evaluating new CVE's and whether updates/a new release are needed?

[2017-11-29 15:01] will-chan commented on #2156
@mikemoate we still actively looking for CVE and security issues and will patch accordingly as they come.  We will also ship small releases for our paying customers.  What Darren is talking about is that until Rancher 2.0 shipped, we won't be actively adding new features into OS.  We have done some initial discussions on even RancherOS 2.0, but again, won't be able to act on it until 2018.

[2017-11-29 16:59] EugenMayer commented on #2116
I have the same issue, but the rancher has 24GB ram, same issue:

![image](https://user-images.githubusercontent.com/136934/33388016-07a65960-d52f-11e7-834d-31d597cf51a0.png)

Pretty much blocked by this, server does not boot anymore.

[2017-11-29 19:24] EugenMayer commented on #2116
@SvenDowideit if that is out of any interest ( i am not sure i should create a seperate issue for that ) but my kernel panic was caused by a full disk. What i was doing is

1. noticing disk is full
2. resizing the disk in the HV ( i had auto-resize configured in rancher )
3. rebooting rancher -> kernel panic

Fiddling around and not being able to use the new recovery console ( login data? ) i did

[2017-12-01 14:33] zhouqianli opened #2160 "AMI not enable Elastic Network Adapter"
**RancherOS Version: (ros os version)**
v1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS EC2

**Repro**
Using `aws ec2 run-instances --image-id ami-9515feed  --instance-type c5.large` to start new machines.  Got error:

[2017-12-01 17:35] junkiebev commented on #2155
Does a URL work? I have always just run wget to get it first.

[2017-12-01 17:51] naisanza commented on #2155
@junkiebev the URL works

[2017-12-01 20:47] golvteppe commented on #1483
@matt-benett Sry for late response, but I just got one VM up and running with rancheros v1.1.0 tonight without any modifications in the iso. I upgraded to Rancher v1.6.12, and provisioned one VM through the rancher cli.

Rancher v1.6.12 has the v0.12.2 machine-package now for vsphere driver, but I am not sure when it was added. I checked v1.6.10 (stable) a while back but I dont think that version

[2017-12-04 12:36] superseb opened #2161 "Logrotate not able to read /etc/logrotate.conf"
**RancherOS Version: (ros os version)**
1.1.0

[code]

[2017-12-04 15:42] mikemoate opened #2162 "CVE-2017-1000405"
See https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-1000405 and https://medium.com/bindecy/huge-dirty-cow-cve-2017-1000405-110eca132de0 for details.

When will we have a RancherOS release that patches this?

[2017-12-04 21:20] drpebcak commented on #2160
This happens when trying to launch an instance in the `m5`family as well.

[2017-12-05 01:21] #2045 closed

[2017-12-05 15:35] SimonR commented on #2160
I would like to use the new c5 and m5 types to support a number of managed services. Is there a timescale for the upgrade works?

[2017-12-05 22:48] aemneina opened #2163 "upgrade error, results in failed upgrade"
Upgrading ROS results in panic

hostname_here:~$ sudo ros os upgrade -f -i rancher/os:v1.1.0
Upgrading to rancher/os:v1.1.0
Pulling os-upgrade (rancher/os:v1.1.0)...
v1.1.0: Pulling from rancher/os
88286f41530e: Extracting 1.99 MB/1.99 MB
7a7b4049d35a: Download complete
6d0f27679d20: Download complete
7c7c05c276b7: Download complete
975d860f1c0a: Download complete
42b26e4cc3f1: Download complete
8

[2017-12-05 22:52] aemneina opened #2164 "rebooting ros from a priviledged container results in host lock up"
**RancherOS Version: (ros os version)**
ROS 1.1

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VM

container config launched using system-docker:

[code]

attempt to reboot using that container causes kernel panic.

[2017-12-05 23:56] jambajaar opened #2165 "Ensure ROS containers are fully initialized in startup ordering"
We think we have a race condition with our services, where the network stack is not fully initialized by the time our service tries to use it. We set `io.rancher.os.after: console` to make it start last, but 50% of the time, it fails because networking doesn't seem to be ready.

We'd like a way for service containers to flag a "ready" state (not just docker started) and allow other containers to d

[2017-12-06 00:34] mikemoate commented on #2162
@will-chan @ibuildthecloud given the conversation on https://github.com/rancher/os/issues/2156 is anyone from Rancher looking at this CVE and how it impacts Rancher OS?

[2017-12-06 05:43] niusmallnan opened #2166 "Should fix golint check error"
[code]

[2017-12-06 08:17] niusmallnan commented on #2162
Regarding CVE-2017-1000405:
The patch has been backported to kernel v4.9.x(LTS), we can use the latest version v4.9.67.
http://www.openwall.com/lists/oss-security/2017/11/30/1

Commit: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/commit/?h=linux-4.9.y&id=7031ae2ab37d3df53c4a4e9903329a5d38c745ec

We can build a release with kernel v4.9.67.

[2017-12-07 05:29] niusmallnan opened #2168 "No need to enable xenhvm-vm-tools/kvm-vm-tools/hyperv-vm-tools/bhyve-vm-tools service"
RancherOS added detetion of Hypervisor, and then will try to download the a service called <hypervisor>-vm-tools.
When using kvm hypervisor, it will enable `kvm-vm-tools`, but in fact `kvm-vm-tools` does not exist

[2017-12-07 13:44] superseb commented on #2129
@jsundqvist Can you check the logging and see if it's the same as in https://github.com/rancher/os/issues/2071 ?

[2017-12-07 13:46] superseb opened #2170 "rc3 is used in tags in os-services repo for v1.1.0"
**RancherOS Version: (ros os version)**
v1.1.0

This commit (https://github.com/rancher/os-services/commit/1be6978142175ae0e7404b3dcdc6ba42f2af87dc) introduces rc3 tags for all console images and zfs image, but was never updated to v1.1.0.

[2017-12-07 19:49] nponeccop commented on #1888
Note that even with 1GB it doesn't kernel panic anymore, but displays another error.

It boots to shell prompt with 1280 MB of ram and displays an error with 1024.

Also, it attempts to start hyperv-vm-tools but fails with error 404. Can I load it manually?

Finally, hyperv_fb module by default makes console resolution high enough to be unusable with 1366x768 screen resolution because of constant

[2017-12-07 19:58] olljanat commented on #1888
You can make kernel parameters as permanent by using --append parameter on install command like this:
[code]
Look: https://rancher.com/docs/os/v1.0/en/configuration/adding-kernel-parameters/

But probably it is better idea to use SSH than console.

What comes to that 404 on start of hyperv-vm-tools I did not see that after install to disk but I'm also not sure how to check if it has started correc

[2017-12-07 20:17] nponeccop commented on #1888
It is probably my particular setup - the DNS given by DHCP was invalid. So it's rather an ask for help on how to retry a failed service than a new bug report.

It's rather impossible to work and fix things in console. And SSH is up only late in the boot process, and you need to know the IP. So a console is indispensable in this case. And I get really mad with having to scroll after every command o

[2017-12-07 22:33] Darkknight33 commented on #2092
I want to add that this is currently causing an blocking issue with deploying RancherOS on ESXi hosts. The tools don't install properly, and has at least once out of 5 attempts caused the VM to become unresponsive (docker daemon crashed) and auto-deleted by Rancher for failing to provision correctly. Interrupting it with CTRL-C right when it gets stuck will get you back to the CLI. I tried running

[2017-12-08 01:24] #2166 closed

[2017-12-08 02:06] niusmallnan commented on #2170
For these images, there is no difference between v1.1.0 and v1.1.0-rc3.
But to comply with the norms before, I will update it.

[2017-12-08 02:11] niusmallnan commented on #2170
Fixed by https://github.com/rancher/os-services/commit/86f3e094005c51ffa7bca6c3ab111ad3a4da29c1

[2017-12-08 08:20] MWallenberg commented on #2153
I am facing the same issue with rancher-compose after updating to High Sierra. Right now, I'm not able to use Rancher at all :(

[2017-12-08 08:49] superseb commented on #2170
Great, thanks

[2017-12-08 08:49] #2170 closed

[2017-12-08 14:18] develar commented on #2152
@niusmallnan Will be cool if upcoming 1.1.1 release will include docker 17.09.1-ce by default.

[2017-12-09 03:32] niusmallnan commented on #2142
Anyone with this problem can try this:
[code]
In fact, `volume-netshare` contains three services `volume-cifs` `volume-efs` `volume-nfs`.

[2017-12-09 14:24] tosbaha opened #2171 "VMware Fusion problem"
**RancherOS Version: (ros os version)**
 v1.1.1-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Docker Machine with VMware Fusion driver
VmWare version 8.5.9
macOS 10.13.1

[code]
It hangs with following output on VM
![screen shot 2017-12-09 at 5 19 14 pm](https://user-images.githubusercontent.com/971530/33796444-7502cd08-dd05-11e7-91b8-dfa677248c4c.png)

On th

[2017-12-09 14:41] klud1 commented on #1075
I'm only able to create instances with `overlay` on GCP.

[code]

[2017-12-09 15:00] klud1 commented on #1039
`write_files` is a clean solution, but I can't pass the `cloud-config` file when creating instances with `docker-machine` on GCP.

[2017-12-09 16:52] JasonGiedymin commented on #1039
This might be a limitation of the docker-Machine driver as well as google only allowing cloud-init with cos based images (google cloud containerized OS).

I recommend setting up a local vpc box that can serve these files. You could get these files remotely from the server being set up. Albeit not automated.

Otherwise you could create a custom image with knowledge of said bootstrap server.

-Jason

[2017-12-10 05:26] SvenDowideit opened #2172 "add other fixes to v1.1.1 changelog"
see https://github.com/rancher/os/compare/v1.1.0...v1.1.1-rc1

[2017-12-10 12:42] Andy2244 commented on #1888
I also hit this problem on hyper-v, with the latest `v1.1.1-rc1` iso, rancheros wont boot in Gen2 and Gen1 still throws a kernel panic if you use memory lower than 1100 MB, so 1024 MB will still get you a kernel panic.

PS: Should the rc1 not also have docker 17.09.0-ce/17.09.1-ce in the engine list, since it was build after those versions made it to stable?

[2017-12-11 01:46] niusmallnan commented on #2172
@SvenDowideit thanks!

[2017-12-11 01:51] niusmallnan commented on #2171
@tosbaha Yes, this is not a good experience, consider improving in later versions.
You can disable this action: http://rancher.com/docs/os/v1.1/en/configuration/adding-kernel-parameters/#enabledisable-hypervisor-service-auto-enable

[2017-12-11 05:27] aemneina opened #2173 "upgrading ros throws errors of missing layers, fails upgrade :("
**RancherOS Version: (ros os version)**
ROS 1.0.4 to 1.1.0 upgrade

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
vmware vm's

[code]

[2017-12-11 05:33] aemneina commented on #2173
dupe of https://github.com/rancher/os/issues/2163

[2017-12-11 05:33] #2173 closed

[2017-12-11 09:09] niusmallnan commented on #2161
@superseb
Do you have a detailed way to reproduce it?
I boot a ROS(v1.1.0) by docker-machine, try this issue, but cannot see these errors.

[2017-12-11 09:26] superseb commented on #2161
The `system-cron` kicks it off hourly, to trigger it, execute `system-docker restart logrotate`

[2017-12-11 23:22] daiyam opened #2174 "logrotate"
**RancherOS Version: (ros os version)**
v1.1.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine & vultr

Hello,

I would like to activate logrotate and I was wondering how...

Can I add the following config to `ros config`?

[code]
(from `https://github.com/rancher/os/blob/master/os-config.tpl.yml`)

Thx
Daiyam

[2017-12-12 01:11] niusmallnan commented on #2174
Hi @daiyam ,
Maybe this link will be helpful: https://rancher.com/docs/os/v1.1/en/system-services/custom-system-services/#service-log-rotation

[2017-12-12 07:06] niusmallnan commented on #2162
Fixed by https://github.com/rancher/os/releases/tag/v1.1.1

[2017-12-12 07:06] #2162 closed

[2017-12-12 07:06] #2172 closed

[2017-12-12 07:12] niusmallnan commented on #2156
RancherOS v1.1.1 has been released.
Close this issue.😄

[2017-12-12 07:12] #2156 closed

[2017-12-12 07:46] #1808 closed

[2017-12-12 09:35] niusmallnan commented on #2161
@superseb
It should be fixed in v1.1.1.
When you have a chance, can you confirm again in v1.1.1?

The root cause:
Run with `os-logrotate:v1.1.0`
[code]

Run with `os-logrotate:v1.1.1`
[code]
The  image `os-logrotate:v1.1.0` has the wrong file mode.

[2017-12-12 11:41] superseb commented on #2161
* `docker-machine create -d virtualbox --virtualbox-boot2docker-url https://releases.rancher.com/os/v1.1.1/rancheros.iso rancheros`
* `system-docker restart logrotate`

[code]

LGTM

[2017-12-12 15:49] #2161 closed

[2017-12-12 16:02] niusmallnan commented on #2076
Same with https://github.com/rancher/os/issues/2168

[2017-12-13 02:52] #2076 closed

[2017-12-14 23:12] jollytoad opened #2176 "ACPI powerbtn doesn't work"
**RancherOS Version: (ros os version)**
1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal (development machine)

Running RancherOS on a development machine under my desk, I'd like to be able to power it off via the power button, and i see the power acpi event is actually handled but it doesn't seem to work.

When I press the power btn I'm seeing this

[2017-12-15 05:38] jambajaar opened #2177 "Enhance ROS to create multiple user-docker daemons"
We wish to fully launch Rancher and it's agents from Rancher stacks for ease of testing Rancher itself.

E.g.
* Given Rancher Instance "A" with an Environment "A" with 3 hosts,
* Creating a stack on Environment A with rancher/server and the rancher/agent,
* 1 host in Environment "A" runs the Rancher instance "B", with Environment "B"
* 2 hosts in Environment "A" run rancher/agents that connect to

[2017-12-15 05:40] jambajaar opened #2178 "Config ROS image prefix for install and all rancher/os services"
We use artifactory for docker.io caching.

A normal `docker pull rancher/os` can be cached as `docker pull dockerhub.mycompanyname.com/docker.io/rancher/os`

However, we have no way to inject a prefix into Rancher os for installation or service pulls.

We'd like a global prefix we can add to force ROS to always use our mirror.

[2017-12-15 05:41] jambajaar opened #2179 "Rancher/RancherOS services should support docker-compose v3 format"

[2017-12-15 06:24] niusmallnan commented on #2178
@jambajaar
Have you tried to custom your upgrade-sources: http://rancher.com/docs/os/v1.1/en/upgrading/#custom-upgrade-sources

[2017-12-15 06:36] niusmallnan commented on #2179
@jambajaar
Now we use [docker-lib-compose](https://github.com/docker/libcompose) for `ros service` .
`docker-lib-compose` can only support v2.

We know that `docker-compose` can support v3, however, running `docker-compose` requires installing additional packages on RancherOS. This is not a very good way either. We do not want RancherOS images to be complicated.

But you can switch to `ubuntu-cons

[2017-12-15 06:42] niusmallnan commented on #2177
@jambajaar
Under the scenario you are talking about, Env A and B will use the system iptable on the same host, which may bring a lot of problems.

[2017-12-15 13:43] segfly commented on #2179
@niusmallnan Just for clarification, what do you mean by:

I'm not sure I see the connection between the ubuntu console and the ros services specified in cloud-config.

Thanks.

[2017-12-15 20:40] allingeek commented on #2049
Can we get this in 1.2?

[2017-12-16 19:35] daiyam commented on #2174
Hi @niusmallnan,

From what I understand, that documentation is to include `logrotate` into an user container.

I'm trying to have `logrotate` working on the logs of rancheros's system container.

[2017-12-16 21:33] daiyam commented on #2174
I've tried `sudo ros config merge -i my_config.yml` with `my_config.yml` as
[code]
or with `image: rancher/os-logrotate:v1.1.0`

I've also tried `sudo ros s enable https://gist.githubusercontent.com/daiyam/6e036becb9b60abb29a00e5a46c20770/raw/40a80e0dd748b243046f72c99466910aca416dec/logrotate.yml`.

None of my tests have worked :(

[2017-12-17 04:21] KyleSanderson opened #2181 "rancher.password doesn't work at all."
**RancherOS Version: (ros os version)**
v1.1.1

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal OVH

Steps to reproduce:
* Have Rancher not startup properly due to a network issue...
* Boot into recovery and have no avenue to change the password from a chroot.
* Set rancher.password in cloud-config.yml
  - ros config set rancher.password motherfucker
* Re

[2017-12-17 17:25] vincent99 commented on #2181
`rancher.password` is a kernel parameter, not part of the cloud-config.

[2017-12-17 20:17] hdep opened #2182 "rancheros should support azerty keymap"
**RancherOS Version: (ros os version)**
V1.1.1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
On vmware esxi 6.0

when you boot rancheros the only keymap available is qwerty. This cause big trouble when you have an azerty keyboard especially for initial configuration.

Some report has been made on the forum.
https://forums.rancher.com/t/change-keyboard-layout-to-g

[2017-12-18 01:27] niusmallnan commented on #2174
RancherOS provides a built in logrotate container that makes use of logrotate(8) to rotate your logs.
It is defaulted to be activated.
It is called on an hourly basis by the system-cron container.

[2017-12-18 02:31] niusmallnan commented on #2047
After enable debug by `sudo ros config set rancher.debug true`.
We can see dhcp renew logs in `/var/log/dhcpcd.debug.log`, somethine like:
[code]

[2017-12-18 03:56] niusmallnan commented on #2047
@janeczku Do you have any detailed steps to reproduce it? It is better to file another issue.
This issue, Let's focus on the `dhcpcd` log output.

[2017-12-18 10:23] niusmallnan commented on #2027
Have Built a new image with mtu setting:
[code]
Boot a new VM on GCE, For eth0, docker0, system-docker0, the MTU displays for these devices are incorrect.
[code]

For eth0, Its MTU is determined by DHCP, check the `ip route`:
[code]
It does not seem to have any effect, MTU is actually correct.

For docker0, after running a container, docker0 mtu will be normal:
[code]

[2017-12-18 10:40] daiyam commented on #2174
It's what I was expecting but it doesn't seem to be activated on the 3 servers (2 on vultr, 1 on private host) that I'm managing.

[code]

[code]

On one, I've activated the `crontab` service but the logs aren't rotating.

Thx

[2017-12-19 01:16] niusmallnan commented on #2174
@daiyam
Oh...What's wrong with the log(`system-docker logs logrotate`)?

[2017-12-19 06:55] niusmallnan opened #2183 "MTU is not displayed correctly"
**RancherOS Version:  v1.1.1**

**Where are you running RancherOS?  GCE/AWS**

Boot a new VM on GCE, and check the interfaces info:
[code]

For eth0, Its MTU is determined by DHCP(should be 1460), check the `ip route`:
[code]

MTU is not displayed correctly.

link https://github.com/rancher/os/issues/2027

[2017-12-19 09:36] daiyam commented on #2174
Oh! I did look at `system-docker ps` but haven't seen it. And it's not there. It's hidden?

Ok, I did `system-docker logs logrotate` and I got:
[code]
but `/etc/logrotate.conf` permissions seem correct:
[code]

So it the same issue as #2161 ...

`ros os upgrade` doesn't work on `vultr` maybe because it's a vultr's custom build. I will have to test more or contact vultr :(
`ros os upgrade` on the b

[2017-12-19 11:25] daiyam commented on #2174
For `vultr`, I was able to upgrade by changing the PXE config.

[2017-12-20 00:22] daiyam commented on #2174
The logs are rotating correctly :)
Thx

[2017-12-20 01:03] niusmallnan commented on #2174
Cool! Close this issue.

[2017-12-20 01:03] #2174 closed

[2017-12-20 03:03] niusmallnan commented on #2181
@KyleSanderson
Have you tried to add  `rancher.password` to the kernel parameters.
http://rancher.com/docs/os/v1.1/en/configuration/adding-kernel-parameters/

[2017-12-20 04:01] niusmallnan commented on #2164
Add more details:

#### Add `alpine-test.yml` to `/var/lib/rancher/conf`:
[code]

#### Enable this system service:
[code]

#### Check this service
[code]

### Try to reboot in `alpine-test`:
[code]

[2017-12-20 05:19] MayankTahil commented on #1202
@pwFoo care to share your rancherOS cloud init file? I'm looking into MacVlan with Rancher OS as well.

[2017-12-20 07:52] niusmallnan commented on #2163
Try to reproduce on v1.1.2-rc2:
[code]

No problems found and successfully upgraded:
[code]

[2017-12-20 09:59] caryyu commented on #2146
weird , nooooo answers

[2017-12-21 01:46] kingsd041 commented on #1863
Tested with RancherOS version- v1.1.2-rc2
When eth0 is static, I can get the correct broadcast address.
[code]

[code]

[2017-12-21 01:46] #1863 closed

[2017-12-21 02:10] kingsd041 commented on #2176
Tested with RancherOS version- v1.1.2-rc2
RancherOS shutdown successfully, no error message.

[2017-12-21 02:10] #2176 closed

[2017-12-21 02:35] kingsd041 commented on #2152
RancherOS v1.1.2-rc2 already includes docker-17.06.2-ce and docker-17.09.1-ce. I've switched to docker-17.09.1-ce and simply tested it.

[code]

[2017-12-21 02:35] #2152 closed

[2017-12-21 02:41] kingsd041 commented on #2142
Tested with RancherOS version- v1.1.2-rc2
`volume-cifs` `volume-efs` `volume-nfs` can be enabled.
[code]

[2017-12-21 02:41] #2142 closed

[2017-12-21 03:29] caryyu commented on #2153
the same , no answers at all.

[2017-12-21 03:34] kingsd041 commented on #2047
To enable debug in RancherOS-v1.1.2-rc2, we can see DHCP renew logs. Let's close this issue.

[2017-12-21 03:34] #2047 closed

[2017-12-21 07:54] kingsd041 commented on #2027
Tested with RancherOS version- v1.1.2-rc2.
Using the `ip route` command, I see that the MTU is 1460.
Install Rancher server latest version with the next command:
[code]
Access from browser to http://x.x.x.x:8080/, I can get Rancher Server home page.

[2017-12-21 07:54] #2027 closed

[2017-12-21 08:19] kingsd041 commented on #2168
Tested with RancherOS version- v1.1.2-rc2.
1. Xenhvm-vm-tools / kvm-vm-tools / hyperv-vm-tools / bhyve-vm-tools service has been removed from RancherOS
2. Only enable open-vm-tools serivce for vmware.

[2017-12-21 08:19] #2168 closed

[2017-12-21 09:10] dmnc-net commented on #2076
@niusmallnan thanks for solving the isuue.

side note: marking the older (#2076) issue as a "same with" (aka "duplicate of") the your younger (#2168) issue is very funny. :)

[2017-12-21 10:11] niusmallnan commented on #2159
@kamerk22
Can refer to here:
http://rancher.com/docs/os/v1.1/en/running-rancheros/cloud/gce/

[2017-12-22 01:08] niusmallnan commented on #2159
@kamerk22
You should use the `rancher` user, like `ssh rancher@xx.xx.xx.xx`.
I have not tried to SSH from In Browser Windows.

[2017-12-22 01:11] niusmallnan commented on #2155
Close it.
If you still have this problem, please reopen it and let me know.

[2017-12-22 01:17] niusmallnan commented on #2149
@murbanowicz
The NICs can get ip address?
other suggestion:
1. The `rancher.passwork` is a kernel parameter, It makes no sense to use it in cloud-config.
2. Try `ros config validate -i`.

Close it.
If you still have this problem, please reopen it and let me know.

[2017-12-22 01:17] #2149 closed

[2017-12-22 01:19] niusmallnan commented on #2126
Close it.
If you still have this problem, please reopen it and let me know.

[2017-12-22 01:19] #2126 closed

[2017-12-22 01:27] niusmallnan commented on #2128
@FXRer
You can build rpi64 image, try this on the ARM platform:
[code]

Close it.
If you still have this problem, please reopen it and let me know.

[2017-12-22 01:27] #2128 closed

[2017-12-22 01:35] niusmallnan commented on #2131
Yeah, `rancher.password` is a kernel parameter, It will always be effective.
Recommend you to use ssh key.

Close it.
If you still have doubts, please reopen it and let me know.

[2017-12-22 01:55] niusmallnan commented on #2139
@prologic
I upgrade to v1.1.0: `sudo ros os upgrade -f -i rancher/os:v1.1.0`
Then check the engine list:
[code]
I can see the `current` state.

We mainly maintain docker stable engine version.
[code]

Close it.
If you still have doubts, please reopen it and let me know.

[2017-12-22 01:55] #2139 closed

[2017-12-22 02:05] niusmallnan commented on #2071
Close it.
If you still have any problem, please reopen it and let me know.

[2017-12-22 02:05] #2071 closed

[2017-12-22 02:10] niusmallnan commented on #1998
any update？

Close it.
If you still have this problem, please reopen it and let me know.

[2017-12-22 02:10] #1998 closed

[2017-12-22 02:58] niusmallnan commented on #2181
Close it.
If you still have doubts, please reopen it and let me know.

[2017-12-22 02:58] #2181 closed

[2017-12-22 03:32] niusmallnan commented on #2146
I made some attempts, as follows:

[code]

Now you can use LVM, I created one pv and one vg.
[code]

[2017-12-22 03:41] niusmallnan commented on #2118
Duplicate of #2171
Close this one.

[2017-12-22 03:44] naisanza commented on #2155
@niusmallnan this was never fixed

The URL doesn't work with `ros`

[2017-12-22 03:46] niusmallnan commented on #2044
So can I close this issue?

[2017-12-22 03:51] niusmallnan commented on #2032
@garceri
The system-docker and user-docker versions are different.

Close this issue.
If you still have doubts, please reopen it and let me know.

[2017-12-22 03:51] #2032 closed

[2017-12-22 03:52] zimme commented on #2044
There is still a bug here, where an upgrade on a gptsyslinux install writes a dos mbr over the gpt one but that is not related to my original problem so i guess that could go in it's own issue.

[2017-12-22 04:10] niusmallnan commented on #2155
@naisanza
Ok, reopen it.
Will support URL when using `ros install -c https://link/to/cloud-config.ym`.

[2017-12-22 04:16] niusmallnan commented on #2044
ok, keep this open, will try to fix it.

[2017-12-22 05:31] niusmallnan commented on #1939
To switch to ubuntu console is a good way.

Can we close this issue, or what I need to do?

[2017-12-22 05:32] kingsd041 commented on #2160
At eu-west-1, I can start a new machine.
`aws ec2 run-instances --image-id ami-1567e46c --count 1 --instance-type m5.large`
Login instance, we can use the command to check that ena has been enabled
[code]
[code]

@deniseschannon  Can I close this issue now? Because only am-west-1 and eu-west-1 have this AMI

[2017-12-22 05:51] niusmallnan commented on #1754
Now we use ubuntu:17.04 image to build the ubuntu console on v1.1.2-rc2.
Confirm that it does not really contain `rc.local`.
[code]

@craig-mld  Do not know why ubuntu to get rid of it, you really need `rc.local` ?

[2017-12-22 06:02] #1539 closed

[2017-12-22 06:54] niusmallnan commented on #1936
OpenSSH 7.0 and greater similarly disable the ssh-dss (DSA) public key algorithm. It too is weak and we recommend against its use.
check here:
1. https://security.stackexchange.com/questions/5096/rsa-vs-dsa-for-ssh-authentication-keys
2. http://www.openssh.com/legacy.html

I will update the doc.

[2017-12-22 08:58] craig-mld commented on #1754
I found out that the reason the rc.local is absent is because Ubuntu moved to systemd in 15.  Therefore as the Rancher consol has moved on to the new Ubuntu version, the rc.local has disappeared.
Fortunately the improved cloudinit support in v1.6 of Rancher has allowed us to do what we were doing in rc.local using cloudinit, so this is no longer an issue for us.

[2017-12-22 08:58] #1754 closed

[2017-12-22 09:57] rockandska commented on #2118
It is not a duplicate of the issue you mention and you can see than the problem is not the same at all...
In the issue you mention, the service config was downloaded.
This is not the case in this issue due to the fact than there is no WAN and the service config can't be downloaded from github, that's why the boot hang.

[2017-12-22 10:22] kingsd041 opened #2186 "AWS/GCE/Aliyun instance does not support automatically extend the first partition."
**RancherOS Version: (ros os version)**
ros version v1.1.2-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS/GCE/Aliyun

I use AWS/GCE/Aliyun to create an instance, the instance does not support automatically extend the first partition.

**Aliyun：**
1. Upload Rancheros v1.1.2-rc2 to Aliyun and set the disk size to 51G.
2. Create an instance, set the disk less

[2017-12-22 10:26] kristoferlundgren commented on #2131
This is about the persistence of kernel parameters, not the effect of them. An upgrade effectively overwrites a reconfigured installation, not with defaults, but with parameters passed when originally installing to disk.

More details:
Parameters passed to the kernel is stored in host file /boot/global.cfg.
The parameter provided to the installation script is thus written to that file.
/boot/globa

[2017-12-22 10:28] Ankh- opened #2187 "No such service: hyperv-vm-tools"
**RancherOS Version: (ros os version)**
v1.1.1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Hyper-V on Windows Server 2016 Std

I don't know if it is needed but my cloud-config.yml included:

Sadly the service is not installed?

[2017-12-22 10:30] #2160 closed

[2017-12-22 10:44] niusmallnan commented on #2118
@rockandska
If it doesn't try to enable `open-vm-tools` service, there is no problem here.
Only running on vmware will enable it.

I consider one way to solve these two issues, but respect your thoughts, reopen this issue.

[2017-12-22 10:47] niusmallnan commented on #2187
@Ankh-
This has been fixed by  v1.1.2-rc2.
see: https://github.com/rancher/os/issues/2168

Next release v1.1.2 will not have this problem.

[2017-12-22 12:07] Ankh- commented on #2187
Ah! Search revealed nothing.

[2017-12-22 12:07] #2187 closed

[2017-12-22 13:34] rockandska commented on #2118
I only let this issue opened because i didn't tried yet to change the open-vm-tools service config file url via service options to see if i can download it from a private repository only accessible from the LAN instead of github

[2017-12-22 14:12] kingsd041 commented on #2111
I can import the image on Aliyun and use it to start the instance. Checked the cpu, memory, disk, hostname and other information, and some manual tests on the ros command.
I think rancheros v1.1.2-rc2 works fine on Aliyun.

I found an issue about disk resize.
link：https://github.com/rancher/os/issues/2186

[2017-12-22 14:12] #2111 closed

[2017-12-22 23:19] zeppelinux opened #2188 "RancherOS not persisting user volume"
**RancherOS Version: (ros os version)**
1.1.1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Baremetal

I reported the issue initially for rke:

https://github.com/rancher/rke/issues/178

But it seems like there is some issue with the RancherOS not persisting the user volumes i.e.

$sudo ros config export
[code]

$ ls -la /etc/kubernetes/
total 12
drwxr-xr-x    3

[2017-12-24 02:54] Vanuan commented on #552
So how do I install grub to `/dev/sda` and rancheros to `/dev/sda1` without rewriting partitions?

I've tried both `sudo ros install -t noformat /dev/sda1` and `sudo ros install -t noformat /dev/sda`
But it looks like bootloader is not installed.

I need this so that partition labeled with RANCHER_SWAP is used.

[2017-12-24 03:22] Vanuan commented on #552
It looks like I'd better create another vHDD rather than setup partitions.

[2017-12-24 03:45] Vanuan commented on #552
And setting label to RANCHER_SWAP doesn't seem to be working.

I need this:

[code]

[2017-12-25 03:27] mozinrat commented on #861
Tried the above machine with rancher as
docker-machine create --driver xhyve --xhyve-boot2docker-url ~/.docker/machine/cache/rancheros.iso rancher-os

But it gives error as
```Error creating machine: Error in driver during machine creation: couldn't find kernel option from ~/.docker/machine/machines/rancher-os/b2d-image/boot/isolinux/isolinux.cfg image```

[2017-12-25 09:55] niusmallnan commented on #2188
Tried to do some tests on AWS.

Boot a vm with v1.1.1, then upgrade with v1.1.1, cannot persist `/etc/kubernetes`
[code]

Boot a vm with v1.1.1, then upgrade with v1.1.2-rc2, can persist `/etc/kubernetes`
[code]

1. If we need a persistent directory to take effect, the os version of upgrade must be different from the current one. This may be a bug.
2. We should allow users to more easily define us

[2017-12-25 10:02] niusmallnan opened #2190 "Get fatal error when os upgrade"
**RancherOS Version: (ros os version)**
v1.1.2-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine & virtalbox

Execute `os upgrade` related command, get some errors:
[code]

[2017-12-26 10:03] niusmallnan commented on #2186
Note:
With C5 and M5 instances, EBS volumes are exposed as NVMe block devices. The device names are /dev/nvme0n1, /dev/nvme1n1, and so on. The device names that you specify in a block device mapping are renamed using NVMe device names (/dev/nvme[0-26]n1).

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/nvme-ebs-volumes.html

[2017-12-26 21:35] allingeek opened #2192 "Release Notification Channels (Webhooks)"
Today we're looking at automating reactions to RancherOS releases. Today, a human periodically looks at the README and visually parses the latest stable release AMI. While this has served us well in development, we'd like to take a more event-driven approach. In lieu of an active release notification event published by Rancher we're looking at periodically parsing the GitHub releases atom feed for

[2017-12-26 21:46] allingeek commented on #2164
There is a whole issue here in the way ros is aliased as init. It does not work the way you'd think coming from other systems and it is difficult to untangle. The workaround I've put in place in my own project is to `exec` the `reboot` command from the `console` container. So, in the context of your example:

    system-docker exec alpine-test system-docker exec console reboot

While this is a bit

[2017-12-26 22:48] zeppelinux commented on #2188
Here are the steps i did initially:
1. Instal 1.1.1 on bare metal
2. add the Ip to cluster.yml
3. run ./rke up & observe the host is aded to the cluster
4. reboot host & observe host is not in the cluster anymore (/etc/kubernetes is empty)

I added this between 3 & 4:
ros os upgrade -i rancher/os:v1.1.1 --append "rancher.services.user-volumes.volumes=[/home:/home,/opt:/opt,/var/lib/kubelet:/var/li

[2017-12-27 01:55] niusmallnan commented on #2188
@zeppelinux Thanks your feedback.
BTW,  you can use `ros console switch <other-console>`. All consoles except the default (busybox) console are persistent.

Here, you can use `ros engine switch <engine>` to  switch to the appropriate engine.

I'll try the steps you mentioned.
I hope that when using the default console, the custom persistent directory also takes effect.

[2017-12-27 02:09] niusmallnan commented on #2192
Great idea.
But I think that it might not be too urgent.

[2017-12-27 02:15] allingeek commented on #2192
The biggest feature gap between RancherOS and CoreOS is the automatic update mechanism. I prefer disposable infrastructure and so we need something to close that gap. If we cannot find some way of reasonably automating reactions to Rancher updates then the management pain might soon outweigh that of dealing with Systemd. I guess, this is me saying that release deployment automation is important. H

[2017-12-27 03:10] niusmallnan commented on #2192
@allingeek
We have just discussed it internally.
We will add it to milestone v1.1.3, please be patient.

[2017-12-27 05:36] #1962 closed

[2017-12-27 08:52] niusmallnan commented on #2186
@kingsd041
You can try v1.1.2-rc3, it should be fixed.

[2017-12-27 19:09] zeppelinux commented on #2188
@niusmallnan I was not able to use the rke with 'centos' console:
FATA[0001] Failed to set up SSH tunneling for Worker host [192.168.2.220]: Can't retrieve Docker Info: error during connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info: Failed to dial to Docker socket: ssh: rejected: administratively prohibited (open failed)

But It worked with 'ubuntu' and stayed in the cluster after reboot.

[2017-12-28 01:44] #1936 closed

[2017-12-28 01:50] niusmallnan commented on #2188
@zeppelinux
Regarding centos, I know something.
You can check these:
`https://github.com/rancher/rke/issues/93`
`https://github.com/rancher/rke/issues/136`

[2017-12-28 03:10] kingsd041 commented on #2186
Tested with RancherOS v1.1.2-rc3
Test passed.

[2017-12-28 03:10] #2186 closed

[2017-12-28 03:29] niusmallnan opened #2193 "Upgrade each console image"
Need to synchronize each console image:
- alpine
- ubuntu
- centos
- fedora
- debian

[2017-12-28 06:24] zeppelinux commented on #2188
@niusmallnan thanks for the info.

The bug links you provided look similar to what i'm experiencing with centos console, but I'm not using 'root' user. It's a RancherOS, so only 'rancher' user is available and I'm using it.

I'm having some weird problems with DNS resolution inside of the containers running on the RancherOS host with 'ubuntu' console out of the box. Nothing external is resolved, t

[2017-12-28 08:51] niusmallnan opened #2194 "Use overlay2 driver as default for user docker"
As we have a higher kernel version and docker version.
It is better to use the `overlay2` driver for user docker.

See: https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/

[2017-12-28 09:30] niusmallnan commented on #1939
We have `xz` command.
[code]

Close this issue, if you still have any questions, please let me know.

[2017-12-28 09:30] #1939 closed

[2017-12-28 12:59] pioto commented on #2126
I've also observed this.

[code]

I'm currently on v1.1.1... I'll attempt an upgrade to v1.1.2 and see if that helps...

[2017-12-28 13:02] pioto commented on #2126
Nope, I'm still observing this issue on v1.1.2...

[2017-12-28 15:48] hdep opened #2195 "docker ignore registry-mirror settings"
**RancherOS Version: (ros os version)**
v1.1.2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Vmware

I have a nexus OSS registry proxy (with auth) for docker hub working fine in command line i.e :
docker search docker-public.recette.local/debian

I want to use this proxy with rancheros so I use this cloud-config.yml :
[code]
and

[code]

After install docker isn'

[2017-12-29 01:35] niusmallnan commented on #2126
Oh, I know.
I see the logs include `rancher-nfs`,  I think it's a bug for Rancher, not RancherOS.
I can do nothing, our team is trying to fix it in Rancher.
You can watch https://github.com/rancher/rancher/issues/8433

[2017-12-29 01:51] niusmallnan commented on #2195
I think you should know what is the difference between `private-registry` and `registry-mirror `.

We did not ignore registry-mirror settings.

[2017-12-29 05:19] niusmallnan commented on #1817
1. Try to reproduce with v1.1.2. I can see images are loaded, but cannot see the done stamp file. So there may be a bug.
2. I will add more logs output for preloading images.
    Checking system-docker preload: `/var/log/boot/ros-sysinit.log`
    Checking user-docker preload: `system-docker logs preload-user-images`

[2017-12-29 09:02] hdep commented on #2195
For me the difference between private-rgistry and registry-mirror is clear, but maybe I'm wrong.

Just followed the documentation :  https://rancher.com/docs/os/v1.1/en/configuration/private-registries/

Seems that it is not clear enough.

[2017-12-29 09:04] niusmallnan commented on #2188
@zeppelinux
I think I seem to find the root cause. You can use the default console to custom your persistent directory.

Here are my steps:
[code]
Then you can persist `/etc/kubernetes` volume.

I have confirmed on AWS, you can check it on your bare metal.

[2017-12-29 18:17] zeppelinux commented on #2188
@niusmallnan  it works! I'm glad you nailed it. Cheers!

[2017-12-29 20:46] strowi opened #2199 "network not ready"
**RancherOS Version: v1.1.2**

**Where are you running RancherOS? baremetal**

Hi,

im running a pxe-environment of 5 baremetal servers. 3 boot and work flawless.
Only 2 seem to have some networking trouble on bootup and fail to download the cloud-config. But they are reachably by ssh, only i cannot login because no key/pass is present.

Maybe some timeout occuring?

[code]

[2018-01-02 01:37] niusmallnan commented on #2199
After DCHP is done, does the network have access to `http://10.10.0.10:8080/assets/rancher/rancher.yml`?

I see eth0 and eth1 will use DHCP, in your network whether the routing table is affected, I mean, affect the visit to `http://10.10.0.10:8080`.

[2018-01-02 04:55] adrianguenter opened #2200 "First boot deletes /boot directory after "ros install -t gptsyslinux""
**RancherOS Version: 1.1.2**

**Where are you running RancherOS? KVM**

After `ros install -t gptsyslinux` the first boot executes fine, but upon the next boot the Syslinux GPT legacy MBR will fail to load with a generic **`Boot error`**. After further investigation I noticed that the `/boot` directory had disappeared from the single ext4 root partition created by the install. This seems related t

[2018-01-02 09:49] strowi commented on #2199
After some more searching... it seems it's a issue on our site where the server has a connection and looses it for ~10-20sec. before it being stable..
sorry for the fuss..

[2018-01-02 20:34] #2195 closed

[2018-01-03 00:27] Fenikkusu commented on #1873
I've just come across this issue myself. I've installed docker-compose into the os and moved it to /opt/bin. I'm using a rancheros install as part of an auto-deploy. That needs to ssh into rancheros and run docker-compose. While I can obviously just put the full path in the ssh command, it's easier in general if I can just add /opt/bin to the paths.

[2018-01-03 02:59] niusmallnan commented on #2164
Our default console and alpine use `busybox`, this is why running `reboot` in an alpine image can trigger some actions.
But in fact we did not use the default `reboot` of `busybox`, we used `ros`:
[code]

If you want to run `reboot` in the alpine container, you can do this:
[code]
Then you should use `reboot -f` in the alpine container, if you do not use `-f` it will call system-docker to run `reb

[2018-01-03 14:54] janeczku opened #2204 "User-configured cloud-config datasource is not used"
**RancherOS Version: (ros os version)**
v1.1.2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Openstack, Virtualbox

### Steps to reproduce

1. Install RancherOS v1.1.2
2. Configure cloud-init datasource: `sudo ros config set rancher.cloud_init.datasources [ec2]"`
3. Reboot
4. Check cloud-init-save.log

### Expected

cloud-config is fetched from ec2 metadata sourc

[2018-01-03 14:56] janeczku commented on #2204
/cc @r0b2g1t

[2018-01-03 17:58] ryansch commented on #2153
Workaround here: https://github.com/rancher/dapper/issues/47

[2018-01-04 04:12] niusmallnan opened #2206 "Kernel Side-Channel Attacks - CVE-2017-5754 CVE-2017-5753 CVE-2017-5715"
https://googleprojectzero.blogspot.hk/2018/01/reading-privileged-memory-with-side.html

So far, there are three known variants of the issue:

- Variant 1: bounds check bypass (CVE-2017-5753)
- Variant 2: branch target injection (CVE-2017-5715)
- Variant 3: rogue data cache load (CVE-2017-5754)

[2018-01-04 06:56] niusmallnan commented on #2153
It is a bug for the golang compiler. https://github.com/golang/go/issues/22059
We will release a new dapper.

[2018-01-04 08:38] mikemoate commented on #2206
Initial patch went into Kernel version 4.15-rc6 ready for the 4.15 release. Also seems to have been backported to 4.14.11-rc1. https://lwn.net/Articles/742404/

[2018-01-04 10:05] albertdb commented on #2206
Please, remember to backport to 1.0 LTS.

[2018-01-04 16:32] ryansch commented on #2206
@niusmallnan Any way we could get this before or in place of 1.1.3?  I'd like a straight security patch release.

[2018-01-04 20:54] janeczku commented on #2206
Looks like the mitigation for Meltdown (CVE-2017-5754) will land in 4.9.75 upstream: https://www.spinics.net/lists/kernel/msg2688700.html

[2018-01-05 13:32] kingsd041 opened #2210 "Use docker-machine to start rancheros, can not login after switching to alpine console."
**RancherOS Version: (ros os version)**
v1.1.3-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine
**Steps to Reproduce:**
1. I use the docker-machine to start rancheros and switch the alpine console
[code]
2. Login to rancheros using `docker-machine ssh ros-1`
**Results:**
Login failed, return "exit status 255"
[code]
I can see the error in syslog:

[2018-01-05 13:43] niusmallnan commented on #2206
We ship v1.1.3-rc1 to address CVE-2017-5754.

If you need to upgrade, this command may be helpful
[code]

[2018-01-05 13:58] kingsd041 opened #2211 "Docker startup fails when enable TLS"
**RancherOS Version: (ros os version)**
v1.1.3-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine
**Steps to Reproduce:**
1. I use the docker-machine to start rancheros.
2. I try to enable tls for docker and generate server certificate.
[code]
**Results:**
At this point, docker failed to start. But on AWS, docker can be started
I found the following

[2018-01-05 17:49] ryansch commented on #2091
I've confirmed this is fixed on 1.1.2.

[2018-01-05 17:49] #2091 closed

[2018-01-05 21:42] aemneina commented on #2206
@ryansch The intent is to have this go out with ROS 1.1.3.

[2018-01-05 22:51] ryansch commented on #2206
@aemneina Understood.  Keep in mind that it increases the amount of new stuff I/we have to review alongside the security update before we can adopt the new version in production.

[2018-01-06 03:04] aemneina commented on #2206
1.1.3 will only contain the kernel update. Sorry, I didn't make that clear. Shipping all the changes in the originally scoped 1.1.3 + cve fix would have slowed down the release of this important fix.

[2018-01-06 04:57] ryansch commented on #2206
Fantastic!

[2018-01-08 01:45] #1388 closed

[2018-01-08 01:45] #1392 closed

[2018-01-08 08:43] dduquesne opened #2212 "custom os-kernel build issue"
Hello,

I have an issue to build a custom kernel for RancherOS.
I am using the os-kernel-4.9.40-rancher version/tag :  https://github.com/rancher/os-kernel/tree/v4.9.40-rancher.
My compilation machine is a clean EC2 Ubuntu instance. I unzipped the project into this instance and I have added a file into the project patches folder.
This is the RT patch : https://www.kernel.org/pub/linux/kernel/proje

[2018-01-08 10:48] niusmallnan commented on #2212
It seems like your kernel version became `4.9.40-rt30-rancher`, not `4.9.40-rancher`.

I saw these logs:
[code]

Maybe there are some bugs for `os-kernel` repo.

[2018-01-08 15:53] albertdb commented on #2206
Please please please, backport to 1.0.x LTS

[2018-01-08 17:28] jdel opened #2214 "Upgrade v1.0.4 to v1.1.3 resets console to default"
**RancherOS Version: (ros os version)**
ROS v1.0.4 upgraded to v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
ROS is run on a VMWare infrastructure.

I upgraded my testing environment from ROS v1.0.4 to v1.1.3 and the console is reset to default.
The debian console, originally configured via cloud-config, is still enabled, but not active.
This generates tw

[2018-01-08 17:44] Vanuan commented on #1670
I've noticed this too.

I think the problem is that almost everything fit into physical memory and there's no need to ever swap anything. I.e. OS doesn't know which memory pages are important and which rarely used and can be swapped.

I've tried this command in a container:

[code]

And after that opened an application. It was slow at the first load as it's been swapped. But after that initial loa

[2018-01-08 17:49] Vanuan commented on #1670
So the problem seems to be that OS doesn't swap anything until memory is almost full. And when it's become full, application times out as it starting to swap memory. It looks like it's just the way linux works. We need to start more containers that it fits in the memory so that unimportant parts of application's memory are written to the disk and there's some "space" for application to "breathe".

[2018-01-08 22:48] dduquesne commented on #2212
I did not notice that.
That can explain the issue.
Does it is a side effect from the rt patch ?
I can't rise any bug on the os-kernel repo.
Is there anything wrong in my workflow ?
I understand each step individualy but not the full purpose of the whole think. I am expecting an iso file or a docker image reusable for a later OS build.
Many thanks for your feedback.

[2018-01-09 02:16] niusmallnan commented on #2214
Hi, @jdel
I have tried to upgrade v1.0.4 to v1.1.3 with Debian console enabled.
No problem happened.

Can you share your `/var/log/boot/ros-sysinit.log` logs?

[2018-01-09 02:36] niusmallnan commented on #2212
Yes, the patch makes the kernel version changed to `4.9.40-rt30-*`.

Basically correct.

If you find the root cause, you can make a PR to `os-kernel`.
Here you can rise any bug.

[2018-01-09 09:23] jdel commented on #2214
Thanks for pointing me to this particular log.... There is something weird there:

[code]

[2018-01-09 14:49] robbertkl opened #2215 "OS upgrades don't upgrade rancher/container-crontab"
**RancherOS Version: (ros os version)**
v1.1.3
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
QEMU VPS

I've updated a couple of times, but just noticed I now have a `system-cron` container running in system-docker, which has image `rancher/container-crontab:v0.1.0`. This seems to be a Rancher-related image, and not part of RancherOS? Anyway, I've noticed the imag

[2018-01-09 15:00] jdel commented on #2214
From the logs above, I don't see `8.8.4.4` anywhere in my configuration.
ROS is set to use my internal DNS, which is set to forward to my cloud provider's DNS.

So I upgraded another ROS VM, on my prod environment this time.

Start from ROS v1.0.4 running happily with debian console.

[code]

Stage the upgrade then upgrade:

[code]

After reboot, the console is back to default, but debian is still

[2018-01-09 18:00] jdel commented on #2214
Ok, so I have done  a few more tests.

As suggested in https://github.com/rancher/os/issues/1750#issuecomment-325522196, and using `sudo system-docker run --rm -it -v /:/host alpine vi /host/boot/global.cfg ` ([doc](http://rancher.com/docs/os/v1.0/en/configuration/adding-kernel-parameters/)) I added `rancher.network.dns.nameservers="['1.2.3.4','5.6.7.8']"` ([doc](http://rancher.com/docs/os/v1.0/en

[2018-01-09 18:37] dduquesne commented on #2212
I am really not familiar with the diff/patch syntax but maybe i found something line 24481.
Perhaps i could solve this issue by removing the bold line below. It seems that the the patch provide this additional suffix in a dedicated new file. I assume that it should use it somewhere else to rename the resulting files :

diff --git a/localversion-rt b/localversion-rt
new file mode 100644
index 00000

[2018-01-09 19:05] ryansch opened #2216 "wget is broken against AWS metadata"
**RancherOS Version: (ros os version)**
v1.1.3
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

The command in question is:
`wget -O - -q http://169.254.169.254/latest/meta-data/local-ipv4`

On v1.0.4 this returns the instance ip.
On v1.1.3 I get `wget: error getting response`.

Using `docker run -it --rm jess/httpie http://169.254.169.254/latest/meta-data/loca

[2018-01-09 19:53] allingeek commented on #2192
Hey,

Just realized that, at a minimum this could be addressed by including the release artifacts like AMIs, etc in [https://releases.rancher.com/os/releases.yml](https://releases.rancher.com/os/releases.yml).

[2018-01-09 23:41] ryansch commented on #2216
Workaround here: https://github.com/andrew-d/static-binaries/pull/19

[2018-01-10 01:32] niusmallnan commented on #2215
Thanks.
We will test to verify if we can use `container-crontab:v0.3.0` in RancherOS.

[2018-01-10 02:26] niusmallnan commented on #2214
I used `rancher.network.dns.nameservers=["1.2.3.4","5.6.7.8"]` in boot cmdline, It can work well.

We use `8.8.8.8` and `8.8.4.4` as the default nameservers, I guess you have modified this value in cloud-init config.
But when switching the console during startup, cloud-init is not loaded yet. At that time, the default nameservers are used, but kernel parameters(boot cmdline) can take effect.

[2018-01-10 03:51] niusmallnan commented on #1870
Here is a workaround:
[code]

After starting, review again:
[code]

[2018-01-10 08:34] niusmallnan commented on #1870
I want to support a kernel parameter to modify docker-sys subnet.

Tested with my own image:
[code]

[2018-01-10 08:34] niusmallnan commented on #1903
I want to support a kernel parameter to modify docker-sys subnet.

Tested with my own image:
[code]

[2018-01-10 09:07] niusmallnan commented on #2216
Sorry, I cannot reproduce, here are my steps.
[code]

[2018-01-10 09:34] niusmallnan commented on #2194
I realized this may cause problems with `ros os upgrade`.
Because overlay and overlay2 cannot be compatible,  earlier versions used overlay by default.

[2018-01-10 09:48] thaJeztah commented on #2194
If no explicit storage-driver is set (by configuration, e.g. the `--storage-driver` option, or a `daemon.json` configuration file), the docker daemon will try storage-drivers using a priority list; https://github.com/moby/moby/blob/master/daemon/graphdriver/driver_linux.go#L50-L51

`overlay2` is already before `overlay` in that priority list, so if `overlay2` is supported, it will automatically se

[2018-01-10 13:53] sra commented on #2216
I'm seeing this too on some of our instances launched in AWS via spotinst, which is preventing deployment of this version. I think it has to do with instance type - try reproducing on an m5.2xlarge in us-east-1

[code]

[2018-01-10 16:32] ryansch commented on #2216
@sra All of my v1.1.3 instances are m5.larges so that tracks. My static wget works fine.

[2018-01-10 19:45] cron410 opened #2218 "/etc/localtime missing"
**RancherOS Version: (ros os version)** 1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)** VMware

I am attempting to run various projects packaged as docker containers and many times they require /etc/localtime to be linked into the container through a volume with the :ro flag set. I know this is not a hard requirement and there is most likely a simple workaro

[2018-01-10 20:13] jodumont commented on #1592
I have the message on Debian9 with
Server Version: 17.12.0-ce
Storage Driver: zfs
 Zpool: error while getting pool information strconv.ParseUint: parsing "": invalid syntax
 Zpool Health: not available

[2018-01-10 20:26] Robbe64 opened #2219 "No keyboard on Intel NUC 7i3BNH"
**RancherOS Version: (ros os version)**
1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal Intel NUC 7i3BNH

After booting from USB the keyboard is not working.
If booting in Recovery mode and connecting the USB dongel of the keyboard  again I see the following but inputs still not working:
[code]

[2018-01-11 02:08] niusmallnan commented on #2216
@sra Cool! Nice find. I will track this.

[2018-01-11 02:14] niusmallnan commented on #1592
Hey @jodumont

Maybe this is an answer.

But if not, please file another issue and give me more details.

[2018-01-11 10:53] jdel commented on #2214
I've done a few more upgrades. The right syntax to add DNS servers in the kernel line is `her.network.dns.nameservers=["1.2.3.4","5.6.7.8"]`. Double quotes can be substituted for single quotes too.

For some reason I cannot explain, setting my cloud provider's DNS in there doesn't solve the issue. I still get the timeout.

However, setting my internal DNS (that resolves a local zone and forwards u

[2018-01-11 13:45] niusmallnan commented on #2214
@jdel
I am on a business trip these days.
My email niusmallnan@gmail.com, feel free to send me anything.
Thanks.

[2018-01-11 14:53] jodumont commented on #1592
Hi @niusmallnan ;
I hope it make sense and please tell me if I might wrong but

by creating a zfs for docker
`zfs create -o mountpoint=/var/lib/docker sys/docker`

and restarting docker everything seems fine now :)

thanks for you're reply and sorry to use a old issue for my own mistake

[2018-01-12 14:52] narcoticfresh opened #2220 "Docker engine version tied to ros version?"
**RancherOS Version: (ros os version)**
v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
vSphere VMs

**What is my problem?**
We are currently very badly affected (as many others it seems) by moby/moby#30134 in our swarm cluster - container IPs in the cluster get mixed up badly sometimes which creates chaos and service interruptions.

This seems to be improv

[2018-01-12 15:42] vincent99 commented on #2220
Since Docker changed to edge be Strutzeberg releases we have planned to only support stable versions.  The latest (17.12) was released recently and the next version of RancherOS will support it.  There has been a bit of an interruption from meltdown/Spectre fallout.

The example file is missing because it was replaced with a newer 1.12.x at some point and the docs link wasn't updated... https://gi

[2018-01-12 20:08] benpye opened #2221 "Baremetal install error"
**RancherOS Version: (ros os version)**
`Installing from rancher/os:v1.1.3`

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Bare metal on a Gen 8 HP Microserver.

I am attempting to install onto a USB drive connected to the microserver. I have an SSD for the state partition and 4 HDDs for a ZFS pool. When attempting to install I run into the following error:

[cod

[2018-01-13 09:24] narcoticfresh commented on #2220
@vincent99
Thanks for your comment..

ACK; a google search didn't reveal any roadmap for rancher os - is there any? is there any way to estimate when that new release could come out?

I just ask so we can estimate if it's worth to try this ourselves or we just can wait a certain time, maybe some weeks.. or will it be more like months? ;-)

[2018-01-13 16:20] MichelDiz commented on #963
Curl inside a Docker container has a different network. To be sure in our tests with curl, we use the OS network. Like this we know that are nothing else interfering with the tests.

Could you at least allow the Curl installation via package or script? making it optional.

[2018-01-13 18:09] vincent99 commented on #963
Anything you can run on the host you can run in a container.. `--net=host`

No.  The default console is intentionally minimal and not persistent and has no package manager.  You can switch to Ubuntu or one of the other consoles and install whatever you want.

[2018-01-15 02:11] niusmallnan commented on #2221
Was this disk `/dev/sdf` already partitioned?

[2018-01-15 03:05] niusmallnan commented on #2165
Hey @jambajaar
We use `libcompose` to control the startup order, in most cases `libcompose` and `docker-compose` behave in the same way.

Refer to this document: https://docs.docker.com/compose/startup-order/

I think it may be more reasonable for users to use more flexible `wait-for-it` scripts.

[2018-01-15 03:39] niusmallnan commented on #2216
It should be a bug for `busybox`, I have built a new rootfs for next release.
I tested with my own image, it can work on AWS m5 instances:
[code]

[2018-01-15 06:41] niusmallnan commented on #2194
@thaJeztah Thanks your comment.
I also prefer to let Docker automatically detect the storage-driver.

[2018-01-15 07:17] niusmallnan commented on #2215
Try to use image `rancher/container-crontab:v0.3.0`, and get these error logs:
[code]
Currently,  there is no need to upgrade to v0.3.0.

[2018-01-15 08:23] narcoticfresh commented on #2220
I noticed that a service file is already [present here](https://github.com/rancher/os-services/blob/master/d/docker-17.12.0-ce.yml)..

So i configured this in my `user_config.yml`:

[code]

But somehow, after the reboot, the new version is not applied, i still have:

[code]

Did I miss something, maybe something that is not documented?

[2018-01-15 08:24] benpye commented on #2221
`/dev/sdf` was partitioned at one point however I did try and clear it with `dd if=/dev/zero of=/dev/sdf bs=4K count=1024` or similar and I still ended up with the same error.

[2018-01-15 08:30] niusmallnan commented on #2218
These can be added if I rebuild a rootfs, but including tzdata will increase the ISO size.
I need to think about it.

[2018-01-15 09:34] niusmallnan commented on #2163
It‘s not easy to reproduce, but I found a docker issue related to this. https://github.com/moby/moby/issues/23184

This bug has been fixed in docker v1.13+, but our system-docker is based on docker v1.11.

It should be useful to delete the directory `/var/lib/system-docker/image/overlay/layerdb/sha256/xxxx` , then try to upgrade again, it will success.

[2018-01-15 10:21] narcoticfresh commented on #2220
Tracking in own issue

[2018-01-15 10:21] #2220 closed

[2018-01-15 10:34] narcoticfresh opened #2223 "URL as docker engine image doesn't seem to work"
**RancherOS Version: (ros os version)**
v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
vSphere VMs

**What is my problem?**
I try to use an 'own' docker engine version as documented [here](http://rancher.com/docs/os/v1.1/en/configuration/switching-docker-versions/).

I tried to use a file from the official repository for a yet not released version: [https:

[2018-01-15 13:00] sra commented on #2216
Excellent - so a workaround for 1.1.3 is to use a different console from cloud init...

[code]

Works fine for me now.

[2018-01-15 13:49] djmaze commented on #2223
@narcoticfresh You just added a package source. Now you need to switch to the new engine as well:

[code]

Have a look at [the documentation](http://rancher.com/docs/os/v1.1/en/configuration/switching-docker-versions/) for more information.

[2018-01-15 14:05] djmaze commented on #2223
@narcoticfresh Well, I realized you added the repository the wrong way. You need to have a repository hosted on a server with a suitable `index.yml`. In this case, this might work:

[code]

This might be dangerous though, since this adds all service definitions from the master branch to your system. Afterwards, you can set the engine as shown above.

More information [in the documentation](http://

[2018-01-15 17:01] cron410 commented on #2218
Looks like everything works fine with `-e TZ=America/New_York` in the containers I'm running. It may be as simple as creating some Rancher OS documentation that references /etc/localtime and /etc/timezone issues because I couldn't find any.

[2018-01-15 19:48] will-chan commented on #2165
@niusmallnan We should at least make sure our own service containers like the console to consistently boot up 100%.  That or we need to add the wait-for-it script inside the console container to ensure it does not fail.

[2018-01-15 19:53] prologic opened #2224 "Raspberry Pi imags?"
Where are the latest Raspberry Pi images? I don't see them in the releases page (*unless I'm missing something?*) Only issue that came close to poking around was #1794 but that was a while ago.

[2018-01-15 19:54] prologic commented on #2224
Answering my own question looks like there is one for v1.1.2 => https://github.com/rancher/os/releases/download/v1.1.2-rc2/rancheros-raspberry-pi64.zip

Are we not auto-building these? There isn't one for v1.1.3 AFAICT.

[2018-01-16 01:38] niusmallnan commented on #2224
v1.1.2 https://github.com/rancher/os/releases/download/v1.1.2/rancheros-raspberry-pi64.zip

v1.1.3 just fixed the problem of AMDX86, no change for ARM.

[2018-01-16 02:08] ulm0 commented on #2224
Seems like it's been dropped at least for arm32, as stated in #2207 by @niusmallnan

[2018-01-16 02:55] prologic commented on #2224
I see -- buat arm64 images are still being built and uploaded to the GIthub
releases?

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Mon, Jan 15, 2018 at 6:08 PM, Mauricio Ugaz <notifications@github.com>
wrote:

[2018-01-16 04:13] niusmallnan commented on #2165
Is there a specific case？I really want to know why console service cannot boot up.
Adding a script is easy and if there is a specific case I can verify based on it.

BTW, not sure if I understand wrong, the issue's description seems to be about user services, not our system services.

[2018-01-16 07:13] aemneina commented on #2164
This looks good @niusmallnan. I believe we can close this out.

[2018-01-16 07:13] #2164 closed

[2018-01-16 07:20] niusmallnan commented on #2211
Hi @kingsd041
If you use the docker-machine to start rancheros, the TLS should be enabled by default.
[code]

Check the file `/var/lib/rancher/conf/docker`:
[code]

[2018-01-16 07:32] #2211 closed

[2018-01-16 08:05] niusmallnan commented on #2210
Check the file `/etc/shadow`, user docker is locked.:
[code]

It should be fixed in the next alpine console image.

[2018-01-16 09:34] niusmallnan commented on #2221
Can you please try these steps?
1. Clean up the partitions
2. Remove `rancher.state` in cloud-config
3. Try your `ros install ` command again

[2018-01-16 12:55] strowi commented on #2199
sorry to say.. this doesn't seem to be the root cause...
the connection drop i mentioned, is the switch from pxe boot to system dhcp...

[2018-01-16 13:05] strowi commented on #2144
any news on this? Seems im running into the same problem..

[2018-01-17 04:41] niusmallnan commented on #2060
if there are disk partitions, it can print these logs:
[code]

[2018-01-17 09:46] strowi opened #2226 "Autoformat hangs indefinitely"
**RancherOS Version: 1.1.3**

**Where are you running RancherOS? bare-metal **

Hi,

running pxe/baremetal/autoformat:

[code]

[code]

it seemts autoformat hangs on boot with a 3TB/Megaraid/RAID5 setup.
Last lines via remote console show
[code]

But then seems to hang indefinitely.

regards,
Roman

[2018-01-17 09:55] niusmallnan commented on #2144
@strowi Can you show me your iPXE file? I'm working on this.

[2018-01-17 10:10] strowi commented on #2144
@niusmallnan here it is ;)

[code]

[code]

But it might be related to a slow dhcp, the logfile dosn't show the dhcp-config, but the nameservers from google.
The request for the cloud-config.yml never reaches the webserver hosting it.
But after some time network is present.

[2018-01-18 11:35] dduquesne opened #2227 "[os-images] Build RancherOS using custom RancherOS-Kernel"
Hello,

I would like to build a custom RancherOS.
I already built a custom Kernel.
So i have these files :
- build-linux-4.9.40-rancher-x86.tar.gz
- config
- extra-linux-4.9.40-rancher-x86.tar.gz
- linux-4.9.40-rancher-src.tgz
- linux-4.9.40-rancher-x86.tar.gz

But i am not sure about the following steps.
It seems that i should :
- Rename linux-4.9.40-rancher-x86.tar.gz to kernel.tar.gz
- Put all

[2018-01-18 14:17] niusmallnan commented on #2227
Update `Dockerfile.dapper` file in the `rancher/os` repo:
[code]
 Then run `make`

[2018-01-18 18:33] GitterDoneScott opened #2228 "Clock drift / NTP setup"
**RancherOS Version: 1.0.5**
**Where are you running RancherOS?: Bhyve VM running on FreeBSD 10 x86 **

I'm experiencing clock drift between the FreeBSD (host) and the Bhyve guest (ROS).  I'd like to setup NTP to solve the issue but haven't been able to find any documentation on how to do so.

Is there another way to solve the problem?

Thank you!

[2018-01-18 20:17] allingeek opened #2229 "Please update docs to note that RancherOS does not support script user-data."

[2018-01-18 22:58] 2devnull commented on #931
Can you say how to resolve this? I'm on the latest version 1.1.3 and still getting this upgrade error.

[2018-01-18 23:28] 2devnull commented on #324
What is the resolution for this?

[2018-01-19 01:13] niusmallnan commented on #2228
We have built-in ntpd, its configuration file is `/etc/ntp.conf`.

Please refer to `http://rancher.com/docs/os/v1.1/en/configuration/write-files/#writing-files-in-specific-system-services`

[2018-01-19 01:19] niusmallnan commented on #2229
Not sure which datasource you mean, we have this description:
[code]
Refer to http://rancher.com/docs/os/v1.1/en/configuration/

[2018-01-19 01:36] GitterDoneScott commented on #2228
Thank you!  I'll give that a try and let you know how it goes.

[2018-01-19 01:56] niusmallnan commented on #324
@2devnull
Yes, you pointed out the solution
[code]

Then reconnect ssh:
[code]

[2018-01-19 02:05] SvenDowideit commented on #2229
@allingeek I think you need to be alot more specific. I was developing and fixing issues for cloud-init scripts like https://github.com/SvenDowideit/bin-dir/blob/master/cloud-configs/airgap/install-node.sh on RancherOS versions from before the LTS releases. There are fixes in 1.1 to deal with issues with proxying, but it has supported scripted user-data for a very long time.

[2018-01-19 04:17] janeczku commented on #2229
@allingeek Could you please provide:
- RancherOS versions
- cloud-init datasource (e.g. ec2)
- content of userdata that you used

[2018-01-19 04:23] janeczku commented on #2074
Reproduced on v1.1.3 (VMware ESXi guest):
`sudo shutdown -r now` has inconsistent behaviour and results in machine powered off state instead of reboot 2 out of 5 times).

[2018-01-19 11:22] abuisine commented on #844
I got a small package which works like a charm for UEFI boot, is there a way to contribute to the project in that regard somewhere ? contribution being doc or images.

[2018-01-19 11:29] deitch commented on #844
Been almost 2 years since I opened this and a PR. Done lots on [linuxkit](https://github.com/linuxkit/linuxkit) to support it, including on arm64. Not likely to come back to this, but since RancherOS is built on linuxkit nowadays, shouldn't be too hard?

[2018-01-19 15:17] superseb opened #2230 "Base ubuntu console image on LTS release"
**RancherOS Version: (ros os version)**
`v1.1.3`

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
`docker-machine`

Current ubuntu console image is based on Ubuntu 17.04 which is EOL per January 13th, 2018. (https://wiki.ubuntu.com/Releases)

Console based on LTS release would probably be best.

[2018-01-19 17:23] niusmallnan commented on #2144
@strowi
There is a workaround, if there are two NICs are open DHCP. There should be only one for IPXE boot. So can be configured like this.

IPXE file:
[code]

Cloud-config:
[code]

It can work fine on my test setup.

[2018-01-19 19:50] zimme commented on #931
For me, this was resolved with the PR's that changed bind mounts to synlinks on poweroff/reboot/shutdown. So I don't know rancheros is back to using bind mounts for this or if there's some update some other place that is causing this.

I do believe you should open a new issue to track your errors for this, even though they are similar to what I reported, it might be because of something else and i

[2018-01-19 20:04] 2devnull commented on #931
I am sure it is probably fixed now if I were to create a new ubuntu console. However, I have an older container of the ubuntu console I would like to keep current and was hoping there is a way to fix that. Too many things go wrong when a new console is used.

[2018-01-19 20:07] zimme commented on #931
@2devnull Would you be able to mount a volume into the console container and "save" your home folder etc. and after that upgrade to a new console container and mount the same volume into that new console contianer?

[2018-01-19 20:30] 2devnull commented on #931
so, that is interesting....I am not sure it is only the home folder that gets destroyed. On a pre-1.0 version a couple years ago when the ros upgrade also blew away the consolve container, I believe more than just home folder was gone. It would be good (at least for me to understand) how this console container is linked. I also believe all the apt-get packages are gone too, so more than just perso

[2018-01-20 00:08] steve-todorov commented on #844
ping @joshwget @SvenDowideit @ibuildthecloud?

[2018-01-20 08:52] strowi commented on #2226
kind of solved.
After creating a gpt-partition, it took like 25min. to format those 3 TB.
Not sure if it is supposed to take that long?

[2018-01-20 09:00] strowi commented on #2144
@niusmallnan thanks for the workaround. It does work fine in our network.

Just in case it might help you fixing this for everyone..
Additionally, i did some more testing in our network, wondering why dhcp was so slow. After checking the dhcp/router/interconnect etc..
It came down to the switch/port activating fastlink on that port seems to have done the trick. Machine gets an ip in < 5secs.

thx

[2018-01-20 15:43] GitterDoneScott commented on #2228
That worked!  I merged the example in the link above with `sudo ros config -merge` and time appears to stay synced.

[2018-01-20 15:43] #2228 closed

[2018-01-21 08:33] niusmallnan commented on #2230
We already have ubuntu-console v1.2.0-rc1 on `os-services` master, but it is based on Ubuntu 17.10.

I do agree to update the console based on LTS release.

[2018-01-21 12:32] #2215 closed

[2018-01-22 00:42] kapolos opened #2232 "1.1.0 to 1.1.3: Agent dies in loop"
**RancherOS Version: (ros os version)**
1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM

I had two nodes (server + agent, agent) with `ros 1.1.0`. Updated them both to `1.1.3`. The agents on both are stuck failing on a loop. Nothing seems to work to fix it (restarting, removing & re-associating the node).

Error message from the logs:
[code]

Please advi

[2018-01-22 00:53] kapolos commented on #2232
I just noticed that `rancher/server` is `1.6.2` while `docker` is `17.06.2-ce`. According to the docs, these are incompatible. I only did `sudo ros os upgrade` as per the docs.

[2018-01-22 02:59] lanchongyizu commented on #2199
**RancherOS Version: v1.1.3**

**Where are you running RancherOS? baremetal**

We encounter the same issue. BTW, when will the release v1.2.0 be ready?

[code]

[2018-01-22 15:28] schmandforke commented on #84
+1

[2018-01-22 15:42] niusmallnan commented on #2199
@lanchongyizu
Hi, have you tried this? https://github.com/rancher/os/issues/2144#issuecomment-359033372
You need to update your iPXE file.

[2018-01-22 19:20] dduquesne commented on #2227
Hello,

Thanks for your help.
I made some modifications in the Dockerfile.dapper :
ARG OS_REPO=rancher
ARG KERNEL_VERSION_amd64=4.9.40-rancher
ARG OS_SERVICES_REPO=https://github.com/rancher/os-services.git

Make gave me an ISO file.
It works but i have an issue with the command : sudo ros service list

![image](https://user-images.githubusercontent.com/12520088/35239462-d5602b8c-ffb0-11e7-8e7e-4b

[2018-01-22 19:21] 2devnull commented on #2230
I have a script from software vendor that checks name of ubuntu release to install its software. To my surprise the ubuntu console is zesty and the script does not work (will have to now modify the script). Would be nice to do something list 'sudo ros console switch ubuntu:xenial'

[2018-01-23 01:59] niusmallnan commented on #2227
I don't know why you change the `OS_SERVICES_REPO`?
[code]

[code]

[2018-01-23 02:37] niusmallnan commented on #2232
You can use `ros engine` to switch an compatible docker engine.
For rancher/server:v1.6.2, maybe docker 1.12.6 or 17.03 is better.

[2018-01-23 03:14] lanchongyizu commented on #2199
@niusmallnan We(https://github.com/RackHD) had our own customized microkernel before, and migrated to RacherOS several months ago. We don't want to specify which NIC to be used for IPXE boot, since we don't know which NIC our users will use for IPXE boot. Before, the NICs are tried one by one in our microkernel, and only the one connected with RackHD will get the IPXE file.

What should we do with

[2018-01-23 08:55] niusmallnan opened #2233 "Verbose output for ramdisk info"
**RancherOS Version: (ros os version)**
v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
All

In RancherOS `fdisk -l` reports 16 ram disks (`/dev/ram0` ... `/dev/ram15`), other Linux distributions do not output ramdisk information.

The RAM disk driver is a way to use main system memory as a block device. It is required for initrd, an initial filesystem used

[2018-01-23 10:07] #2121 closed

[2018-01-23 10:53] dduquesne commented on #2227
Hello Niusmallnan,

Thank for your feedback.
I recompile everything.
Kernel 4.9.76
Rancher OS 1.1.3

![image](https://user-images.githubusercontent.com/12520088/35271766-6ba0eb54-0033-11e8-89ca-5cd3801012ef.png)

As you suggested, i did not touch OS_SERVICES_REPO.
My issue with "ros service list" disappeared :)

But i still have an issue with cpu.rt_runtime_us
I can change cpu.shares like you did

[2018-01-23 13:40] kapolos commented on #2232
Thank you @niusmallnan , that was very helpful!

[code]

Rancher server is not running. I tried to start it by enabling the `rancher-server` service and starting it. But it fails with a `kvm-vm-tools` error like this:

[code]

Not sure how to proceed from here :(

[2018-01-23 15:17] niusmallnan commented on #2232
Check the config `rancher.services_include`, then get rid of `kvm-vm-tools`.

I recommend you to run rancher server directly using user docker.
For service `rancher-server-stable`  and  `rancher-server`, their images may not be updated in time.

[2018-01-23 15:21] niusmallnan commented on #2227
It reports `invalid argument` and I'm not sure that this is the correct argument.
If you confirm this can work in other Linux distributions, I will check it.

[2018-01-24 10:44] mikemoate commented on #2206
@niusmallnan Kernel 4.9.76 is now out and apparently has some spectre fixes http://news.softpedia.com/news/linux-kernels-4-14-13-4-9-76-and-4-4-111-bring-more-security-fixes-update-now-519321.shtml

[2018-01-24 10:55] albertdb commented on #2206
Again, please backport kernel upgrade to RancherOS 1.0.x LTS. Thanks!

[2018-01-24 14:56] niusmallnan commented on #2206
@mikemoate
v1.1.3 has enabled KPTI  with kernel 4.9.76.
v1.1.4 will use GCC(7.3) to compile the latest kernel for full Retpoline support. This can mitigate Spectre.

[2018-01-24 15:09] albertdb commented on #2206
@niusmallnan Will you forget those users who put their confidence in  the 1.0.x LTS version? Jumping to 1.1.x is a no-go due to Docker 1.10 being unsupported, so please tell us your plans about it including the case in which there aren't any, so we can find alternatives. Thanks.

[2018-01-24 15:10] niusmallnan commented on #2206
@albertdb
What're the problems if you upgrade to RancherOS v1.1.x?
If it is not required, there will not be a new 1.0.x version.

[2018-01-24 15:16] albertdb commented on #2206
@niusmallnan

The problem is this: https://github.com/rancher/os/pull/2056
Docker 1.10 support is a must for us at the moment.

[2018-01-24 15:21] albertdb commented on #2206
BTW, 1.0.x was announced as a Long Term Support and it was released less than a year ago.

[2018-01-24 16:57] mikemoate commented on #2206
@niusmallnan thanks and understood on the kernel versions, my mistake!

[2018-01-24 17:34] selmison opened #2235 "Rancheros cloud-init http client timeout is too low"
**RancherOS Version: (ros os version)**
v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Citrix XenServer

**Actual result:**
When deploy Rancheros in a environment via pxe and foreman (http://theforeman.org) as tftp and cloud-config provider, the cloud-init in RancherOS has a too low http client timeout.

**Expected result:**
Set the timeout to 10s or more

[2018-01-25 01:32] niusmallnan commented on #2206
@albertdb
Oh, I see. Thanks your feedback.

If only for Docker 1.10 support, you can use any RancherOS version.
You can fork your own services and custom a repository.
Refer to the following:
http://rancher.com/docs/os/v1.0/en/system-services/custom-system-services/#service-development-and-testing
https://github.com/rancher/os-services/blob/master/index.yml

We will ship v1.0.5, both Meltdown and

[2018-01-25 01:39] niusmallnan commented on #2235
How many interfaces are running DHCP？

[2018-01-25 10:00] niusmallnan commented on #2199
Duplicate of #2144
Close this one.

[2018-01-25 10:00] #2199 closed

[2018-01-25 14:07] jdel commented on #2214
It seems that the issue is caused by some network delay introduced by my cloud provider's VM hypervisor or something. Not related to ROS, closing.

[2018-01-25 14:07] #2214 closed

[2018-01-25 15:58] selmison commented on #2235
Only one interface is running DHCP.

The PXe file is:

`DEFAULT rancheros

LABEL rancheros
  KERNEL boot/RancherOS-1.1.3-x86_64-vmlinuz rancher.state.dev=LABEL=RANCHER_STATE rancher.state.autoformat=[/dev/xvda] rancher.cloud_init.datasources=['url:http://vp2-inf-006.mpdft.gov.br/unattended/provision?token=b59aac21-e0af-47d2-a073-9fc85777cef0']
  APPEND initrd=boot/RancherOS-1.1.3-x86_64-initrd`

[2018-01-26 14:27] Coada commented on #1340
Bump. I am trying to automate setup of a Rancher OS system and need to SSH into the VM after it has booted from ISO. rancher/rancher, rancher/ does not work. Yes I could access the console manually, but that removes the purpose of automating.

Is there perhaps possible to modify the ISO to set a default password?

[2018-01-27 05:41] niusmallnan commented on #1340
@Coada You can set rancher password with a kernel parameter.
[code]

[2018-01-27 23:14] prudolf620 commented on #1198
Just came across rancherOS today as I'm looking to setup a simple docker box for learning and playing with some home projects.

I'm able to get rancheros ISO to boot from grub2 (machine is EFI only), however it doesn't seem to use the autologin and I'm at a loss of where to go from here.  I'm not seeing a default login/password documented anywhere and not having any luck with running 'passwd' as I

[2018-01-28 04:11] ryansch commented on #1198
@prudolf620 Any reason why you're not just booting the ISO with the included syslinux?  I might not understand your EFI only comment.

Since you're using grub2, it might not have the normal kernel parameters set.  These might be useful:

`rancher.autologin=<tty>` will enable autologin on the specified tty
`rancher.password=<password>` will set the password for the `rancher` user

[2018-01-28 12:29] fxkr opened #2238 "Error in docs: additional mounts / 4th parameter"
Error/inconsistency in the docs:

http://rancher.com/docs/os/v1.1/en/storage/additional-mounts/

Note there's no 4th parameter in the example. So is it required or not?

[2018-01-28 16:01] mapero opened #2239 "BUG: using smp_processor_id() in preemptible [00000000] code: node/1877"
**RancherOS Version: v1.2.0-rc1**
Was the same on v1.1.0.

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal on Raspberry Pi 3 (64bit)

Running RancherOS in a docker swarm with three manager nodes (Raspberry Pi 3). I get tons of kernel errors like this:
[code]
My logs (syslog and messages) grows into multiple GBs after a few days, caused by this error.

Tha

[2018-01-29 02:08] niusmallnan commented on #2238
@fxkr Sorry, we have a mistake here.
The 4th parameter is required for ros cli.
Thanks for your reminder

[2018-01-29 04:18] niusmallnan commented on #2239
@mapero
You can track this issue https://github.com/moby/moby/issues/27833.

I have updated the RPi kernel(4.9.76), you can try 1.1.4-rc1.

Here is my test setup:
1. RancherOS RPi64 v1.1.4-rc1
2. Docker CE engine 17.03.1-ce

I did not get those kernel errors.

[2018-01-29 05:58] niusmallnan commented on #2235
I have increased the http client timeout for cloud-init-save.
You can try 1.1.4-rc1.

[2018-01-29 11:46] kingsd041 opened #2240 "Failed to install ZFS service"
**RancherOS Version: (ros os version)**
v1.0.5-rc1 or v1.1.4-rc1
**Kernel**
4.9.78-rancher
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

**Steps to Reproduce:**
1. Install the zfs service using rancheros v1.0.5-rc1 or v1.1.4-rc1.
2. Use `ros service logs --follow zfs` to view the logs when running` ros service up zfs`

Failed to install ZFS service, the erro

[2018-01-29 17:14] selmison commented on #2235
Unfortunately it did not work.

I captured the http packets as below.

The HTTPpackets as shown below reveal that the RancherOS makes a request for the cloud-conf, but it waits only 2 seconds, while the Foreman provides the response around 3.5 seconds.

[code]

Here's the cloud-config content returned by Foreman:

[code]

CoreOS also faced the same problem as below:
[https://github.com/coreos/bugs

[2018-01-30 01:20] SvenDowideit commented on #82
@deniseschannon @ibuildthecloud  please unsubscribe me from all the issues in the rancher org.

[2018-01-30 01:20] niusmallnan commented on #2235
A long time ago we set the 10s timeout.
https://github.com/rancher/os/blob/v1.1.x/config/cloudinit/pkg/http_client.go#L87

I'm afraid this is not the reason for client timeout.
Can you show me your cloud-init-save logs(`/var/log/boot/cloud-init-save.log`)?

BTW, your cloud-config has some syntax errors:
1. Please note indentation
2. `rancher.password` is a kernel parameter, setting in cloud-config

[2018-01-30 01:20] SvenDowideit commented on #475
unassign me.

[2018-01-30 01:21] SvenDowideit commented on #658
asdf

[2018-01-30 01:22] SvenDowideit commented on #1462
bizzarely, if i may any comment in an issue i'm assigned to, GH unassigns me.

[2018-01-30 01:22] SvenDowideit commented on #1462
unassign me

bizzarely, if i may any comment in an issue i'm assigned to, GH unassigns me.

[2018-01-30 01:22] SvenDowideit commented on #1462
asdf

[2018-01-30 01:23] SvenDowideit commented on #1462
mmm, can't unassign myself from an issue i created?

[2018-01-30 01:23] #1462 closed

[2018-01-30 01:24] SvenDowideit commented on #1277
bizzarely, if i may any comment in an issue i'm assigned to, GH unassigns me - or it did for a few issues.

[2018-01-30 01:24] SvenDowideit commented on #1250
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:25] SvenDowideit commented on #1217
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:25] SvenDowideit commented on #1215
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:25] SvenDowideit commented on #1107
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #1536
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #1588
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #1658
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #1675
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #1861
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:26] SvenDowideit commented on #2028
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:27] SvenDowideit commented on #941
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:27] SvenDowideit commented on #997
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:27] SvenDowideit commented on #1468
bizzarely, if i may any comment in an issue i'm assigned to, but didn't create, GH unassigns me.

[2018-01-30 01:28] SvenDowideit commented on #1417
@deniseschannon @ibuildthecloud please unassign me from all issues & pull requests in the rancher org - in a week or so, i'll close any still assigned to me, so I can use my GH lists again.

[2018-01-30 17:26] selmison commented on #2235
Great!!

The error was in the parameter ```rancher.password```. After I remove it the pxe worked. Many thanks!!

How would I add the ```rancher.password``` parameter in the kernel during provisioning?

[2018-01-30 17:32] selmison commented on #2235
Great!!

The error was in the parameter ```rancher.password```. After I remove it the pxe worked. Many thanks!!

How would I add the ```rancher.password``` parameter in the kernel during provisioning?

[2018-01-30 17:49] Angelinsky7 opened #2241 "Cannot install RancherOS - /dev/sr0"
Version : rancher/os:v1.2.0-rc2
Installation : baremetal

I downloaded the latest image, created an usb bootable disk with rufus (from window 10 with default options) and tried to install...

[code]

[code]

[code]

The label is always in capital letter, i tried to change it but everytime in captial... (i know that is should be "RancherOS")
What can i do ?
Thanks for your help and os !!!

[2018-01-30 23:52] prudolf620 commented on #1198
@ryansch Thanks for the reply.  FYI, the boot USB created from the ISO works fine on my desktop, but legacy mode and not UEFI.  The box I'm trying to install this on is a baytrail mini-pc that is 'windows mode' (EFI) only, and does not support bios.  If syslinux is supposed to be able to boot using EFI, I'll have to dig around for some guides for creating the bootable USB drive correctly.  Current

[2018-01-31 01:18] niusmallnan commented on #2235
If I want to set a password, I will do so:
[code]

[2018-01-31 02:37] kingsd041 commented on #2210
RancherOS v1.2.0-rc2 version has been fixed

[2018-01-31 02:37] #2210 closed

[2018-01-31 05:42] kingsd041 commented on #2183
Tested with rancheros v1.2.0-rc2  in AWS/GCE,
For eth0, MTU is 1460

[2018-01-31 05:42] #2183 closed

[2018-01-31 06:20] kingsd041 commented on #2146
Tested with rancheros v1.2.0-rc2.
The lvm commands will be added on the default console. Other consoles need to manually install lvm to use.

[2018-01-31 06:20] #2146 closed

[2018-01-31 06:41] kingsd041 commented on #2074
Tested with Rancheros v1.2.0-rc2.
Now we can restart rancheros using `shutdown -r now`.

[2018-01-31 06:41] #2074 closed

[2018-01-31 08:50] kingsd041 commented on #2216
Tested with rancheros v1.2.0-rc2. It can work on an instance of m5.larges
[code]

[2018-01-31 08:50] #2216 closed

[2018-01-31 09:32] selmison commented on #2235
Tks!!

What are `printk.devkmsg`, `rancher.state.dev` and `rancher.state.wait`?

[2018-01-31 09:43] kingsd041 commented on #2233
Using `fdisk -l` in rancheros v1.2.0-rc2 already does not see the ram disk
[code]

[2018-01-31 09:43] #2233 closed

[2018-01-31 13:34] kingsd041 commented on #2230
Tested with RancherOS v1.2.0-rc2.
Ubuntu console is based on Ubuntu 16.04.3 LTS.

[2018-01-31 13:34] #2230 closed

[2018-01-31 15:12] kingsd041 commented on #2194
Tested with RancherOS v1.2.0-rc2
If you upgrade from an earlier version to v1.2.0-rc2, docker continues to use the overlay driver.
If based on v1.2.0-rc2 launch instance, the default is overlay2 driver

However, if I use docker-machine launch instance, the default is `overlay` driver

[2018-02-01 01:18] #2194 closed

[2018-02-01 04:54] kingsd041 commented on #2193
Each console is updated to the latest version v1.2.0-rc2
[code]

[2018-02-01 04:54] #2193 closed

[2018-02-01 07:08] kingsd041 commented on #2155
@naisanza
In RancherOS v1.2.0-rc2, the URL is already supported
Close it.

[2018-02-01 07:08] #2155 closed

[2018-02-01 09:59] kingsd041 commented on #1873
Tested with RancherOS v1.2.0-rc2.
There is also a way to extend PATH environment variable, `PATH` or `path` can be set, and multiple values can be comma-separated. Note that need to reboot before taking effect.
[code]

[2018-02-01 09:59] #1873 closed

[2018-02-01 13:47] janeczku commented on #1861
This was a user error. Closing.

[2018-02-01 13:47] #1861 closed

[2018-02-01 13:51] naisanza commented on #2155
@kingsd041 awesome

[2018-02-01 14:44] kingsd041 commented on #1870
Tested with RancherOS v1.2.0-rc2.
@mrbobbytables
Now you can use the following command to modify the system-docker network.
You can also use this command if you want to modify the system-docker network based on rancheros v1.2.0-rc2
[code]

[2018-02-01 14:44] #1870 closed

[2018-02-01 14:57] kingsd041 commented on #2049
@allingeek
We made some changes and now we use `ros -v` to get the current image in use
[code]
This change to meet your needs?

[2018-02-01 15:00] kingsd041 commented on #1903
Tested with RancherOS v1.2.0-rc2.
@janeczku
Now you can use the following command to modify the system-docker network.
You can also use this command if you want to modify the system-docker network based on rancheros v1.2.0-rc2
[code]

[2018-02-01 15:00] #1903 closed

[2018-02-01 15:12] kingsd041 commented on #2204
Tested with RancherOS v1.2.0-rc2.
After configuring the [ec2] datasource, I can get the following log in cloud-init-save.log, I think rancheros is using ec2 data sources.
[code]
Close it.

[2018-02-01 15:12] #2204 closed

[2018-02-01 15:21] oicheryl commented on #2153
@niusmallnan Any update on when you will release?

The last release on https://github.com/rancher/dapper/releases was September 2016.

[2018-02-01 21:05] mattkenn4545 commented on #1131
Is there any progress of getting this implemented in a more official way?

[2018-02-02 02:40] kingsd041 commented on #1817
Tested with RancherOS v1.2.0-rc2
Pre-loading process only reads each new archive once. When starting rancheros again, you see the following log:
[code]

[code]

[2018-02-02 02:40] #1817 closed

[2018-02-02 04:46] kingsd041 commented on #2188
Tested with RancherOS v1.2.0-rc2
Use `ros config set` set the persistent directory, rancheros the first restart will not save the directory of data.When the second restart, will save the directory data.

[2018-02-02 04:46] #2188 closed

[2018-02-02 06:58] kingsd041 commented on #2060
Tested with RancherOS v1.2.0-rc2.
Test passed.

[2018-02-02 06:58] #2060 closed

[2018-02-02 06:59] kingsd041 commented on #2049
Close it.
If you still have doubts, please reopen it and let me know.

[2018-02-02 06:59] #2049 closed

[2018-02-02 08:13] kingsd041 commented on #2240
v1.2.0-rc2 also have the same error

[2018-02-02 09:01] kingsd041 opened #2242 "Create a 1G memory instance, the instance failed to start"
**RancherOS Version: (ros os version)**
v1.2.0-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine

Use docker-machine to start an instance of 1G memory. Instance can not be started, the console appears "Kernel panic"
[code]

<img width="722" alt="ros" src="https://user-images.githubusercontent.com/19684717/35724895-50d0736c-083a-11e8-8281-6d31e570ed

[2018-02-02 09:15] kingsd041 opened #2243 "Unable to upgrade to the latest console version"
**RancherOS Version: (ros os version)**
v1.2.0-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

**Steps to Reproduce:**
1. Launch rancherosv1.1.1 instance
2. Switch ubuntu console
[code]
3. Upgrade os and console to v1.2.0-rc2
Note `--upgrade-console` parameter
[code]
4. Check the ubuntu console version
[code]
**Results:**
Ubuntu console did not upgrade to

[2018-02-02 09:20] kingsd041 opened #2244 "Switch docker version failed"
**RancherOS Version: (ros os version)**
v1.2.0-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

Only switch to docker-17.09.0-ce will fail
[code]

[2018-02-02 09:40] kingsd041 opened #2245 "Custom system docker does not start automatically"
**RancherOS Version: (ros os version)**
v1.2.0-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

**Steps to Reproduce:**
1. Run a system docker and use `--restart = unless-stopped`
[code]
2. reboot

 System docker (nginx) did not start automatically, I can only manually start it

[2018-02-02 11:43] selmison commented on #2235
I've seen what `printk.devkmsg` is  in [https://github.com/torvalds/linux/blob/master/Documentation/admin-guide/kernel-parameters.txt](https://github.com/torvalds/linux/blob/master/Documentation/admin-guide/kernel-parameters.txt).

Where do I see the specific parameters of RancherOS such `rancher.state.dev` and `rancher.state.wait`?

[2018-02-04 06:23] niusmallnan commented on #2244
Clean this dir `/var/lib/rancher/cache/` and try again, it should be fixed.

[2018-02-04 06:34] kingsd041 commented on #2244
Fixed, closed it

[2018-02-04 06:34] #2244 closed

[2018-02-04 06:44] kingsd041 commented on #2144
Tested with RancherOS v1.2.0-rc2
Fixed, closed it.

[2018-02-04 06:44] #2144 closed

[2018-02-05 06:41] niusmallnan commented on #2240
@kingsd041 You can try to test these again.
Our 4.9.78-rancher kernel was compiled by gcc 7.3.0.
I have to use the same gcc version to compile zfs, otherwise the kernel does not recognize the module format.

[2018-02-05 07:27] niusmallnan commented on #2245
Basically, the system-docker just to manage system services.
If users want to manage any `auto-restart` containers,  then can use `ros service`.
http://rancher.com/docs/os/v1.1/en/system-services/custom-system-services/

Our system-docker is based on docker 1.11.2, this version should not support `--restart=unless-stopped`, `--restart=always` should be supported.

So this issue won't be fixed.

[2018-02-05 08:22] niusmallnan commented on #2243
This should be a problem of the previous versions.
I will fix it in 1.2.0, and backport to 1.1.4.

@kingsd041  You can confirm like this:
[code]

Then you can upgrade to any version, and check the console.

[2018-02-05 09:51] niusmallnan commented on #2242
@kingsd041
When  you have a chance, can you ping me on Slack?
I can give you an ISO, you can test this issue again.

If you want to check this case on any public cloud, you can use this image `niusmallnan/os`.
[code]
Then adjust the flavor of your VM.

[2018-02-05 15:09] raztiff opened #2248 "wget broken in rancheros 1.1.3"
**RancherOS Version: (ros os version)**
v1.1.3

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

**Issue**:
- Using `wget` on the default console busy box in rancher os version 1.1.3.
- Trying to use `wget` to make standard web requests that responds with an unexpected error: `wget: error getting response: Connection reset by peer`
- Problem only present for 1.

[2018-02-05 18:40] boistordu opened #2249 "nfs mounting problem"
**RancherOS Version: (ros os version)**
1.1.3
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
kvm-guest

[code]

It doesn't seem to be a problem with the nfs server on the nas nor its firewall.
The manual mounting result in a timeout. Do I need to activate something for nfs to work ?

[2018-02-05 18:41] boistordu opened #2250 "kvm-guest-toolsnot loading at boot"
**RancherOS Version: (ros os version)**
1.1.3
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
kvm-guest

`level=error msg="Failed to load service(kvm-vm-tools): non-200 http response: 404"`

does the service have another name that I need to put in the cloud-config?

[2018-02-05 19:43] jambajaar opened #2251 "UEFI Support in ROS"
UEFI support is a replacement for the old-school BIOS; so that motherboard works alongside during boot.  UEFI enables hardware trust for OS.  So if OS detects someone plugs in something strange or non-compliant, it can react to secure the footprint of the devices.  In use cases where Appliances will be sitting w/zero security so there’s concerns that when machine boots, all hell can break loose so

[2018-02-06 01:00] niusmallnan commented on #2248
It has been fixed. You can try v1.2.0-rc2 or wait for the official v1.2.0.
[code]

[2018-02-06 01:11] niusmallnan commented on #2250
Hi,  you can get rid of `kvm-vm-tools` from `rancher.services_include`.
There is no a service named `kvm-vm-tools`.

In a previous version, we made a hypervisor automatic detection, will automatically load the `<hypervisor>-vm-tools`  service.
But in fact only `open-vm-tools` really exists, It is used with vmware.

[2018-02-06 02:41] kingsd041 commented on #2240
Tested with RancherOS v1.0.5-rc1/v1.1.4-rc1/v1.2.0-rc2.
zfs service is already available.

[2018-02-06 02:41] #2240 closed

[2018-02-06 02:51] niusmallnan commented on #2249
Hi,  you can try like this:
[code]
There's some processes that are not running on a busybox filesystem that are needed if you don't specify these options.

Here is my result:
[code]

[2018-02-06 03:15] kingsd041 commented on #2242
The issue has been fixed, use 1G memory can launch the instance.

[2018-02-06 03:15] #2242 closed

[2018-02-06 03:35] 0mdb opened #2252 "r"
**RancherOS Version: (ros os version)**

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

[2018-02-06 04:16] kingsd041 commented on #2243
The issue has been fixed.
I can use "--upgrade-console" to upgrade the console to the latest version.

[2018-02-06 04:16] #2243 closed

[2018-02-06 04:21] kingsd041 commented on #2245
@niusmallnan Thanks for your comment, I will close it

[2018-02-06 04:21] #2245 closed

[2018-02-06 05:18] #2252 closed

[2018-02-06 11:14] boistordu commented on #2250
ow okey so there is no interaction possible with qvm for shutdown vm then ?

[2018-02-06 11:44] raztiff commented on #2248
Thanks for the update!

Do we have a timeframe on the official 1.2.0 release, thanks again @niusmallnan

[2018-02-06 19:05] dramich commented on #2153
This has been resolved in the [latest release](https://github.com/rancher/dapper/releases/latest)

[2018-02-06 19:05] #2153 closed

[2018-02-07 06:04] niusmallnan commented on #2248
We have shipped v1.2.0

[2018-02-07 06:04] #2248 closed

[2018-02-07 07:12] niusmallnan commented on #2235
Sometimes the user's host may not only a hard disk, and one of the hard disks have been installed RancherOS.
The user can use the label set by `rancher.state.dev` to find the hard disk, this feature is useful if you want your data to be persistent on your hard drive.

For example, you use the following parameters:
[code]
Then the first PXE boot formatted the hard disk and the RancherOS installed o

[2018-02-08 10:11] niusmallnan commented on #2192
Hi @allingeek ,

I added some files including the release artifacts, you can use like this:
[code]

Not sure whether this can mitigate your problem.

For us, it is expensive to maintain a webhook server.
Do you know which public services can support webhook server? if so, feel free to let me know.

[2018-02-08 22:44] boistordu commented on #2249
you were right, that was the problem. so should I put it as a boot cmd in the cloud-config or is it another way?

[2018-02-09 01:22] niusmallnan commented on #2249
Refer to this: http://rancher.com/docs/os/v1.2/en/configuration/running-commands/
I think `runcmd` is better, it's up to you.

[2018-02-09 11:07] oicheryl commented on #2153
Can confirm this release solves my issue. Thank you @dramich!

[2018-02-09 11:21] boistordu commented on #2249
sorry to disturb you again but how do you delete part of a configuration already merged? like my bootcmd part and my kernel-vm-tools part, I didn't find anywhere how to remove something properly...

[2018-02-09 12:41] niusmallnan commented on #2249
You can edit  this file `/var/lib/rancher/conf/cloud-config.yml`.

[2018-02-10 03:19] #2098 closed

[2018-02-10 03:20] niusmallnan commented on #2082
Related to https://github.com/rancher/os/issues/2188

[2018-02-10 03:20] #2082 closed

[2018-02-10 03:21] niusmallnan commented on #2072
Fixed https://github.com/rancher/os/issues/2240

[2018-02-10 03:21] #2072 closed

[2018-02-10 03:22] niusmallnan commented on #2028
Fixed by https://github.com/rancher/os/issues/2240

[2018-02-10 03:22] #2028 closed

[2018-02-10 03:24] niusmallnan commented on #900
shoule be fixed by https://github.com/rancher/os/issues/2183

[2018-02-10 03:24] #900 closed

[2018-02-10 03:35] niusmallnan commented on #2241
I don't have a windows, not sure whether caused by rufus.
Later I will try to reproduce it.

[2018-02-10 22:09] chrahunt opened #2253 "udev not in system logs"
**RancherOS Version: (ros os version)**

1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

baremetal

`udevd` running in the `udev` system container logs using `/proc/kmsg`. Currently in order to view the `udevd` logs it is necessary to execute `dmesg`.

It would be nice if these logs were available in the output of

[code]

as well as via syslog. This probab

[2018-02-10 22:14] chrahunt commented on #2253
#850 could have used this information.

[2018-02-11 10:21] #1644 closed

[2018-02-11 10:22] niusmallnan commented on #1644
Fixed by https://github.com/rancher/os/issues/2210

[2018-02-11 10:29] #1988 closed

[2018-02-11 15:17] vainkop opened #2254 "RancherOS starts another default rancher/server:latest container on boot."
**RancherOS Version: (ros os version)** 1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS (from Marketplace) upgraded to 1.2.0

I have a Rancher/server container running on a non-default 4444 port with
`docker run -d --restart=unless-stopped -p 4444:8080 -p 9345:9345 rancher/server --db-host xxxx-1.cluster-xxxx.xxxx-xxxx-1.rds.amazonaws.com --db-port 3306

[2018-02-11 16:26] kapolos commented on #2232
Running rancher server directly worked, thank you @niusmallnan 👍

[2018-02-11 16:26] #2232 closed

[2018-02-12 01:16] niusmallnan commented on #2254
If you change -p 8080:8080 to expose the HTTP port to a different port on the host, you will need to add --advertise-http-port <host_port> to the command.

[2018-02-12 08:52] vainkop commented on #2254
@niusmallnan any comments on how to disable a default container starting after reboot?

[2018-02-12 22:26] Shifter2600 commented on #2241
I am having the same issue.
Would this be related to setting up another computer with the same USB as the initial one. This is my 2nd install. The 1st one went fine. Is there anything changed on the USB after the initial that would cause the 2nd to fail?

[2018-02-13 01:13] niusmallnan commented on #1454
We have used the buildroot 2017.02, it's an LTS version.

[2018-02-13 01:13] #1454 closed

[2018-02-13 01:52] #1546 closed

[2018-02-13 03:14] niusmallnan opened #2255 "Upgrade system docker to a newer stable version"
Our current system docker is based on docker 1.11.2, https://github.com/rancher/docker/commits/system-docker-v1.11.2

We need to upgrade it to solve a lot of legacy issues.

Related issues:
https://github.com/rancher/os/issues/2163
https://github.com/rancher/os/issues/2165

[2018-02-13 03:33] Shifter2600 commented on #2241
A little more on the issue. On the 1st machine I do have a cd/dvd drive so there is a /dev/sr0 mounted.
But on my other machines there is not. And it'sa these other machines that I am getting these errors.

[2018-02-13 03:42] Shifter2600 commented on #2241
So :s I guess if you don't have a /dev/sr0 just sudo mkdir /dev/sr0 and problem solved.

[2018-02-13 07:13] niusmallnan commented on #2235
If you have any problem, pls file another issue.

[2018-02-13 07:13] #2235 closed

[2018-02-14 02:28] niusmallnan commented on #2177
The users want a `Rancher in Rancher` case.
![image](https://user-images.githubusercontent.com/998984/36184878-4b37fb10-1171-11e8-8073-96783c126261.png)

The user-docker-1 starts root Rancher, and user-docker-2 starts child Rancher.
The user-docker-1 and user-docker-2 are shared host network stacks, so also share the same iptables.

This usage has the following problems:
1. There will be multiple

[2018-02-14 12:26] SamMousa commented on #2241
I can confirm that this workaround works!

[2018-02-14 16:00] eyespies commented on #2241
I just experienced this exact issue when trying to install Rancher OS as a KVM guest under entperise Linux. The suggested work around also allowed me to move past this issue. Just wanted to note that this is not limited to Rancher OS on Windows hosts.

[2018-02-14 16:19] shawly opened #2256 "zfs datasets won't get mounted after reboot"
**RancherOS Version: (ros os version)**
1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal

**cloud-config.yml**

[code]

So I've been trying to set my user-dockers root to a zfs dataset, just like described within the RancherOS docs.
The problem is, after a reboot, it seems like docker gets started before the zfs service, so it tries to create some f

[2018-02-14 19:37] mvallerie commented on #84
+1

[2018-02-16 10:10] SamMousa opened #2257 "Can't install on unpartitioned drive"
RancherOS Version: v1.2.0
Running on a VPS with an unpartition drive as `/dev/vda`.
Booted via PxE, trying to install with:
`sudo ros install -c cloud-config.yml -d /dev/vda`.

Get:
[code]

Blkid exit status 2 means no disk found or token not found.

The issue in this case is the lack of a partition table on `/dev/vda`.

@superseb suggested the boot param `autoformat` as a solution. (http://ranche

[2018-02-16 18:28] #1648 closed

[2018-02-20 09:57] drakenator opened #2258 "System cron service memory leak"
**RancherOS Version:** v1.2.0
**Where are you running RancherOS?** VMs, Bare metal, cloud, everywhere it will run.

The system container cron service (`system-cron`) appears to have a memory / fd leak. This is more noticeable on systems with higher uptimes.

[code]
[code]
Compare this to when the process has just started:
[code]
[code]
This might be solved by version [v0.3.0](https://github.com/ra

[2018-02-20 11:19] aschrijver commented on #2244
I have the same issue with RancherOS `v1.1.0` and `/var/lib/rancher/cache` is empty.

[2018-02-20 17:30] lost-carrier commented on #2258
I think I see the the memory issue as well... 770MB used by the container-crontab after about 5 days of uptime...

```system-docker restart system-cron``` freed that memory...

[2018-02-21 14:51] eyz commented on #2156
I would love to test a LinuxKit-based RancherOS. I think the provisioning pieces of LinuxKit may also be a good fit, instead of using the Docker Machine model.

[2018-02-21 15:38] ibuildthecloud commented on #2156
@eyz We've done quite a bit of work and analysis to move RancherOS to be LinuxKit based.  In the end I don't think we will go forward with it.  While there could be some advantages to using LinuxKit it doesn't address any of our current issues.  LinuxKit ends up being a nice to have.  So I don't completely rule out using it, the advantages are just very much tangential to what we need.

We have ev

[2018-02-21 15:46] eyz commented on #2156
@ibuildthecloud Thanks for the reply. Yes, it sounds like it's a good idea to wait for the containerd space to settle a bit. LinuxKit is especially under heavy development, and I certainly understand wanting to keep things light, as well. I'm happy to see there is a roadmap of sorts for RancherOS, and I look forward to testing Rancher 2.x in the near future.

[2018-02-22 00:33] Iodun opened #2260 "Can't use mmcblk0 as RANCHER_STATE partition on UDOO X86"
**RancherOS Version: (ros os version)**
v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
UDOO X86 (Embedded Computer)

I am trying to run RancherOS on my UDOO X86 Cluster and wanted to use the onboard eMMC flash memory for RANCHER_STATE persistence.
This doesn't seem to work, because the following kernel modules are missing (only available in the rancher/os-

[2018-02-22 02:40] niusmallnan commented on #2244
@asabanovic
We did not support docker-17.09.0-ce in RancherOS v1.1.0
https://github.com/rancher/os-services/tree/v1.1.0/d

[2018-02-22 03:09] niusmallnan commented on #2257
Hi, have you tried to add these options to your iPXE config?
`rancher.state.autoformat=[/dev/vda] rancher.state.dev=LABEL=RANCHER_STATE rancher.state.wait`

I think you might miss the `rancher.state.wait`.

[2018-02-22 03:16] niusmallnan commented on #2260
I do not have this test environment.

You can build your own kernel with this repo: https://github.com/rancher/os-kernel
the base kernel modules: https://github.com/rancher/os-kernel/blob/master/modules.list
the extra kernel modules: https://github.com/rancher/os-kernel/blob/master/modules-extra.list

If you can compile your kernel, you can update this config in `rancher/os ` repo.
https://github.

[2018-02-22 04:21] bt opened #2261 "VMware ESXi 6.5 - No Network During Boot"
**RancherOS Version**
v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VMware ESXi 6.5

I'm not sure if I'm configuring this incorrectly (first time using Rancher) but basically what I'm doing is this:

1. Downloaded the ISO for RancherOS from GitHub releases.
2. Uploaded into a datastore on my ESXi server.
3. Created VM in ESXi with 8 vCPU, 8GB RAM, 120GB D

[2018-02-22 05:38] #2192 closed

[2018-02-22 06:10] niusmallnan commented on #2261
You can try to do this:

The fifth step can use this command:
`sudo ros install -c cloud-config.yml -d /dev/sda --append rancher.hypervisor_service=false`
The `rancher.hypervisor_service=false` does not enable open-vm-tools during startup.

If you really need open-vm-tools, you can turn it on after ros has been fully started.

[2018-02-22 06:17] bt commented on #2261
That would probably work, but doesn't that just make it redundant to include `open-vm-tools` as part of the bootup?

Any idea what is causing this issue? Is my configuration `ie. RancherOS inside ESXi virtualisation` actually supported?

[2018-02-22 06:29] SamMousa commented on #2257
I'll try; regardless of what workaround works, the error message needs to be more informative...

[2018-02-23 19:58] Iodun commented on #2260
Many thanks for the hints!
Managed to create a modified kernel and built a rancheros.iso with it.
RancherOS works properly on UDOO x86 with following change:

https://github.com/rancher/os-kernel/pull/57

[2018-02-23 23:32] ibuildthecloud commented on #2260
@Iodun Now I want to buy a UDOO x86.

[2018-02-24 18:06] Iodun commented on #2260
@ibuildthecloud
Very unique board and absolutely worth the money.
Only downside is the M.2 slot that just supports 2260 and not 2280 module format.
Thanks for the support to get my pull request merged. :)

[2018-02-26 20:42] flak3 opened #2262 "Accessing any port takes ~2 minutes"
**RancherOS Version: (ros os version)**
v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM virtual server with 4 GB RAM and 2 vCores.

Everytime I am logging into my RancherOS instance with SSH it takes two minutes till I'm actually logged in. Had this with the Fedora and Alpine consoles. Console did not log any errors. Resource consumption does not change

[2018-02-26 22:26] #2262 closed

[2018-02-26 22:27] flak3 commented on #2262
I found out RancherOS did not add my ipv6 gateway to the route, this issue is already being handled #1975.

[2018-02-26 23:06] flak3 commented on #1975
The workaround didn't work for me, I "solved" the problem by adding this to the cloud-config:
[code]
Your solution did not work for me because when the startup scripts are executed, the network might not be ready yet, so in my case, the changes were not actually applied.

[2018-02-27 06:08] jambajaar commented on #2251
@allingeek -- could you clarify on the scope of what is needed?

[code]

[2018-02-27 18:17] ryansch opened #2264 "write_files into rancher home dir changes permissions to root:root"
**RancherOS Version: (ros os version)**
v1.2.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

- Follow the instructions here: http://rancher.com/docs/os/v1.2/en/configuration/private-registries/#docker-client-authentication
- Observe that /home/rancher is owned by root:root on boot

We didn't observe this behaviour with `write_files` on 1.1.x.

[2018-02-27 23:26] allingeek commented on #2251
@jambajaar I just did a whole afternoon of reading on this subject to make sure I have a solid foundation for the request. We're really looking at two/three things. First, a native-UEFI boot loader at a minimum. As I understand it this will empower us to control firmware from the OS level. Second/third, secure boot and [Static Root of Trust Measurements](https://docs.microsoft.com/en-us/previous-v

[2018-02-28 04:23] niusmallnan commented on #2264
You can change the `owner` you want
[code]

[2018-02-28 05:41] ryansch commented on #2264
Sorry I left that out. The file is owned by rancher:rancher but all of the enclosing directories are owned by root:root.

[2018-02-28 18:33] rommik commented on #941
Is it possible to remove autologin after installation and set rancher password?

[2018-02-28 18:38] rommik commented on #1858
I think I'm chasing huggla on various sites now. I've seen the name before. :)

The case where I would like to have autologin disabled:
I want to install rancher on a VM, and distribute it to users that should not go into the VM. They will boot it up and set all needed settings for the virtualization. That's my case. Is it possible to disable auto login in the recent version?

[2018-02-28 22:00] huggla commented on #1858
I've thought of that too. It would be cool to go totally server-less, having all common services distributed among ordinary desktop computers (in theory at least).

I don't know how to disable auto login though.

[2018-03-01 19:03] brod55 commented on #2251
@jambajaar RancherOS does run UEFI with legacy mode enabled, however "ros install" does not support installing on a UEFI nor create a UEFI partition to boot the machine.  To demonstrate that it does boot with a UEFI partition when the BIOS is in UEFI only; mode we manually created a UEFI boot partition and reused other efi bootloaders to chain boot RancherOS.  So additionally the request it to mak

[2018-03-01 19:24] jambajaar commented on #2251
Thx @allingeek @brod55 for the details.  We should have an update by next week.

[2018-03-02 16:26] Nickersoft opened #2265 "Urgent help logging into recovery console"
**RancherOS Version: (ros os version)**
I forget, and would check but I can't login. I'm deploying via Vultr, and the built-in Vultr RancherOS ISO is v1.1, so there's a good chance it's that.

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Vultr

I recently restarted my Vultr server and found I couldn't SSH and all my Rancher sites were down. Logging into the Vult

[2018-03-02 20:21] rbucker commented on #2214
I would like to reopen this issue as it is back in RancherOS 1.20. Although it works in ROS 1.10.

[code]

[2018-03-03 13:47] Mambix opened #2266 "[os-images] custom console"
**RancherOS Version: (ros os version)**
v1.1.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal

How do I create my custom os-console container?
For my test machines I often need to edit and move data around while testing/experimenting and I would like a permanent installation of midnight commander on my rancher machines. It is my understanding that I wou

[2018-03-04 21:51] prologic opened #2267 "qemu-guest-agent"
**RancherOS Version: (ros os version)**

[code]

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**

[code]

----

Neither the `open-vm-tools` nor the `kvm-vm-tools` seem to play nicely with Proxmox VE and QEMU guests here.

[code]

## What I did to work-around this and get this working?

`. Switch consoles to something sensible

[code]

2. Install the `qemu-guest-age

[2018-03-05 05:55] #2260 closed

[2018-03-05 07:20] niusmallnan commented on #1039
I will support these configurations:
[code]
Users can use these in the cloud-config file.

[2018-03-05 09:33] niusmallnan commented on #1131
The most simple way to delete the `/var/lib/rancher/resizefs.done` file.
After reboot your VM, RancherOS can resize the device again.

[2018-03-05 09:33] #1131 closed

[2018-03-05 09:40] #1806 closed

[2018-03-05 10:57] openhs commented on #2119
I have this problem without nfs.  It behaves exactly as described.  Reproducible also with v1.2.0.  Host is a Xen virtual machine.

[2018-03-05 13:33] jwillmer opened #2269 "SSH into RancherOS"
**RancherOS Version: (ros os version)**
v1.1.4

**Where are you running RancherOS?**
Hyper-V

How can I ssh into rancher after boot from the ISO file? I get that the default password was removed but I can't use copy&paste in Hyper-V console to setup a RSA key. So I need a ssh connection first in order to use copy&paste.

[2018-03-05 14:54] jwillmer commented on #2269
- I created a gist on GitHub with the cloud-config settings.
- I used goo.gl link shortener to get a link I could quickly type
- I downloaded the file to the system via wget
- I used the following command to permanently install RancherOS on the virtual drive:
`sudo ros install -c cloud-config.yml -d /dev/sda`

[2018-03-05 14:54] #2269 closed

[2018-03-06 03:18] niusmallnan opened #2270 "Bump the kernel to 4.15.x"
Now 4.15.x is  the current stable branch.
https://www.kernel.org/

[2018-03-06 03:21] niusmallnan opened #2271 "Bump the buidroot to 2018.02"
The latest stable and long term support release is 2018.02 .

[2018-03-06 10:07] niusmallnan commented on #2178
I will support this feature in v1.3.0, users can config a global image prefix:
[code]

[2018-03-06 14:26] rbucker opened #2273 "ros console not working"
**RancherOS Version: (ros os version)**
1.2.0 running in VMWare and created with docker-machine

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal VMware ESXi 6.5 (2017-12)

[code]

No matter what I do ``` sudo ros console switch -f alpine ``` does not change the console. I also tried ``` enable ``` with a reboot and the default remained the same.

[code]

[2018-03-06 14:52] rbucker opened #2274 "ros config -- documentation"
**RancherOS Version: (ros os version)**
1.2.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
vmware

when updating config like nameservers
[code]

where in the flow of things is the ```/etc/resolv.conf``` updated?

[2018-03-06 14:57] Coada opened #2275 "open-vm-tools fail to automatically fetch"
**RancherOS Version: (ros os version)**
v1.2.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
vSphere

So it seems that was working fine yesterday, but not anymore. RancherOS properly detects it is running on a vSphere installation and attempts to install open-vm-tools but fails:

Pretty sure it is related to https://github.com/rancher/os-services/pull/152

Doing

[2018-03-06 22:14] vancluever opened #2276 "Problem building on Docker 1.13.1"
I'm having issues building using Docker 1.13.1 (ie: using `make run`).

Looks like the base image `Dockerfile` is trying to delete `/run` wholesale, which is failing due to the presence of `/run/secrets`, a [feature](https://docs.docker.com/engine/swarm/secrets/) present in Docker >= 1.13.

I have the following quick and dirty patch which fixes it, just felt like opening an issue would be better s

[2018-03-07 06:32] niusmallnan commented on #2275
This PR is updated to master branch.
If you worked on RancherOS v1.2.0, it should use v1.2.0 branch of os-services.

[2018-03-07 21:45] #2238 closed

[2018-03-07 21:54] fxkr opened #2278 "System broken after upgrade: /var/lib/docker contains several valid graphdrivers"
**RancherOS Version: (ros os version)**
v1.1.3 -->  sudo ros os upgrade --> v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VM (on qemu/kvm/libvirt) in a test lab (not a production system)

The user docker daemon is not running and /var/log/docker.log from point of current boot reads like this (variations of last two lines repeat a number of times):
[code]

[2018-03-08 02:27] niusmallnan commented on #2278
Please refer to this: https://github.com/rancher/os/issues/2194#issuecomment-356553260

[2018-03-08 03:50] Jason-ZW opened #2279 "Run trash error"
**RancherOS Version: (ros os version)**
master branch

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VirtualMachine on Parallels

**Issue Details**
Build form source. Running trash command error, the log as below:
[code]

[2018-03-08 03:52] Jason-ZW commented on #2279
I think it shoud be modifed like this in trash.conf:
[code]

[2018-03-08 06:48] niusmallnan commented on #2279
It does not make sense. I didn't get these errors.

[2018-03-08 08:05] #2279 closed

[2018-03-08 08:53] niusmallnan commented on #2266
For default console, we use the busybox, you can refer to these two projects:
- https://github.com/rancher/buildroot
- https://github.com/rancher/os-base

For other consoles, you can check in `os-services`:
https://github.com/rancher/os-services/tree/master/images

[2018-03-08 08:57] niusmallnan commented on #2276
What's the problem? Can you please show me a demo?

[2018-03-08 09:00] niusmallnan commented on #2274
After you reboot, `/etc/resolv.conf` can be updated by your config.

[2018-03-08 09:04] niusmallnan commented on #2273
I can not reproduce on GCE.

Can you please manually run `ros console switch -f alpine` on your setup?
I want to see if there are some error logs.

[2018-03-08 11:19] Mambix commented on #2266
@niusmallnan thanks 👍

[2018-03-08 11:31] Mambix commented on #2266
@niusmallnan is there an easy way to add custom console to the list in ros or do I need a custom ros build for this?

[2018-03-08 11:31] fxkr commented on #2278
So according to #2194, it should keep working if /var/lib/docker/overlay2 doesn't exist. I would expect this directory to not exist after the ros upgrade. However it does exist now:

[code]

I suppose I can recover by removing either of them, which works fine for me. Feel free to close this issue if you're not interested in fixing your upgrade path. Otherwise let me know if there's anything I can

[2018-03-08 12:19] Jason-ZW commented on #1548
Reproduce：
1. sudo ros config set rancher.repositories.roastlink.url https://roastlink.github.io
2. found cache file from /var/lib/rancher/cache
3. edit file as below:
'''
services:
- concourse
- devconsole
- docker-compose
- http-proxy
- nginx
- pihole
- registry-mirror
- sven
#- vm-tools
consoles:
#- alpine
engines:
#- docker-1.12.3
'''
4. run `sudo ros service list`

[2018-03-08 12:36] rbucker commented on #2273
Thanks ... before I put together this script I had executed the steps manually and was not able to get the switch to work.... I provided the script as a way to describe my environment. In my initial experience the ```console switch``` prompted me with the ```y/n``` etc... but never executed the switch...

ALL THAT SAID... I just ran the command AGAIN and it worked. So I'm closing the issue.  Thank

[2018-03-08 12:36] #2273 closed

[2018-03-08 22:41] vancluever commented on #2276
Relevant section:

[code]

[2018-03-09 01:18] niusmallnan commented on #2266
If you run `ros console list`, it should read contents from the `index.yml` of `os-services`.
Different ROS versions will visit the corresponding branch of `os-services`.

You can modify the `/usr/share/ros/os-config.yml` file in your setup, just focus on the `rancher.repositories.core.url`.

[2018-03-09 15:01] Jason-ZW commented on #2109
@SvenDowideit @niusmallnan  Hi all, i have built an iso base on revision number `19a8103` and this issue can not be reproduce.

[2018-03-09 19:09] nrogoff commented on #84
+1

[2018-03-10 05:45] pshendry opened #2280 "Remove Raspberry Pi 2 from documentation since it is no longer supported"
The docs on [installing RancherOS on Raspberry Pi](http://rancher.com/docs/os/v1.2/en/running-rancheros/server/raspberry-pi/) say that the Pi 2 and 3 are "tested and known to work".

32-bit support was dropped, and consequently so was support for the Pi 2, so the docs should recommend only the Pi 3.

[2018-03-10 16:56] steve-taylor commented on #941
I have exactly the opposite problem. RancherOS refuses SSH login, insisting that a password be entered.

[2018-03-11 14:59] pwFoo opened #2282 "Unpacking initramfs takes ~30 seconds, boot time ~ 1 minute?"
**RancherOS Version: (ros os version)**
v.1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
Installed on baremetal Dell notebook (i5 @ 2.30GHz, 16GB RAM, SSD).

Boot to shell needs round about 1 minute to boot up?
[code]

[2018-03-12 01:09] #2109 closed

[2018-03-12 01:24] niusmallnan commented on #941
You can update the kernel parameters to disable the `autologin`  setting

[2018-03-12 01:50] niusmallnan commented on #2282
I boot a VM(1CPU,  2GB RAM) on Virtualbox took about 30s.
[code]

[2018-03-12 02:40] ivanfilippov opened #2283 "RancherOS on ESXi 6.5: Waiting for SSH"
**RancherOS Version: (ros os version)**
v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
VMWare ESXi 6.5

I'm trying to launch RancherOS on ESXi 6.5 via the Rancher Web UI but I'm getting stuck on "Waiting for SSH". I've tried to launch an instance via docker-machine manually and get the same problem.

I believe the issue is that docker-machine is unable to

[2018-03-12 03:32] josmo opened #2284 "Cloud-config doesn't seem to work with encoding: "gz+b64" or encoding: "gzip+base64""
**RancherOS Version: (ros os version)**
ros version v1.0.1
also tried version v1.2.0 from os image rancher/os:v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

While trying to use user-data with gzip/base64 encoding for the content it seems to ignore gzip.
  tried encoding set to gz+b64 or gzip+base64
[code]
expected:
creates /home/rancher/vpn_server.con

[2018-03-12 04:40] Jason-ZW commented on #2276
@vancluever Can't reproduce this issue.Could you please give more detail such as `uname -a` & `docker info`. Maybe it's a problem relate to:
[moby filesystem issue](https://github.com/moby/moby/issues/27358)
[redhat filesystem](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/7.2_release_notes/technology-preview-file_systems).

[2018-03-12 08:24] thaJeztah commented on #2276
Those secrets are only used when deploying a service that uses a secret (`--secret ....`). You may be running the Red Hat fork of Docker, which has the [Add-RHEL-super-secrets-patch](https://github.com/projectatomic/docker/tree/docker-1.13.1#add-rhel-super-secrets-patchpatch), and definitely can cause issues like this; https://github.com/projectatomic/docker/commit/4402c09586c72e0c32b90d72bd24304f

[2018-03-12 13:58] fredrikbergstrompricer commented on #2275
When looking at the Dockerfile.dapper file in the 1.2.x branch I don't really see how we can override the REPO_VERSION, it's set to `master`.

https://github.com/rancher/os/blob/efad6c320f7d25c3b0bcb64bed0554052adae15e/Dockerfile.dapper#L118

Shouldn't that be set to point to the corresponding release branch?

[2018-03-12 15:45] vancluever commented on #2276
@thaJeztah indeed I'm running on Fedora.

[2018-03-12 19:34] bjfr commented on #2275
I have the same problem building the ISO using the code in tag 1.0.3! Looking at https://github.com/rancher/os/blob/v1.0.3/os-config.tpl.yml

[code]
and https://github.com/rancher/os/blob/v1.0.3/Dockerfile.dapper

[code]

all builds seems to go against master! Even the older ones!

[2018-03-13 09:52] niusmallnan commented on #2165
In RancherOS, services include the following:
![image](https://user-images.githubusercontent.com/998984/37334578-3ec018f0-26e7-11e8-95fe-f5360826d402.png)

1. ros-system-services. These are system built-in services, started in system-docker. We use libcompose to control the startup order, as we know, libcompose can't wait a `ready` state. In fact, we have already ensured in the design that their s

[2018-03-13 19:27] hbokh commented on #2257
@niusmallnan I tried your options, but they do not seem to work overhere. These are the errors when installing on an unpartitioned disk on a Proxmox VM:

[code]

It seems `/dev/sda` is mounted at boot-time.
For now I use these option in my PXE-boot, followed by @SamMousa 's fdisk-hack:

`APPEND initrd=rancheros/initrd rancher.state.autoformat=[/dev/sda,/dev/vda] rancher.state.dev=none -- rancher.c

[2018-03-14 02:03] niusmallnan commented on #2275
Check your `/usr/share/ros/os-config.yml` file in your setup, you can update the value of `repositories.core.url` .

@fredrikbergstrompricer @bjfr  When we ship a new release, we will use the latest tag version to replace `REPO_VERSION `.  Check the `scripts/release` script:
[code]

[2018-03-14 07:11] niusmallnan commented on #2257
Before you run `ros install`, can you please show me the output about `blkid`?

[2018-03-14 16:06] nurtext opened #2286 "RancherOS: No network communication from inside the instance"
**RancherOS Version: (ros os version)**
RancherOS 1.2.0 / ami-29422646 (eu-central-1)

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
aws, created by `rancher/server:stable` using EC2 machine-driver.

**Problem**
From inside the rancherOS EC2 instance I can't connect to the outside world (e.g. VPC subnet, Internet, etc.). IGW and SGs are properly setup, other inst

[2018-03-14 20:04] hbokh commented on #2257
@niusmallnan I could try that some time later: now that RancherOS is running with some workloads, I'd rather not format the disk and re-install it.
Besides: disk `/dev/sda` was mounted at boot-time, so the installation was "doomed" anyway.

[2018-03-15 02:24] niusmallnan commented on #2255
We have upgraded the system-docker to docker-ce 17.06.
[code]

[2018-03-15 02:30] niusmallnan commented on #2241
I don't have a test setup, will be cool if anybody can help me to verify this issue.
Just to use [rancheros v1.3.0-rc1](https://github.com/rancher/os/releases/download/v1.3.0-rc1/rancheros.iso)

[2018-03-15 03:13] niusmallnan commented on #2286
I can not reproduce this issue.
[code]

[2018-03-15 17:48] doprdele commented on #1637
+1

[2018-03-15 20:54] lost-carrier commented on #1637
+1

[2018-03-16 01:34] spikespaz opened #2287 "Mount shared folders from VMware to be usable by Docker conatiners"
I want to mount two shared folders from VMware, `Music` and `Videos`. The package `open-vm-tools` is installed and enabled.

I have run this to test the mount:

    sudo vmhgfs-fuse .host:/ /home/rancher/

Does not work. How can I mount the shared folders to be available to docker containers?

**RancherOS Version: (ros os version):** Latest as of writing, 1.3

**Where are you running RancherOS? (d

[2018-03-16 02:31] niusmallnan opened #2288 "Enhance boot speed"
After several iterations, the boot speed of RancherOS has decreased significantly.

The main factor is that RancherOS needs to load `images.tar` three times.

[2018-03-16 02:41] niusmallnan commented on #1075
We will upgrade the system-docker, it can support overlay2.
https://github.com/rancher/os/issues/2255

[2018-03-16 04:17] kingsd041 opened #2289 "Use `ros config set rancher.ssh.port 2222` to modify ssh port, the default port (22) still exists"
**RancherOS Version: (ros os version)**
[code]
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine

I try to modify the ssh port in the ubuntu console and run `ros config set rancher.ssh.port 2222`. After waiting for rancheros to restart and checking the ssh port, I can get two ssh ports (22 and 2222).

[code]

[2018-03-16 04:24] kingsd041 opened #2290 "Got some error message before downloading docker images"
**RancherOS Version: (ros os version)**
v1.3.0-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine

There was some error message `ERRO[0002] Missing the image: Error: No such image: docker.io/rancher/os-ubuntuconsole:v1.3.0` when switching to ubuntu console. But it can be switched successfully

Here is my operation record:
[code]

[2018-03-16 04:41] kingsd041 opened #2291 "Unable to cancel ssh port setting"
**RancherOS Version: (ros os version)**
v1.3.0-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
docker-machine
**Steps to Reproduce:**
1. Switch to Ubuntu Console
2. Run `ros config set rancher.ssh.port 2222` to set the ssh port to 2222,  Due to issue #2289, I can see both ssh ports at the same time
3. Edit `/var/lib/rancher/conf/cloud-config.yml` to remove `por

[2018-03-16 05:06] srinidhikasagar opened #2292 "Booting custom built Rancher kernel"
**RancherOS Version: (ros os version)**
v1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
x86 Bare metal

Hello - I have a x86 NUC board. I have installed Rancher v1.2.0 release by downloading rancher.iso file.
It boots and works. Now that I want a specific kernel (say kernel version 4.9.75) and want to apply few patches to the kernel and built it. Now I want

[2018-03-16 06:32] kingsd041 commented on #2290
This prompt is normal because it prompts local without this image.

[2018-03-16 06:37] niusmallnan commented on #2292
Hi,
We build the kernel by using this repo. https://github.com/rancher/os-kernel

You can change the kernel here.
https://github.com/rancher/os/blob/master/Dockerfile.dapper#L67

Then run `make` to build your own RancherOS.

[2018-03-16 06:58] kingsd041 commented on #1039
Tested with rancheros-v1.3.0-rc1.
In v1.13.0-rc1, configuring ssh port and listenaddress in cloud-config is already supported

[2018-03-16 06:58] #1039 closed

[2018-03-16 07:02] niusmallnan commented on #2289
For other consoles,
all files are persistent, users can modify sshd-config by themselves.

`rancher.ssh.port` is designed for default console, because the users change sshd-config, restart the host will restore the default. The new configuration will not take effect.

[2018-03-16 07:10] kingsd041 commented on #2289
Ok, I close it

[2018-03-16 07:10] #2289 closed

[2018-03-16 07:12] kingsd041 commented on #2291
Same reason as #2289
Close it.

[2018-03-16 07:12] #2291 closed

[2018-03-16 07:35] kingsd041 commented on #2178
Tested with rancheros-v1.3.0-rc1.
The use of `ros config set rancher.environment.REGISTRY_DOMAIN xxxx.yyy` to configure the image prefix is now supported.

Like below:
[code]

[2018-03-16 07:35] #2178 closed

[2018-03-16 08:02] kingsd041 commented on #2163
Tested with rancheros-v1.3.0-rc1
@aemneina
I did not reproduce this issue, but I saw that the system-docker of rancheros-v1.3.0-rc1 was upgraded to 17.06. I think this issue can be closed. If you still have doubts, please reopen it and let me know.

[2018-03-16 08:15] kingsd041 commented on #2270
The default kernel in rancheros-v1.3.0-rc1 has been upgraded to 4.15.9.
[code]

[2018-03-16 08:15] #2270 closed

[2018-03-16 09:12] #2271 closed

[2018-03-16 09:20] tisoft opened #2293 "Add ip6tables to rootfs and make available in system containers"
It would be great to have ip6tables available at the same places where iptables is available currently.
Currently that seem to be the console and network containers.

The neccessary kernel modules are already there:
[code]

**RancherOS Version: (ros os version)**
1.2.0

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
baremetal

[2018-03-16 10:00] niusmallnan commented on #2163
Keep this reopen.
I have got a image list from users, will try to reproduce it again.
If possible, I want to be 100% sure that we have addressed this issue.

[2018-03-16 10:12] niusmallnan commented on #2293
We have not fully supported IPV6 yet, but add the `ip6tables` command should be easy.

[2018-03-16 10:17] niusmallnan opened #2294 "Code refactoring about install and upgrade"
Need to clean up some legacy code

[2018-03-18 23:19] prologic opened #2295 "loading kernel modules with parameters"
The code that is responsible for loading kernel modules from the `rancher.modules` list does not support loading parameters: https://github.com/rancher/os/blob/82aaa413f5eaacff4ce22ead741d82a2b4b6062a/init/init.go#L43-L72

Can we make it support this?

Use-case:

[code]

[2018-03-19 03:50] kingsd041 commented on #1075
In v1.3.0-rc1 version, system-docker uses overlay2 storage driver by default.
I have tested the upgrade from v1.1.0 and v1.2.0 to 1.3.0-rc1 and it works fine.

[2018-03-19 03:50] #1075 closed

[2018-03-19 14:12] igormrbean commented on #1698
I'm running into the exact same issue with 1.2.  I have exported the open-vm-tools from dockerhub, and placed the .tar.gz under /var/lib/rancher/preload/system-docker/  When the VM boots, it detects it, and try to load the open-vm-tools image in system-docker (which appararently it does, according to logs, and the .done), but when open-vm-tools kicks in, it pulls the same image from dockerhub.  If

[2018-03-19 17:21] igormrbean opened #2297 "Timing issue when using image preload"
**RancherOS Version: 1.2.0**

**Where are you running RancherOS? vmware**

I'm preloading my images on my image that I'm creating. For this, I use a script similar to "scripts/run-install", to install on a virtual disk, and then, I mount it, to put my custom tar.gz images into /var/lib/rancher/preload/docker/.  I have a cloud-config.yml that defines a custom service, which uses the image from the

[2018-03-20 03:53] kingsd041 commented on #2241
Fixed in rancheros-v1.3.0-rc1, below is my test record
[code]
[code]

[2018-03-20 03:53] #2241 closed

[2018-03-20 09:23] kingsd041 opened #2298 "Without the "-upgrade-console", ubuntu control should not be upgraded."
**RancherOS Version: (ros os version)**
v1.2.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

**Steps to Reproduce:**
1. Launch rancherosv1.2.0 instance
2. Switch ubuntu console
[code]

3. Upgrade os and console to v1.3.0-rc1
[code]
4. Check the ubuntu console version
[code]
**Results:**
I think the console version should be "v1.2.0" and not "v1.3.0".
When up

[2018-03-20 11:18] kingsd041 opened #2299 "ZFS build fails due to kernel version"
**RancherOS Version: (ros os version)**
v1.3.0-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

Starting zfs in rancheros v1.3.0-rc1 fails, when I run `sudo ros service up zfs` you can see the following logs

[code]

[2018-03-20 11:37] kingsd041 commented on #2258
The system-docker container-crontab of rancheros v1.3.0-rc1 has been upgraded to v0.4.0 and the issue has been fixed.

[2018-03-20 11:37] #2258 closed

[2018-03-20 12:17] mudrii commented on #442
+1 Nice to have Hyper-V support and documentation

[2018-03-20 23:04] stieler-it commented on #900
I created two new servers using v1.2.0 without the workaround in cloud-config and the MTU of both eth0 and docker0 was 1500 again. This resulted in brittle network connections so I put the workaround back in place.

[2018-03-21 03:46] kingsd041 opened #2300 "User-docker sucks with docker-17.12.1+"
**RancherOS Version: (ros os version)**
v.1.3.0-rc1
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

Switch docker-17.12.1-ce to docker-17.09.1-ce, the docker driver uses vfs by default。
[code]
I found the following error log in docker.log
[code]

[2018-03-21 06:40] kingsd041 commented on #2255
System-docker works fine when upgrading to 17.06
Close it.

[2018-03-21 06:40] #2255 closed

[2018-03-21 08:27] niusmallnan commented on #2298
I know the reason.
For v1.3.0-rc1, we have upgraded the system-docker to 17.06, the overlay2 is the default storage driver.
For v1.2.0, the overlay is the storage driver.
When we upgraded os from v1.2.0 to v1.3.0-rc1, all the system containers will be lost because of the storage driver.
In this case, `rancher/os-ubuntuconsole:v1.2.0` has been lost, the system-docker will enable `rancher/os-ubuntuc

[2018-03-22 08:59] niusmallnan commented on #2299
It seems that zfs is not compatible with the 4.15.x kernel.
https://github.com/zfsonlinux/zfs/issues/7159

[2018-03-23 04:13] tohizma commented on #1785
I'm confirming using v1.3.0-rc1 problem still exist.

How to reproduce :
- installed on bare metal with core2duo 2,3GHz 2GB Memory (also tried on virtualbox with 2GB memory)
- running official php+apache container (unmodified)
- running official mariadb container (unmodified)
- manual install of wordpress for test load (not in dedicated container, just run from php+apache container)
- hit 1 wordpr

[2018-03-23 07:17] niusmallnan commented on #2300
In my testing, the problem may be on `docker-17.12.1-ce`. If you switch other docker versions there is no problem, such as:
docker-17.09.1-ce ---> docker-xxx-ce(not 17.12..1) ---> docker-17.09.1-ce

If  the problem has already occurred, user-docker cannot work. The workaround is to rebuild the console, you can use `ros console switch xxx` to rebuild it.

[2018-03-23 07:58] niusmallnan commented on #2297
We use the docker API SDK(different from docker CLI) to load images, It should be an asynchronous method that does not block processes. I think this may be the cause of this timing issue.

A workaround can be like this:
Use `runcmd` instead of your custom service, before you start your container, use a script to check if the image is loaded.(Maybe this is not a good idea)

Or do not use `preload-u

[2018-03-23 08:25] totogo opened #2301 "Add AMI in AWS China Region"
As you may know AWS China is kind of isolated from other AWS regions. If you could add an AMI in AWS China cn-north-1 region, it would be much easier for us. Thanks!

[2018-03-23 10:00] niusmallnan opened #2302 "Support ARM server"
Now we have supported RPi image, I think we should support a `rancheros-armv8.iso` for ARM server.

[2018-03-23 13:05] igormrbean commented on #2297
Hi,

Thank you for your prompt answer.  Personally, I think that in some use cases, it might be interesting to have async and in others, to have a sync.

For instance, when you deploy thousands of ros instances, and provision them later using rancher server or something like that, timing isn't really important, and you probably want to have faster boot.  However, in my case, I want to boot a VM, w

[2018-03-23 15:56] wfleurant commented on #1785
please confirm kernel parameters `dmesg | head | grep vmlinuz`

looking for similar line:
[code]

[2018-03-24 05:44] tohizma commented on #1785
[    0.000000] Command line: BOOT_IMAGE=../vmlinuz-4.15.9-rancher printk.devkmsg=on rancher.state.dev=LABEL=RANCHER_STATE rancher.state.wait console=tty0 rancher.autologin=tty1  initrd=../initrd-v1.3.0-rc1

[2018-03-24 23:12] wfleurant commented on #1785
From d263be4 it looks like it went into `v1.3.0-rc1` (but, this also matches your version too) hmm.. I downloaded the ISO, mounted it and looked at global.cfg

[code]

The file `global.cfg` has the panic=10 command (seen with multi-line for this post)
[code]

Last question, how did you install Docker OS to disk? Did you upgrade from a previous version or was this a fresh installation?

If it was a

[2018-03-25 04:21] tohizma commented on #1785
i do fresh install, burn iso to usb disk with rufus 2.18 ( choose mode iso burn than dd ),
boot iso and install to blank /dev/sda with cloud-config.yml nothing but ssh key, static ip and name servers

then do 'sudo ros config syslinux' to add autologin without touching any parameters

i will try another mode for rufus burning maybe rufus tampering kernel because rufus complaint something about vml

[2018-03-25 05:56] tohizma commented on #1785
Confirming, re-download v3.1.0-rc1, test several times on virtualbox
When running live from iso there's panic=10 parameter

image : https://pasteboard.co/Hduq5rl.png

but when installed on hardisk, no more panic parameter

https://pasteboard.co/HduqgPN.png

( we're seeing duplicated autologin because i choose autologin from rancheros boot screen )

Here's when i choose default on boot screen, stil

[2018-03-25 19:56] hastly opened #2303 "4Gb is not enough to boot RancherOS"
**RancherOS Version: (ros os version)**
1.1.4 as well as 1.2.0
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
KVM powered VPS with 4Gb RAM limit
boot from downloaded RancherOS ISO via grab config:

[code]

... and during the boot Kernel Panic on not enough disk space (it's about memory-allocated tmpfs, isn't it?)

[code]

[2018-03-26 01:37] niusmallnan commented on #2303
What is the root disk? I think you should increase some

[2018-03-26 02:28] niusmallnan commented on #1785
Fix by https://github.com/rancher/os/commit/fe5d2dd32b940c6950276158114568b1388d2f36

@kingsd041 can you help me confirm this?

[2018-03-26 02:32] Jason-ZW commented on #2284
@josmo Are you sure can create a weird directory？ It should create nothing when set encoding "gzip+base64" base the current code logic. Could you please check and let me know system-docker log with the command `system-docker logs -f console` and it shoud be an error log such like this `level=error msg="Error writing file" err="Unable to write file with encoding gzip+base64" path= `?

[2018-03-26 03:16] kingsd041 commented on #1785
@niusmallnan
Tested with https://github.com/rancher/os/commit/fe5d2dd32b940c6950276158114568b1388d2f36
When I installed to the hard disk, I could see the `panic=10` parameter.
[code]

[2018-03-26 03:26] kingsd041 commented on #1785
Close it.
If you still have doubts, please reopen it and let me know.

[2018-03-26 03:26] #1785 closed

[2018-03-26 06:39] #2280 closed

[2018-03-26 07:21] niusmallnan commented on #2297
@Jason-ZW
We can introduce some flags, like `rancher.user_preload.wait` and `rancher.system_preload.wait`.
We can ensure that user-specified images are synchronized to load via these flags.

Please track this issue.

[2018-03-26 10:13] hastly commented on #2303
It seems that memory hotplug subsystem is not working when i boot from ros ISO. :

It takes this on my installed system to make it work:

[code]
I wonder, should I patch an ISO to make corresponding changes or there is another way.

[2018-03-26 10:15] hastly commented on #2303
@niusmallnan
Sorry, I don't think it has something to do with a real disk space.

[2018-03-26 17:00] ryanrca commented on #928
Is there a workaround for this?  I awoke this morning to many downed services (that have been working fine for months) and discovered all hosts were out of disk space.  There are thousands of these entries in /var/lib/docker/overlay.

I'd like to figure out how to fix it quickly vs, re-deploying new hosts and updating DNS.

[2018-03-27 05:34] niusmallnan commented on #2303
Hi @hastly ,

If I want to reproduce this problem, what kind of environment do you recommend?

[2018-03-27 06:33] JacieChao commented on #2295
We could add rancher.modules with parameters now.

Here's an example:
For CLI, you could use the following command:

`sudo ros config set rancher.modules "['nbd nbds_max=1024']"`

For YAML:
[code]

[2018-03-27 06:48] prologic commented on #2295
This works in v1.2.0? It wasn't clear from the docs at all :/

[2018-03-27 06:57] niusmallnan commented on #2295
@prologic No, we put it into the milestone v1.4.0.

[2018-03-27 07:05] prologic commented on #2295
@imikushin Ahh sorry, @JacieChao's comment made it sound like this was already supported.

[2018-03-27 07:20] niusmallnan commented on #2299
An import user needs to use zfs, so I roll back the kernel to 4.9.x , then zfs can work fine.

[2018-03-27 08:56] niusmallnan opened #2306 "Make sure that RancherOS is fully compatible with Rancher 2.0"
As we know that Rancher 2.0 will be released soon, we should ensure that RancherOS can run it well.

If possible, we should provide a guide to point out some key configurations.

[2018-03-27 09:42] sriman commented on #1106
Copy & paste in the user data

#cloud-config
write_files:
  - path: /etc/rc.local
    permissions: "0755"
    owner: root
    content: |
      #!/bin/bash
      for i in {1..20}
      do
      docker info && break
      sleep 1
      done
      #Starting the Rancher Agent
      # Setting a CATTLE_HOST_LABELS of "spotinst.instanceId" which is REQUIRED for the Spotinst integration to work.(MUST para

[2018-03-27 14:02] kingsd041 opened #2307 "Unable to launch instance using r3.large"
**RancherOS Version: (ros os version)**
Only v1.3.0-rc2
**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
AWS

Using rancherosv1.3.0-rc2 and r3.large failed to launch the instance

I can find the system log of the instance in aws
[code]

[2018-03-27 14:37] kingsd041 commented on #2299
ZFS is available in rancher v1.3.0-rc2

[2018-03-28 03:04] niusmallnan commented on #2307
I tried r4 and it worked fine. The r4 is the current generation.
Keep this open.
If anybody needs to use r3, please let me know.

[2018-03-29 01:01] nayang777 opened #2308 "User cannot resize root disk"
**RancherOS Version: (ros os version)**
v1.2.0 and prior version

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
DigitalOcean

**Issue description**
It might be expected behavior but just wanted to see if there's a way we can address it for DO images. It looks like regardless of the configuration of a droplet, the volume size is always 7.4gb. We've been directing

[2018-03-29 03:16] niusmallnan commented on #2308
It seems perfectly reasonable to default to having the disk resize on first deployment.  This should be a simple one.  When launching RancherOS just add the following to the kernel cmdline

`rancher.resize_device=/dev/vda`

[2018-03-29 03:16] #2308 closed

[2018-03-29 08:11] nayang777 commented on #2298
As `overlay` is not recommended for system-docker, we switched the storage driver of system-docker to `overlay2` in v1.3.0. Please be noted that all the containers and images in system-docker will be wiped after the upgrade as the strorage driver is changed.

For normal situation, you don't need to backup the data under system-docker, all the images will be re-pulled automatically after the upgrad

[2018-03-29 15:48] dodancs commented on #657
Hey. I've just installed rancheros with these parameters:
`ros install -c /var/lib/rancher/conf/cloud-config.yml -d /dev/xvda --append "rancher.password=rancher"`
My config file looks as follows (cloud-config.yml):
`#cloud-config
rancher:
    ssh:
        keys:
            rsa: |+
                [private key for rancher]
            rsa-pub: |+
                [public key for rancher]
    network

[2018-03-29 15:49] dodancs opened #2309 "Rancher OS config not applied"
Hey. I've just installed rancheros with these parameters:
`ros install -c /var/lib/rancher/conf/cloud-config.yml -d /dev/xvda --append "rancher.password=rancher"`
Rancher OS is the latest version from github (1.3.0), I'm using rancher.iso.
My config file looks as follows (cloud-config.yml):
`#cloud-config
rancher:
    ssh:
        keys:
            rsa: |+
                [private key for rancher]

[2018-03-29 18:26] ryansch commented on #2270
The default kernel in 1.3.0 final is 4.9.80.  We're still waiting on 4.15.x to fix the overlay fs bugs that cause tar to die.

[2018-03-29 18:44] ryansch commented on #2299
@niusmallnan is this why 4.15.x didn't make it out?  Do you have a timeline?  I've intentionally not deployed a workaround for the bug we've got because 1.3.0 was right around the corner.

[2018-03-29 23:48] alex-s-team opened #2310 "Untested Docker version?"
**RancherOS Version: (ros os version)**
RancherOS v1.3.0 (with KVM) (4.9.80)

**Where are you running RancherOS? (docker-machine, AWS, GCE, baremetal, etc.)**
kvm / qemu / libvirt on ubuntu xenial

one installation shows "Untested Docker version", another installation (same everything) does not.
how can i find the source of this problem?

both installations show the exact same versions:
docker --v

[2018-03-30 02:45] niusmallnan commented on #2310
Hi, just want to know where to show `"Untested Docker version"`.
`docker` means user-docker, it is the official version, I did not make any changes.
For `system-docker`, I did make some changes, I need to get rid of some unnecessary feature.
https://github.com/niusmallnan/os-system-docker

[2018-03-30 02:52] niusmallnan commented on #928
@JacieChao
We have upgraded the system-docker to 17.06 in v1.3.0 and used `overlay2` as default storage driver.
Please help to check if this issue can be mitigated.

[2018-03-30 03:07] niusmallnan commented on #2309
It seems like that you miss the `#cloud-config`.
[code]

[2018-03-30 03:15] niusmallnan commented on #2270
@ryansch
I tried to bump the kernel to 4.15.x, but zfs cannot work. https://github.com/rancher/os/issues/2299

I must roll back the kernel to 4.9.x.
I will try 4.14.x in next release, 4.14.x another LTS version and provides newer features.